<!-- templates/button.html -->

{% load i18n %}

{% if user.is_authenticated %}
    <form action="{% url 'payments:charge' product.slug %}" method="post">
      {% csrf_token %}
      <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
              data-key="{{ key }}"
              data-description="{{ product.title|capfirst }}"
              data-amount="{{ product.price }}"
              data-locale="auto"
              data-currency="eur"
              data-email="{{ user.email }}"
              data-label="{% trans 'buy with card'|capfirst %}"></script>
    </form>
{% endif %}