# Secrets
diventi/media/*
diventi/static/*
diventi/staticfiles/*
latest.dump
diventi.sqlite*
secrets.json
gmail-api.json
adventures.json
brave-rewards-verification.txt
fixtures/*
book_paper*

# Vagrant
.vagrant/*
Vagrantfile

# Python bytecode
*.py[co]

# Packaging files
*.egg*

# Sphinx docs
build

# SQLite3 database files
*.db

# Logs
*.log

# Linux Editors
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
.elc
auto-save-list
tramp
.\#*
*.swp
*.swo

# Mac
.DS_Store
._*

# Windows
Thumbs.db
Desktop.ini
