acme==0.26.1
asn1crypto==0.24.0
boto==2.49.0
boto3==1.7.75
botocore==1.10.75
cachetools==4.0.0
certbot==0.26.1
certifi==2018.4.16
cffi==1.14.0
chardet==3.0.4
colorama==0.3.9
ConfigArgParse==0.13.0
configobj==5.0.6
cryptography==2.3
distro==1.5.0
dj-database-url==0.5.0
Django==2.2.13
django-autocomplete-light==3.5.1
django-braces==1.13.0
django-ckeditor==5.7.1
django-ckeditor-5==0.0.5
django-contrib-comments==1.9.0
django-cuser==2017.3.16
django-djconfig==0.10.0
django-haystack==3.0b1
django-infinite-scroll-pagination==1.1.0
django-js-asset==1.1.0
django-letsencrypt==3.0.1
django-machina==1.1.1
django-model-utils==3.1.2
django-modeltranslation==0.15
django-mptt==0.11.0
django-rated-reviews==0.3.0
django-recaptcha==1.4.0
django-star-ratings==0.6.1
django-storages==1.6.6
django-tex==1.1.2.post4
django-username-email==2.2.2
django-widget-tweaks==1.4.5
djangorestframework==3.9.4
docutils==0.14
future==0.16.0
google-api-python-client==1.7.11
google-auth==1.11.0
google-auth-httplib2==0.0.3
google-auth-oauthlib==0.4.1
gunicorn==19.9.0
httplib2==0.18.1
idna==2.7
Jinja2==2.10.1
jmespath==0.9.3
josepy==1.1.0
latexmk.py==0.4
markdown2==2.3.9
MarkupSafe==1.0
mistune==0.8.4
mock==2.0.0
oauthlib==3.1.0
olefile==0.46
parsedatetime==2.4
pbr==4.2.0
Pillow==7.0.0
prompt-toolkit==2.0.4
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.18
Pygments==2.2.0
pyOpenSSL==18.0.0
pyRFC3339==1.1
python-dateutil==2.7.3
pytz==2018.5
PyYAML==4.2b1
requests==2.21.0
requests-oauthlib==1.3.0
requests-toolbelt==0.8.0
rsa==3.4.2
s3transfer==0.1.13
simplejson==3.16.0
six==1.11.0
sqlparse==0.3.0
stripe==2.37.2
swapper==1.1.0
uritemplate==3.0.1
urllib3==1.24.2
wcwidth==0.1.7
Whoosh==2.7.4
zope.component==4.4.1
zope.deferredimport==4.3.1
zope.deprecation==4.4.0
zope.event==4.3.0
zope.hookable==5.0.1
zope.interface==4.5.0
zope.proxy==4.3.5
