{% load i18n %}
{% load core_extras %}

{% block rating_container %}
<span class="star-rating"{% if average_rating %} itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating"{% endif %}>
{% if average_rating %}
<meta itemprop="worstRating" content="1" />
<meta itemprop="bestRating" content="{{ rating_choices|length }}" />
<meta itemprop="ratingValue" content="{{ average_rating }}" />
<meta itemprop="ratingCount" content="{{ review_count }}" />
<meta itemprop="reviewCount" content="{{ review_count }}" />
{% endif %}
{% block rating_stars %}
{% with average_rating|to_float as rating %}
    {% include 'reviews/rating_star.html' %}        
{% endwith %}
{% endblock rating_stars %}
{% block rating_details %}
{% if show_rating_text and average_rating %}
<span class="star-rating-details">
    <span>&#183;</span>
    {% blocktrans count review_count=review_count %}{{ review_count }} review{% plural %}{{ review_count }} reviews{% endblocktrans %}:
    <strong>{{ average_rating }}</strong> ({{ average_rating_text }})</span>
    {% endif %}
    {% endblock rating_details %}
</span>
{% endblock rating_container %}