<span style="color: Mediumslateblue;">
    {% if rating == 0 %}
        <i data-feather="star" class="text-secondary"></i>
        <i data-feather="star" class="text-secondary"></i>
        <i data-feather="star" class="text-secondary"></i>
        <i data-feather="star" class="text-secondary"></i>
        <i data-feather="star" class="text-secondary"></i>
    {% elif rating < 1 %}
        <i data-feather="star" class="text-secondary"></i>
        <i data-feather="star" class="text-secondary"></i>
        <i data-feather="star" class="text-secondary"></i>
        <i data-feather="star" class="text-secondary"></i>
        <i data-feather="star" class="text-secondary"></i>
    {% elif rating == 1 %}
        <i data-feather="star" class="text-warning"></i>
        <i data-feather="star" class="text-secondary"></i>
        <i data-feather="star" class="text-secondary"></i>
        <i data-feather="star" class="text-secondary"></i>
        <i data-feather="star" class="text-secondary"></i>
    {% elif rating < 2 %}
        <i data-feather="star" class="text-warning"></i>
        <i data-feather="star" class="text-secondary"></i>
        <i data-feather="star" class="text-secondary"></i>
        <i data-feather="star" class="text-secondary"></i>
        <i data-feather="star" class="text-secondary"></i>
    {% elif rating == 2 %}
        <i data-feather="star" class="text-warning"></i>
        <i data-feather="star" class="text-warning"></i>
        <i data-feather="star" class="text-secondary"></i>
        <i data-feather="star" class="text-secondary"></i>
        <i data-feather="star" class="text-secondary"></i>
    {% elif rating < 3 %}
        <i data-feather="star" class="text-warning"></i>
        <i data-feather="star" class="text-warning"></i>
        <i data-feather="star" class="text-secondary"></i>
        <i data-feather="star" class="text-secondary"></i>
        <i data-feather="star" class="text-secondary"></i>
    {% elif rating == 3 %}
        <i data-feather="star" class="text-warning"></i>
        <i data-feather="star" class="text-warning"></i>
        <i data-feather="star" class="text-warning"></i>
        <i data-feather="star" class="text-secondary"></i>
        <i data-feather="star" class="text-secondary"></i>
    {% elif rating < 4 %}
        <i data-feather="star" class="text-warning"></i>
        <i data-feather="star" class="text-warning"></i>
        <i data-feather="star" class="text-warning"></i>
        <i data-feather="star" class="text-secondary"></i>
        <i data-feather="star" class="text-secondary"></i>
    {% elif rating == 4 %}
        <i data-feather="star" class="text-warning"></i>
        <i data-feather="star" class="text-warning"></i>
        <i data-feather="star" class="text-warning"></i>
        <i data-feather="star" class="text-warning"></i>
        <i data-feather="star" class="text-secondary"></i>
    {% elif rating < 5 %}
        <i data-feather="star" class="text-warning"></i>
        <i data-feather="star" class="text-warning"></i>
        <i data-feather="star" class="text-warning"></i>
        <i data-feather="star" class="text-warning"></i>
        <i data-feather="star" class="text-secondary"></i>
    {% elif rating == 5 %}
        <i data-feather="star" class="text-warning"></i>
        <i data-feather="star" class="text-warning"></i>
        <i data-feather="star" class="text-warning"></i>
        <i data-feather="star" class="text-warning"></i>
        <i data-feather="star" class="text-warning"></i>
    {% else %}
        <i class="fal fa-lg fa-star"></i>
        <i class="fal fa-lg fa-star"></i>
        <i class="fal fa-lg fa-star"></i>
        <i class="fal fa-lg fa-star"></i>
        <i class="fal fa-lg fa-star"></i>
    {% endif %}
</span>