{% load reviews %}
{% load i18n %}

<div class="modal fade" id="reviewModal" tabindex="-1" role="dialog" style="display: none;" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form action="{% review_form_target %}" method="post">{% csrf_token %}
        <div class="modal-header">
          <h5 class="modal-title">{{ object }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <i class="material-icons">clear</i>
          </button>
        </div>
        <div class="modal-body">
          {% render_review_form for object %}
        </div>
        <div class="modal-footer">
          <input type="submit" name="post" class="btn btn-warning btn-link submit-post" value="{% trans 'Post' %}"/>
          <button type="button" class="btn btn-danger btn-link" data-dismiss="modal">{% trans "close" %}</button>
        </div>
      </form>
    </div>
  </div>
</div>