{% extends 'base.html' %}

{% load i18n %}
{% load static %}

{% block title %}{{ survey.title}}{% endblock title %}

{% block pageheaderextraclass %}header-small{% endblock pageheaderextraclass %}
{% block pageheaderimage %}{{ cover.image }}{% endblock pageheaderimage %}

{% block pageheadercontent %}
<div class="container">
    <div class="row">
        <div class="col-md-8 ml-auto mr-auto text-center">
            <h2 class="title">{{ survey.title }}</h2>
            <h4 class="description">{{ survey.description }}</h4>                                     
        </div>
    </div>
</div>
{% endblock pageheadercontent %}

{% block content %}    
    <div class="card card-plain">
        <form method="post">
        <div class="card-body">
            <h3 class="card-title">{% trans 'Survey' %}</h3>

            <div class="row">
                {% csrf_token %}
                {{ formset.management_form }}
                {% for form in formset %}
                    {% ifchanged form.group.value %}
                    <div class="col-12">
                        <h3>{{ form.group.value.title }}</h3>
                        <p class="description">{{ form.group.value.description }}</p>
                    </div>
                    {% endifchanged %}
                    <div class="col-sm-12 col-md-6 col-lg-4">
                        <div class="form-group abel-floating {% if form.content.errors %}has-danger{% else %}has-warning{% endif %}">
                            <span>{{ form.content.label }}</span>
                            {{ form.content }}
                            {% if form.content.errors %}
                                <span class="form-text text-danger">
                                    {% for error in form.content.errors %}
                                        {{ error|escape }}
                                    {% endfor %}
                                </span>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="row">
                {% if formset.non_form_errors %}
                    {% for error in formset.non_form_errors %}
                        {{ error|escape }}
                    {% endfor %}
                {% endif %}
            </div>

            <div class="card-footer justify-content-between">
                <div class="form-check">
                </div>
                <button type="submit" class="btn btn-warning btn-round pull-right">{% trans 'send survey' %}</button>
            </div>
        </div>
        </form>
    </div>
{% endblock content %}