{% extends 'base.html' %}

{% load i18n %}
{% load static %}

{% block title %}{{ survey.title}}{% endblock title %}

{% block extrahead %}
<style>
    .form-check-input {list-style:none}
</style>
{% endblock extrahead %}

{% block pageheaderextraclass %}header-small{% endblock pageheaderextraclass %}
{% block pageheaderimage %}{{ cover.image }}{% endblock pageheaderimage %}

{% block pageheadercontent %}
<div class="container">
    <div class="row">
        <div class="col-md-8 ml-auto mr-auto text-center">
            <h2 class="title">{{ survey.title }}</h2>
            <h4 class="description">{{ survey.description }}</h4>                                     
        </div>
    </div>
</div>
{% endblock pageheadercontent %}

{% block content %}    
    <div class="card card-plain">
        <form method="post">
        <div class="card-body">
            <h3 class="card-title">{% trans 'Survey' %}</h3>

            <div class="form-row">
                {% csrf_token %}
                {{ formset.management_form }}
                {% for form in formset %}

                    {% ifchanged form.group_title.value %}
                    <div class="col-12">
                        <h3>{{ form.group_title.value }}</h3>
                        <p class="description">{{ form.group_description.value }}</p>                        
                    </div>
                    {% endifchanged %}

                    <div class="col-sm-12 col-md-6 col-lg-4 px-3 mt-2">
                        <div class="form-group label-floating bmd-form-group {% if form.content.errors %}has-danger{% else %}has-warning{% endif %}">
                            <span>{{ form.content.label }}</span>                            
                            {% if form.content.errors %}
                                <div class="text-danger">
                                    {% for error in form.content.errors %}
                                        {{ error|escape }}
                                    {% endfor %}
                                </div>
                            {% endif %}
                            {% if form.is_closed %}
                                {% for radio in form.content %}
                                <div class="form-check form-check-radio">
                                    <label for="{{ radio.id_for_label }}" class="form-check-label"> 
                                        {{ radio.tag }}{{ radio|striptags }}
                                        <span class="circle">
                                            <span class="check"></span>
                                        </span>
                                    </label>
                                </div>
                                {% endfor %}
                            {% else %}
                                {{ form.content }}
                            {% endif %}
                        </div>
                        {{ form.group_title }}
                        {{ form.group_description }}
                        {{ form.survey }}
                        {{ form.question }}
                    </div>
                {% endfor %}
            </div>

            <div class="row mb-3 p-3">
                &nbsp;
                {% if formset.non_form_errors %}
                    {% for error in formset.non_form_errors %}
                        {{ error|escape }}
                    {% endfor %}
                {% endif %}
            </div>

            <div class="card-footer justify-content-between">
                <div class="form-check">
                </div>
                <button type="submit" class="btn btn-warning btn-round pull-right">{% trans 'send survey' %}</button>
            </div>
        </div>
        </form>
    </div>
{% endblock content %}