{% extends 'base.html' %}

{% load i18n %}
{% load static %}

{% block title %}{% trans 'Answers' %}{% endblock title %}

{% block bodyclass %}signup-page sidebar-collapse{% endblock bodyclass %}

{% block pageheaderimage %}{{ cover.image }}{% endblock pageheaderimage %}

{% block pageheadercontent %}
    <div class="container">
        <div class="row">
            <div class="col-md-10 ml-auto mr-auto">
                <div class="card">                                        
                    <div class="card-body">
                        <h2 class="card-title text-center">{{ survey.title }}</h2>
                        <div class="row">                            
                            {% for answer in answers %}
                                <div class="col-md-6">
                                    <div class="info info-horizontal">
                                        <div class="icon icon-rose">
                                            <i class="fal fa-map-marker-question"></i>
                                        </div>
                                        <div class="description">
                                            <h4 class="info-title">{{ answer.question }}</h4>
                                            <p class="description">
                                                {{ answer.content }}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            {% empty %}
                            <div class="col-md-12 mr-auto ml-auto"> 
                                <div class="text-center">
                                    <h5>{% trans 'You have yet to answer this survey.' %}</h5>
                                    <a href="{% url 'feedbacks:questions' survey.slug %}" class="btn btn-warning btn-round">
                                        {% trans 'Access the questions' %}
                                    </a>
                                </div>
                            </div>
                            {% endfor %}                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'footer.html' %}
{% endblock pageheadercontent %}

{% block main %}{% endblock main %}

{% block footer %}{% endblock footer %}