{% extends 'base.html' %}

{% load i18n %}
{% load static %}

{% block title %}{{ survey.title}}{% endblock title %}

{% block pageheaderextraclass %}header-small{% endblock pageheaderextraclass %}
{% block pageheaderimage %}{{ survey.image }}{% endblock pageheaderimage %}

{% block pageheadercontent %}
<div class="container">
    <div class="row">
        <div class="col-md-8 ml-auto mr-auto text-center">
            <h2 class="title">{{ survey.title }}</h2>
            <h4 class="description">{{ survey.description }}</h4>                                     
        </div>
    </div>
</div>
{% endblock pageheadercontent %}

{% block content %}    
    <div class="card card-plain">
        <form method="post">
        <div class="card-body">
            <h3 class="card-title">{% trans 'Survey' %}</h3>
            <div class="row">
                {% csrf_token %}
                {{ formset.management_form }}
                {{ formset.non_form_errors }}
                    
                {% for column in q_columns %}
                    <div class="col-sm-12 col-md-6 col-lg-4">
                        {% for combination in column %}
                            {% if combination.0 %}                                
                                <h3 class="mt-6">{{ combination.1.group }}</h3>
                                <p class="description">{{ combination.1.group.description }}</p>
                            {% endif %}                                
                            <div class="form-group has-warning label-floating is-empty bmd-form-group">
                                <label class="bmd-label-floating">{{ combination.1 }}</label>
                                {% for form in combination.2 %}
                                    {{ form }}
                                {% endfor %}
                                <span class="material-input"></span>
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}

                {% for question, formset in combined %}                    
                    {% ifchanged question.group %}                            
                        <h3 class="mt-6">{{ question.group }}</h3>
                        <p class="description">{{ question.group.description }}</p>
                    {% endifchanged %}
                        <div class="form-group has-warning label-floating is-empty bmd-form-group">
                            <label class="bmd-label-floating">{{ question }}</label>
                            {% for form in formset %}
                                {{ form }}
                            {% endfor %}
                            <span class="material-input"></span>
                        </div>      
                {% endfor %}
            </div>

            <div class="card-footer justify-content-between">
                <div class="form-check">
                </div>
                <button type="submit" class="btn btn-warning btn-round pull-right">{% trans 'send survey' %}</button>
            </div>
        </div>
        </form>
    </div>
{% endblock content %}