{% extends 'base_quick.html' %}
{% load i18n %}
{% load static %}

{% block title %}{% trans 'survey done'|capfirst %}{% endblock title %}

{% block preloadermodal %}{% endblock preloadermodal %}
{% block usermodal %}{% endblock usermodal %}

{% block header %}{% endblock header %}

{% block omnisearch %}{% endblock omnisearch %}

{% block content %}
<a href="{% url 'landing:home' %}" class="btn btn-neutral btn-icon-only rounded-circle position-absolute left-4 top-4 d-none d-lg-inline-flex" data-toggle="tooltip" data-placement="right" title="" data-original-title="{% trans 'go back'|capfirst %}">
   <span class="btn-inner--icon">
      <i data-feather="arrow-left"></i>
   </span>
</a>
<section>
   <div class="container d-flex flex-column">
      <div class="row align-items-center justify-content-between min-vh-100">
         <div class="col-12 col-md-6 col-xl-7 order-md-2">
            <img alt="{{ title }}" src="https://i.imgur.com/Z0uwJhP.png" class="img-fluid">
        </div>
         <div class="col-12 col-md-6 col-xl-5 order-md-1 text-center text-md-left">
            <h6 class="display-3 mb-3 font-weight-600 text-success">{% trans "survey done!"|capfirst %}</h6>
            <p class="lead text-lg mb-5">{% trans "Your answers have been recorded, you can now leave the page or return home." %}</p>
            <a href="{% url 'landing:home' %}" class="btn btn-dark btn-icon hover-translate-y-n3">
               <span class="btn-inner--text">{% trans "return home"|capfirst %}</span>
            </a>
            {% if request.user.is_authenticated %}
            <a href="{% url 'feedbacks:answers' survey.slug %}" class="btn btn-neutral btn-icon hover-translate-y-n3">
               <span class="btn-inner--text">{% trans "check answers"|capfirst %}</span>
            </a>
            {% endif %}
         </div>
      </div>
   </div>
</section>
{% endblock content %}

{% block footer %}{% endblock footer %}