{% extends 'base.html' %}

{% load i18n %}
{% load static %}

{% block title %}{{ survey.title}}{% endblock title %}

{% block pageheader %}{% endblock pageheader %}

{% block main %}
    
<div class="contactus-1 section-image" style="background-image: url('')">
    <div class="container">
        <div class="row">
            <div class="col-md-5 ml-auto mr-auto">
                <div class="card card-contact">
                    <div class="card-body">
                        <h3>{{ survey.title }}: {% trans 'your answers' %}</h3>
                        {% for answer in survey.answers.all %}
                            {{ answer.question }} 
                            {{ answer.content }}
                            {{ answer.author }}<br>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock main %}