{% load i18n %}
{% load fullurl %}

{% if user.is_authenticated %}
  <script src="https://js.stripe.com/v3"></script>
  <button class="btn btn-dark btn-icon-label btn-sm bg-danger" id="checkout-button">
      <span class="btn-inner--icon">
          <i data-feather="shopping-bag"></i>
      </span>
      {% if discount and related_products_value %}
        <span class="btn-inner--text" style="padding-right: 2em;">{% trans 'buy for'|capfirst %} <del>{{ related_products_value }}</del> <b>{{ price }}</b></span>
        <span class="badge badge-success badge-pill badge-floating">-{{ discount }}%</span>
      {% else %}
        <span class="btn-inner--text">{% trans 'buy for'|capfirst %} {{ price }}</span>
      {% endif %}
  </button>  
  <script>
    var stripe = Stripe('{{ stripe_publishable_key }}');

    var checkoutButton = document.querySelector('#checkout-button');
    checkoutButton.addEventListener('click', function () {
      stripe.redirectToCheckout({
        lineItems: [{
          price: '{{ product.stripe_price }}',
          quantity: 1,          
        }],
        customerEmail: '{{ request.user.email }}',
        clientReferenceId: '{{ request.user.nametag }}',
        mode: 'payment',
        successUrl: '{% fullurl "products:checkout_done" product.slug %}',
        cancelUrl: '{% fullurl "products:checkout_failed" product.slug %}',
      });
    });
  </script>
{% endif %}