{% load i18n %}

<div class="d-flex justify-content-center">
<div class="mt-1">
{% if user.is_authenticated %}
    {% if product.book.published and bought %}
            <a href='{{ product.book.get_absolute_url }}' class="btn btn-secondary btn-sm btn-icon bg-light-warning">
                {% trans "read online"|capfirst %}
            </a>        
    {% elif product.book.published and product.unfolded %}
    
        {% if product.at_a_premium %}
          {% with object=package %}
            {% include "products/partials/pay_button.html" %}
          {% endwith %}
        {% else %}
          <form action="{% url 'products:add' product.slug %}" method="POST">
              {% csrf_token %}
              {{ add_collection_form }}
              {{ add_collection_form.errors }}
              <button type="submit" class="btn btn-secondary btn-icon-label btn-sm btn-icon bg-light-danger">
                <span class="btn-inner--text">{% trans "Add to collection" %}</span>
              </button>               
          </form>
        {% endif %}
    
    {% elif not product.unfolded and product.product_survey %}
        {% if not survey_answered %}
            <a href="{% url 'feedbacks:new_answers_gate' product.product_survey.slug %}" class="btn btn-primary {{ button_action_class }} btn-sm btn-icon-label">
                <span class="btn-inner--text">{{ product.product_survey.title }}</span>
            </a>
        {% else %}
            <a class="btn btn-success btn-sm btn-icon disabled">
                <span class="btn-inner--text">{% trans "you've already answered"|capfirst %}!</span>
            </a>
            <div class="mt-1">
                <small>
                    {% trans "you can"|capfirst %} <a href="{% url 'feedbacks:answers' product.product_survey.slug %}"> {% trans "check your answers here" %}</a> {% trans 'or' %} <a href="{% url 'accounts:detail' user.nametag %}#{% trans 'collection' %}"> {% trans "in your collection" %}</a>.
                </small>
            </div>
        {% endif %}
    {% else %}
        <a class="btn btn-soft-dark btn-sm {{ button_action_class }} disabled" data-toggle="tooltip" data-placement="bottom" title="{{ product.courtesy_message }}" disabled>
            {{ product.courtesy_short_message }}
        </a>
    {% endif %}

{% else %}
    {% if product.book.published and product.unfolded %}
        <a href="{% url 'accounts:signin' %}?next={{ request.path }}" class="btn btn-secondary btn-sm btn-icon bg-light-success">
            <i data-feather="user-check" class=" mr-1 mb-1"></i> {% trans "Sign in and buy for " %}{{ price }}</a>
    {% elif not product.unfolded and product.product_survey and product.product_survey.public %}
    <div class="mt-1">
        <a href="{% url 'feedbacks:new_answers_gate' product.product_survey.slug %}" class="btn {{ button_action_class|default:'btn-primary' }} btn-secondary btn-sm bg-light-primary btn-icon-label">
            <span class="btn-inner--text">{{ product.product_survey.title }}</span>
        </a>
    </div>
    {% else %}
    <div class="mt-1">
        <a class="btn btn-soft-dark btn-sm {{ button_action_class }} disabled" data-toggle="tooltip" data-placement="bottom" title="{{ product.courtesy_message }}" disabled>
            {{ product.courtesy_short_message }}
        </a>
    </div>
    {% endif %}
{% endif %}
    </div>
</div>