{% load i18n %}

{% for product in collection %}
    <div class="row align-items-center mb-4">
        <div class="col-auto">                                        
            <div class="icon icon-shape {% if product.book.published or product.file %}bg-soft-{{ product.category.color }} text-{{ product.category.color }}{% else %}bg-soft-secondary text-secondary{% endif%}">
                <i data-feather="book"></i>
            </div>
        </div>
        <div class="col pl-0">
            {% if product.book.published %}
            <span class="h6 text-sm mb-0">
                <a href="{{ product.book.get_absolute_url }}" class="btn-link">{{ product.title|capfirst }}</a>
            </span>   
            {% elif product.file %}                                     
            <span class="h6 text-sm mb-0">
                <a href="{% url 'products:user_product_download' product.slug %}" class="btn-link">{{ product.title|capfirst }}</a>
            </span>
            {% else %}
            <span class="h6 text-sm mb-0" data-toggle="tooltip" data-placement="bottom" title="" data-container="body" data-original-title="{{ product.courtesy_message }}">
                <a tabindex="0" href="{{ product.book.get_absolute_url }}" class="btn-link disabled">{{product.title|capfirst }}</a></span>
            {% endif %}
            <p class="mb-0 text-sm">{{ product.category }}</p>
        </div>                                    
    </div>
    {% empty %}
    <p class="text-sm text-black-50 text-center">{% trans "This collection is empty." %}</p>
{% endfor %}