{% extends 'base.html' %}

{% load i18n %}
{% load static %} 

{% block title %}{{ product.title }}{% endblock title %}

{% block extrahead %}
    <link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
    <script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
{% endblock extrahead %}

{% block bodyclass %}product-page{% endblock bodyclass %}

{% block pageheaderimage %}{% if product.cover %}{{ product.cover.url }}{% endif %}{% endblock pageheaderimage %}

{% block main %}
<div class="section section-gray">
    <div class="container">
        <div class="main main-raised main-product">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="tab-content">
                        {% for imagepreview in product.imagepreviews.all %}
                        <div class="tab-pane {% if forloop.first %}active{% endif %}" id="product-page{{ imagepreview.id }}">
                             <img src="{{ imagepreview.image }}"/>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="nbs-flexisel-container">
                        <div class="nbs-flexisel-inner">
                            <ul class="nav flexi-nav nbs-flexisel-ul" role="tablist" id="flexiselDemo1">
                                {% for imagepreview in product.imagepreviews.all %}
                                <li class="nbs-flexisel-item">
                                    <a href="#product-page{{ imagepreview.id }}" role="tab" data-toggle="tab" aria-expanded="false">
                                        <img src="{{ imagepreview.image }}"/>
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                            <!--                
                            Activate in case of many items
                            <div class="nbs-flexisel-nav-left">
                                <i class="material-icons">chevron_left</i>
                            </div>
                            <div class="nbs-flexisel-nav-right">
                                <i class="material-icons">chevron_right</i>
                            </div>
                            -->
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">

                    <h2 class="title">{{ product.title }}</h2> 

                    {% if bought %}
                        <a class="badge badge-info" href="{% url 'accounts:update' user.id %}#yourcollection">
                            <i class="fal fa-flag fa-lg"></i>&nbsp; {% trans "In your collection" %}
                        </a>
                    {% endif %}

                    <div id="accordion" role="tablist">
                            <div class="card card-collapse">
                                <div class="card-header" role="tab" id="headingOne">
                                    <h5 class="mb-0">
                                        <a data-toggle="collapse" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne" class="collapsed">
                                            Description
                                            <i class="material-icons">keyboard_arrow_down</i>
                                        </a>
                                    </h5>
                                </div>
                                <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion" style="">
                                    <div class="card-body">
                                        <p>Eres' daring 'Grigri Fortune' swimsuit has the fit and coverage of a bikini in a one-piece silhouette. This fuchsia style is crafted from the label's sculpting peau douce fabric and has flattering cutouts through the torso and back. Wear yours with mirrored sunglasses on vacation.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card card-collapse">
                                <div class="card-header" role="tab" id="headingTwo">
                                    <h5 class="mb-0">
                                        <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            Designer Information
                                            <i class="material-icons">keyboard_arrow_down</i>
                                        </a>
                                    </h5>
                                </div>
                                <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
                                    <div class="card-body">
                                        An infusion of West Coast cool and New York attitude, Rebecca Minkoff is synonymous with It girl style. Minkoff burst on the fashion scene with her best-selling 'Morning After Bag' and later expanded her offering with the Rebecca Minkoff Collection - a range of luxe city staples with a "downtown romantic" theme.
                                    </div>
                                </div>
                            </div>
                            <div class="card card-collapse">
                                <div class="card-header" role="tab" id="headingThree">
                                    <h5 class="mb-0">
                                        <a class="collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                            Details and Care
                                            <i class="material-icons">keyboard_arrow_down</i>
                                        </a>
                                    </h5>
                                </div>
                                <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
                                    <div class="card-body">
                                        <ul>
                                            <li>Storm and midnight-blue stretch cotton-blend</li>
                                            <li>Notch lapels, functioning buttoned cuffs, two front flap pockets, single vent, internal pocket</li>
                                            <li>Two button fastening</li>
                                            <li>84% cotton, 14% nylon, 2% elastane</li>
                                            <li>Dry clean</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                
                    <div class="row">
                        <div class="col-md-6 pick-size">
                            {% load ratings %}
                            {% ratings product %}
                        </div>                    
                        {% if user.is_authenticated %}
                            <div class="col-md-6 text-right pick-size">
                                {% if bought %}                            
                                    <form action="{% url 'products:drop' product.slug %}" method="POST">
                                        {% csrf_token %}
                                        {{ drop_collection_form }}
                                        {{ drop_collection_form.errors }}
                                        <button type="submit" class="btn btn-round btn-gray btn-tooltip" data-toggle="tooltip" data-placement="bottom" title="" data-container="body" data-original-title="{% trans 'Remove this product from your collection' %}.">
                                            <i class="fal fa-trash-alt fa-lg"></i>
                                        </button>
                                    </form>
                                {% else %}
                                    <form action="{% url 'products:add' product.slug %}" method="POST">
                                        {% csrf_token %}
                                        {{ add_collection_form }}
                                        {{ add_collection_form.errors }}
                                        <button type="submit" class="btn btn-round btn-warning btn-tooltip" data-toggle="tooltip" data-placement="bottom" title="" data-container="body" data-original-title="{% trans 'Add this product to your collection' %}.">
                                            <i class="fal fa-plus fa-lg"></i>
                                        </button>
                                    </form>
                                {% endif %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <div class="related-products">
            {% if product.chapters.all %}
                <div class="row">
                    <div class="col-md-10 mr-auto ml-auto">
                        <h3 class="title text-center">Playable chapters</h3>
                        <div class="row">
                            {% for chapter in product.chapters.all %}
                            <div class="col-sm-6 col-md-4">
                                <div class="card card-product">
                                    <div class="card-image">
                                        <a href="#">
                                            <img class="img" src="{{ chapter.image }}">
                                        </a>
                                        <div class="colored-shadow" style="background-image: url({{ chapter.image }};); opacity: 1;"></div>
                                        <div class="ripple-container"></div>
                                    </div>
                                    <div class="card-content">
                                        <h6 class="category text-rose">Adventure</h6>
                                        <h4 class="card-title">
                                            {{ chapter.title|title }}
                                        </h4>
                                        <div class="card-description">
                                            {{ chapter.description|striptags|capfirst }}
                                        </div>
                                        <div class="footer">
                                            <div class="stats">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
        
        {% if product.authors.all %}
            <div class="row">
                <div class="col-md-10 ml-auto mr-auto">       
                    <h3 class="title text-center">{% trans "Content creators" %}</h3>
                    <div class="team">
                        <div class="row">                   
                            {% for author in product.authors.all %}
                                <div class="col-md-4">
                                    <div class="card card-profile card-plain">
                                        <div class="card-avatar">
                                            <a href="pablo">
                                                {% if author.profilepic %}
                                                    <img class="img" src="{{ author.profilepic.url }}">
                                                {% endif %}
                                            </a>
                                        </div>
                                        <div class="card-content">
                                            <h4 class="card-title">{{ author.get_full_name}}</h4>
                                            <h6 class="category text-rose">{% trans "Creator" %}</h6>
                                            <p class="card-description">
                                                {{ author.bio }}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
</div>    

<div class="container">
    <div class="section section-comments">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto">
                {% include "comments/comment_list.html" %}
            </div>
        </div>
    </div>
</div>

{% endblock main %}