{% load i18n %}
{% load reviews %}

<div class="card card-product">
  <div class="card-header card-header-image">
    <a href="{{ product.get_absolute_url }}">
      <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" class="img" data-src="{{ product.image }}">
    </a>
  <div class="colored-shadow" style="background-image: url(&quot;{{ product.image }}&quot;); opacity: 1;"></div></div>
  <div class="card-body">
    <h6 class="card-category text-rose">{{ product.category }}</h6>
    <h4 class="card-title">
      <a href="{{ product.get_absolute_url }}">{{ product.title }}</a>
    </h4>
    <div class="card-description">
      {{ product.abstract }}
    </div>
  </div>
  <div class="card-footer justify-content-between">
    <div class="price">
      <h4>{% if product.price %}{{ product.get_price }}{% else %}<small>{% trans 'free'|upper %}</small>{% endif %}</h4>
    </div>
    <div class="ml-auto">
      {% get_review_count for product as review_count %}
      <span class="text-info" rel="tooltip" title="" data-original-title="{% trans 'community reviews'|capfirst %}">
        <h4><i class="fad fa-pencil fa-sm"></i> {{ review_count }}</h4>
      </span>
    </div>
  </div>
</div>