{% extends 'base_quick.html' %}
{% load static %}
{% load i18n %}

{% block base_opengraph %}
    <meta property="og:title" content="Diventi games list" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ request.build_absolute_uri }}" />
    <meta property="og:image" content="{% static 'diventi/img/diventi-og-image.png' %}" />
{% endblock base_opengraph %}

{% block title %}{% trans 'games list'|capfirst %}: {{ filtered_category.title_plural|lower }}{% endblock title %}

{% block headerclass %}header-transparent{% endblock headerclass %}

{% block navbarclass %}navbar-dark bg-dark{% endblock navbarclass %}

{% block navbar_brand_style %}text-white{% endblock navbar_brand_style %}

{% block content %}

<section class="slice slice-lg py-6 bg-cover bg-size--cover bg-gradient-gray-dark">
    <div class="container d-flex align-items-center" style="padding-top:60px;">
        <div class="col py-5">
            <div class="row align-items-center justify-content-center">
                <div class="col-md-7 col-lg-7 text-center">
                    <h1 class="display-4 text-white mb-2">{{ productcover.title }}</h1>
                    <span class="text-white text-sm">{{ productcover.description }}</span>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="border-bottom">
    <div class="container py-4">
        <div class="row align-items-center">
            <div class="col-lg-12 d-inline-flex justify-content-center">
                <ul class="nav">
                    {% for c in categories %}
                    {% if forloop.first %}
                        <li class="nav-item">
                            <a class="nav-link {% if not view.kwargs.category %}active{% endif %}" href="{% url 'products:list' %}">{% trans "all"|capfirst %}</a>
                        </li>
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link {% ifequal c.slug view.kwargs.category %}active{% endifequal %}" href="{% url 'products:list_category' c.slug %}">{{ c.title|capfirst }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="slice bg-section-secondary">
    <div class="container">
        <div class="row mx-lg-n4">
            {% for product in products %}
            <div class="col-md-4 px-lg-2">
                <div class="card hover-translate-y-n3 hover-shadow-lg overflow-hidden card-fluid">
                    <div class="position-relative overflow-hidden">
                        <a href="{{ product.get_absolute_url }}" class="d-block">
                            <img loading="lazy" src="{{ product.image }}" alt="{{ product.title|capfirst }}" class="card-img-top">
                        </a>
                    </div>
                    <div class="card-body py-4">
                        <small class="d-block text-sm text-{{ product.category.color }} mb-2"><strong>{{ product.category|capfirst }}</strong> {% with product as object %}
                                    {% if user.is_staff %}<span class="ml-1">{% include 'publishable_badge.html' %}</span>{% endif %}
                                {% endwith %}</small> 
                            <a href="{{ product.get_absolute_url }}" class="h5 stretched-link lh-150">
                                {{ product.title|capfirst }}
                            </a>
                        <p class="mt-3 mb-0 lh-170">
                            {{ product.abstract|truncatechars:200 }}
                        </p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% if is_paginated %}
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">{% trans "Previous" %}</a></li>
                {% else %}
                <li class="page-item disabled"><span class="page-link">{% trans "Previous" %}</span></li>
                {% endif %}
                {% for i in page_obj.paginator.page_range %}
                {% if page_obj.number == i %}
                <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">({% trans "current" %})</span></span></li>
                {% else %}
                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">{% trans "Next" %}</a></li>
                {% else %}
                <li class="page-item disabled"><span class="page-link">{% trans "Next" %}</span></li>
                {% endif %}
            </ul>
        {% endif %}
    </div>
</section>
{% endblock content %}