{% extends 'base_quick.html' %}
{% load core_extras %}
{% load i18n %}
{% load static %}
{% load reviews %}
{% load humanize %}

{% block base_opengraph %}
    <meta property="og:title" content="Diventi: {{ product.title }}" />
    <meta property="og:type" content="og:website" />
    <meta property="og:url" content="{{ request.build_absolute_uri }}" />
    <meta property="og:image" content="{% if product.postcard %}{{ product.postcard }}{% else %}{{ product.image }}{% endif %}" />
    <meta property="og:description" content="{{ product.abstract }}" />
{% endblock base_opengraph %}

{% block title %}{{ product.title }}{% endblock title %}


{% block content %}

<section class="slice pt-4 bg-section-secondary">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-8">
                        {% with product as object %} 
                            {% if user.is_staff %}
                                <span class="ml-1">{% include 'publishable_badge.html' %}</span>
                            {% endif %}
                        {% endwith %}
                        <h1 class="h2 mt-4">
                            {{ product.title|capfirst }}
                        </h1>
                    </div>
                    <div class="col-lg-5 col-md-7 mx-md-auto order-lg-2 order-2">
                        {% with button_action_class='w-100' %}
                            {% include "products/partials/product_detail_actions.html" %}
                        {% endwith %}
                        <div class="mt-4 pb-4">
                            <ul class="list-group">
                              <li class="list-group-item">{{ product.description|capfirst }}</li>
                              <li class="list-group-item">
                                <b>{% trans "formats"|capfirst %}:</b> {% for format in product.formats.all %}
                                    <a tabindex="0" class="h6 text-muted text-underline--dashed" href="#/" data-container="body" data-toggle="popover" data-placement="bottom" title="{{ format.title }}" data-content="{{ format.description }}">
                                        {{ format.title|lower }}
                                    </a>
                                {% endfor %}
                            </li>
                              <li class="list-group-item">
                                {% get_rating for product as average_rating %}
                                {% get_review_count for product as rating_count %}
                                {% with average_rating as rating %}
                                    <span class="static-rating d-block">
                                        {% include "reviews/rating_star.html" %}
                                    </span>
                                {% endwith %}
                                <span class="h6">{{ average_rating|floatformat:1|default:'-' }} {% trans "out of 5 stars" %}</span>
                                <span class="text-muted text-sm mb-0">{% trans "from" %} <a href="#{% trans 'reviews' %}" class="text-sm mb-0">{{ rating_count }} {% blocktrans count counter=rating_count %}review{% plural %}reviews{% endblocktrans %}</a></span>
                            </li>
                              <li class="list-group-item"><b>{% trans 'Last update date' %}:</b> {{ product.modified|date:'M d, Y' }}</li>
                              <li class="list-group-item"><b>{% trans 'category'|capfirst %}:</b> <a href="{% url 'products:list_category' product.category.slug %}" target="_blank" class="text-{{ product.category.color|default:'primary' }}">{{ product.category|lower }}</a></li>
                            </ul>
                        </div>                        
                    </div>
                    <div class="col-lg-6 order-1">
                      <div class="card border-0">
                        <figure>
                          <img loading="lazy" alt="{{ product.title|capfirst }}" src="{{ product.image }}" class="card-img">
                        </figure>
                      </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="shape-container shape-line shape-position-bottom"><svg width="2560px" height="100px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="none" x="0px" y="0px" viewBox="0 0 2560 100" style="enable-background:new 0 0 2560 100" xml:space="preserve" class=""><polygon points="2560 0 2560 100 0 100"></polygon></svg>
        </div>
    </div>
</section>

<!-- Features section -->
<section class="slice delimiter-bottom">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-10 mb-5">
                <span class="badge badge-primary badge-pill">{% trans "key features"|capfirst %}</span>
            </div>
        </div>
        <div class="row">
            {% for chapter in product.chapters.all %}
            <div class="col-lg-4 col-sm-6 mb-lg-0">
                <div class="card card-fluid hover-translate-y-n10 hover-shadow-lg">
                    <div class="card-body">
                        <div class="pb-4">
                            <i data-feather="bookmark" style="height: 50px; width: 50px;"></i>
                        </div>
                        <div class="pt-2 pb-3">
                            <h5>{{ chapter.title|capfirst }}</h5>
                            <p class="text-muted mb-0">
                                {{ chapter.description|capfirst }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            {% empty %}
            <div class="col-lg-3 col-sm-6 mb-lg-0">
                <h6>{% trans "there are no key features to show for now"|capfirst %}.</h6>
            </div>
            {% endfor %}
        </div>
    </div>

</section>

{% if product.imagepreviews.all %}
<section class="slice delimiter-bottom">
    <div class="container">
        {% for image in product.imagepreviews.all %}
        <div class="section-process-step {% if forloop.first %}pt-0{% elif forloop.last %}pb-0{% endif %}">
            <div class="row row-grid justify-content-between align-items-center">
                <div class="col-lg-5 order-lg-2">
                    <h5 class="h3">{{ image.title|capfirst }}</h5>
                    <p class="lead my-4">
                        {{ image.description|capfirst }}
                    </p>
                </div>
                <div class="col-lg-6 order-lg-{% if forloop.counter|divisibleby:2 %}3{% else %}1{% endif %}">
                    <div class="card mb-0 mr-lg-5">
                        <div class="card-body p-2">
                            <img alt="{{ image.title|capfirst }}" src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="{{ image.image }}" class="img-fluid shadow rounded">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endif %}

{% if product.related_articles.all %}
<section class="slice delimiter-bottom">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-10 mb-5">
                <span class="badge badge-primary badge-pill">{% trans "our latest updates"|capfirst %}</span>
            </div>
        </div>
        <div class="row">
            {% for article in latest_articles %}
            <div class="col-md-3 col-lg-4 d-flex align-items-stretch">
                <div class="card bg-cover bg-size--cover" style="background-image:url('{{ article.image }}')">
                  <span class="mask bg-dark opacity-5"></span>
                  <div class="card-body pt-10 mt-auto position-relative">
                    <a href="{{ article.get_absolute_url }}" class="d-block h5 mb-3 text-white stretched-link">{{ article.title|capfirst }}</a>
                    <p class="mb-0 text-white">{{ article.description|capfirst }}</p>
                  </div>
                  <div class="card-body position-relative delimiter-top">
                    <div class="d-flex align-items-center">
                      <div class="text-light">
                        <i data-feather="user"></i>
                      </div>
                      <div class="pl-3">
                        <span class="h6 stretched-link text-white text-sm">{{ article.author.get_full_name }}</span>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-12 col-mx-auto text-center">
                <a href="{% url 'blog:home' %}" class="text-primary text-underline--dashed">{% trans 'view all'|capfirst %} <i data-feather="arrow-right"></i></a>
            </div>
        </div>
    </div>
</section>
{% endif %}

{% if product.details.all %}
<section class="slice">
    <div class="container pt-md-5">
        <div class="row">
            <div class="col-lg-6 col-md-10">
                <span class="badge badge-primary badge-pill">{% trans "details"|capfirst %}</span>
                <h5 class="h5 lh-180 mt-4 mb-6">
                    {% trans "here's a roundown of what you can expect from"|capfirst %} <strong class="text-primary">{{ product.title }}</strong>.
                </h5>
            </div>
        </div>
        <div class="row mx-lg-n4">
            {% for detail in product.details.all %}
            <div class="col-lg-4 col-md-6 px-lg-4">
                <div class="card card-fluid">
                    <div class="p-3 d-flex">
                        <div>
                            <div class="icon icon-shape rounded-circle bg-info text-white mr-4">
                                <i data-feather="check"></i>
                            </div>
                        </div>
                        <div>
                            <span class="h6">{{ detail.title|capfirst }}</span>
                            <p class="text-sm text-muted mb-0">
                                {{ detail.description|capfirst }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endif %}

<section class="slice bg-section-secondary">
    <div class="container">
        <div class="row mb-5 justify-content-center text-center">
            <div class="col-lg-8 col-md-10">
                <h2 class="mt-4"><a name="{% trans 'reviews' %}">{% trans "community reviews"|capfirst %}</a></h2>
                <div class="mt-2">
                    <p class="lead lh-180">{% trans "find out what others say about us"|capfirst %}.</p>
                </div>
            </div>
        </div>
        <div id="accordion-2" class="accordion accordion-spaced">
            {% get_review_list for product as review_list %}
            {% for review in review_list %}
            <div class="card">
                <div class="card-header py-4" id="heading-{{ review.pk }}" data-toggle="collapse" role="button" data-target="#collapse-{{ review.pk }}" aria-expanded="false" aria-controls="collapse-{{ review.pk }}">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="media align-items-center">
                                <div>
                                    <span class="mr-3">
                                        <img class="avatar" src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="{% if review.user.avatar.image %}{{ review.user.avatar.image }}{% else %}{% static 'brand/avatar-default.jpg' %}{% endif %}">
                                    </span>
                                </div>
                                <div class="media-body">
                                    <h6 class="h6 mb-0">
                                        {{ review.user.get_full_name|title }}
                                        {% for a in review.user.achievements.all %}
                                            {% include 'accounts/partials/achievement_badge.html' %}
                                        {% endfor %}
                                    </h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mt-2">
                            <hr class="mt-3 mb-4 d-md-none" />
                            <div class="row align-items-center">
                                <div class="col">
                                    {% with review.rating as rating %}
                                        {% include 'reviews/rating_star.html' %}
                                    {% endwith %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="collapse-{{ review.pk }}" class="collapse" aria-labelledby="heading-{{ review.pk }}" data-parent="#accordion-2">
                    <div class="card-body row align-items-center">
                        <p>{{ review.comment|capfirst }}</p>
                    </div>
                </div>
            </div>
            {% empty %}
            <h6 class="text-center">{% trans "there are no reviews yet, be the first to post one!"|capfirst %}</h6>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock content %}

{% block extrafooter %}
<div class="row justify-content-center">
    <div class="col-lg-12">
        <div class="row align-items-center">
            <div class="col-lg-7">
                <h3 class="text-secondary mb-2">{{ product.title|capfirst }}</h3>
                <p class="lead mb-0 text-white opacity-8">{{ product.abstract|capfirst }}</p>
            </div>
            <div class="col-lg-5 text-lg-right mt-4 mt-lg-0">
                {% with button_disabled_class="btn-white" button_action_class="btn-primary" footer_text_class="text-white" %}
                    {% include "products/partials/product_detail_actions.html" %}
                {% endwith %}
            </div>
        </div>
    </div>
</div>
<hr class="divider divider-fade divider-dark my-5">
{% endblock extrafooter %}
