{% extends 'base.html' %}

{% block title %}{{ product.title }}{% endblock title %}

{% block extrahead %}
    {% load static %} 
    <link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
    <script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
{% endblock extrahead %}

{% block bodyclass %}product-page{% endblock bodyclass %}

{% block pageheader %}
<div class="page-header header-filter" {% if product.cover %}style="background-image: url('{{ product.cover.url }}');"{% endif %}">
</div>
{% endblock pageheader %}

{% block main %}
<div class="section section-gray">
    <div class="container">
        <div class="main main-raised main-product">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="tab-content">
                        {% for imagepreview in product.imagepreviews.all %}
                        <div class="tab-pane {% if forloop.first %}active{% endif %}" id="product-page{{ imagepreview.id }}">
                             <img src="{{ imagepreview.image }}"/>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="nbs-flexisel-container">
                        <div class="nbs-flexisel-inner">
                            <ul class="nav flexi-nav nbs-flexisel-ul" role="tablist" id="flexiselDemo1">
                                {% for imagepreview in product.imagepreviews.all %}
                                <li class="nbs-flexisel-item">
                                    <a href="#product-page{{ imagepreview.id }}" role="tab" data-toggle="tab" aria-expanded="false">
                                        <img src="{{ imagepreview.image }}"/>
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                            <!--                
                            Activate in case of many items
                            <div class="nbs-flexisel-nav-left">
                                <i class="material-icons">chevron_left</i>
                            </div>
                            <div class="nbs-flexisel-nav-right">
                                <i class="material-icons">chevron_right</i>
                            </div>
                            -->
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">

                    <h2 class="title">                        
                        {{ product.title }} 
                        <br />
                        {% if bought %}
                            <a href="{% url 'accounts:update' user.id %}#yourcollection">
                                <span class="label label-rose">
                                    <i class="fal fa-flag fa-lg"></i>&nbsp; In your collection
                                </span>
                            </a>
                        {% endif %}
                    </h2> 

                    <div id="acordeon">
                        <div class="panel-group" id="accordion">
                          <div class="panel panel-border panel-default">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    <h4 class="panel-title">
                                    Description
                                    <i class="material-icons">keyboard_arrow_down</i>
                                    </h4>
                                </a>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in">
                              <div class="panel-body">
                                <p>{{ product.description }}</p>
                              </div>
                            </div>
                          </div>
                          <div class="panel panel-border panel-default">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <a class="text-warning" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-controls="collapseOne">
                                    <h4 class="panel-title">
                                    Details and Care
                                    <i class="material-icons">keyboard_arrow_down</i>
                                    </h4>
                                </a>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse">
                              <div class="panel-body">
                                <ul>
                                    {% for characteristic in product.characteristics.all %}
                                     <li>{{ characteristic.description|striptags|capfirst }}</li>
                                    {% endfor %}
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
                
                    <div class="row">
                        <div class="col-md-6 pick-size">
                            {% load ratings %}
                            {% ratings product %}
                        </div>                    
                        {% if user.is_authenticated %}
                            <div class="col-md-6 text-right pick-size">
                                {% if bought %}                            
                                    <form action="{% url 'products:drop' product.slug %}" method="POST">
                                        {% csrf_token %}
                                        {{ drop_collection_form }}
                                        {{ drop_collection_form.errors }}
                                        <button type="submit" class="btn btn-round btn-gray btn-tooltip" data-toggle="tooltip" data-placement="bottom" title="" data-container="body" data-original-title="Remove this product from your collection.">
                                            <i class="fal fa-trash-alt fa-lg"></i>
                                        </button>
                                    </form>
                                {% else %}
                                    <form action="{% url 'products:add' product.slug %}" method="POST">
                                        {% csrf_token %}
                                        {{ add_collection_form }}
                                        {{ add_collection_form.errors }}
                                        <button type="submit" class="btn btn-round btn-warning btn-tooltip" data-toggle="tooltip" data-placement="bottom" title="" data-container="body" data-original-title="Add this product to your collection.">
                                            <i class="fal fa-plus fa-lg"></i>
                                        </button>
                                    </form>
                                {% endif %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <div class="related-products">
            {% if product.chapters.all %}
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                    <h3 class="title text-center">Playable chapters</h3>
                        <div class="row">
                            {% for chapter in product.chapters.all %}
                            <div class="col-sm-6 col-md-4">
                                <div class="card card-product">
                                    <div class="card-image">
                                        <a href="#">
                                            <img class="img" src="{{ chapter.image }}">
                                        </a>
                                        <div class="colored-shadow" style="background-image: url({{ chapter.image }};); opacity: 1;"></div>
                                        <div class="ripple-container"></div>
                                    </div>
                                    <div class="card-content">
                                        <h6 class="category text-rose">Adventure</h6>
                                        <h4 class="card-title">
                                            {{ chapter.title|title }}
                                        </h4>
                                        <div class="card-description">
                                            {{ chapter.description|striptags|capfirst }}
                                        </div>
                                        <div class="footer">
                                            <div class="stats">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
        
        {% if product.authors.all %}
            <div class="row">
                <div class="col-md-10 col-md-offset-1">       
                    <h3 class="title text-center">Content creators</h3>
                    <div class="team">
                        <div class="row">                   
                            {% for author in product.authors.all %}
                                <div class="col-md-4">
                                    <div class="card card-profile card-plain">
                                        <div class="card-avatar">
                                            <a href="pablo">
                                                {% if author.profilepic %}
                                                    <img class="img" src="{{ author.profilepic.url }}">
                                                {% endif %}
                                            </a>
                                        </div>
                                        <div class="card-content">
                                            <h4 class="card-title">{{ author.get_full_name}}</h4>
                                            <h6 class="category text-rose">Creator</h6>
                                            <p class="card-description">
                                                {{ author.bio }}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

    </div>
</div>    

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        {% include "comments/comment_list.html" %}
    </div>
</div>

{% endblock main %}