{% extends 'base_quick.html' %}
{% load core_extras %}
{% load i18n %}
{% load static %}
{% load humanize %}

{% block base_opengraph %}
    <meta property="og:title" content="Diventi: {{ product.title }}" />
    <meta property="og:type" content="og:website" />
    <meta property="og:url" content="{{ request.build_absolute_uri }}" />
    <meta property="og:image" content="{% if product.postcard %}{{ product.postcard }}{% else %}{{ product.image }}{% endif %}" />
    <meta property="og:description" content="{{ product.abstract }}" />
{% endblock base_opengraph %}

{% block title %}{{ product.title }}{% endblock title %}


{% block content %}

<section class="slice pt-4 bg-section-secondary">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-8">
                        {% with product as object %} 
                            {% if user.is_staff %}
                                <span class="ml-1">{% include 'publishable_badge.html' %}</span>
                            {% endif %}
                        {% endwith %}
                        <h1 class="h2 mt-4">
                            {{ product.title|capfirst }}
                        </h1>
                    </div>
                    <div class="col-lg-5 col-md-7 mx-md-auto order-lg-2 order-2">
                        <div class="mt-0 pb-4">
                            <ul class="list-group">
                              <li class="list-group-item">{{ product.description|capfirst }}</li>
                              <li class="list-group-item">
                                <b>{% trans "format"|capfirst %}:</b> {% for format in product.formats.all %}
                                    <a tabindex="0" class="text-muted text-underline--dashed" href="#/" data-container="body" data-toggle="popover" data-placement="bottom" title="{{ format.title }}" data-content="{{ format.description }}">
                                        {{ format.title|lower }}
                                    </a>
                                {% endfor %}
                            </li>                            
                            <li class="list-group-item">
                                <div class="d-flex justify-content-left">
                                    {% include "products/partials/product_detail_actions.html" %}
                                    {% if product.related_forum_topic %}
                                    {% with product.related_forum_topic as topic %}    
                                        {% if topic %}
                                        <div class="mt-1 ml-1">                                            
                                            <a href="{% url 'forum_conversation:topic' topic.forum.slug topic.forum.pk topic.slug topic.pk %}" class="btn btn-secondary btn-sm btn-icon bg-light-info" target="_blank">
                                                
                                                    <i data-feather="align-center" class=" mr-1 mb-1"></i>
                                                
                                                    {% trans "comment on"|capfirst %}
                                                
                                            </a>
                                        </div>
                                        {% endif %}
                                    {% endwith %}
                                    {% endif %}
                                </div>
                            </li>                            
                              <li class="list-group-item"><b>{% trans 'Last update date' %}:</b> {{ product.modified|date:'M d, Y' }}</li>
                              <li class="list-group-item"><b>{% trans 'category'|capfirst %}:</b> <a href="{% url 'products:list_category' product.category.slug %}" target="_blank" class="text-{{ product.category.color|default:'primary' }}">{{ product.category|lower }}</a></li>
                            </ul>
                        </div>                        
                    </div>
                    <div class="col-lg-6 order-1">
                      <div class="card border-0">
                        <figure>
                          <img loading="lazy" alt="{{ product.title|capfirst }}" src="{{ product.image }}" class="card-img">
                        </figure>
                      </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</section>

<!-- Features section -->
<section class="slice delimiter-bottom">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-10 mb-5">
                <span class="badge badge-primary badge-pill">{% trans "key features"|capfirst %}</span>
            </div>
        </div>
        <div class="row">
            {% for chapter in product.chapters.all %}
            <div class="col-lg-4 col-sm-6 mb-lg-0">
                <div class="card card-fluid hover-translate-y-n10 hover-shadow-lg">
                    <div class="card-body">
                        <div class="pb-4">
                            <i data-feather="bookmark" style="height: 50px; width: 50px;"></i>
                        </div>
                        <div class="pt-2 pb-3">
                            <h5>{{ chapter.title|capfirst }}</h5>
                            <p class="text-muted mb-0">
                                {{ chapter.description|capfirst }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            {% empty %}
            <div class="col-lg-3 col-sm-6 mb-lg-0">
                <h6>{% trans "there are no key features to show for now"|capfirst %}.</h6>
            </div>
            {% endfor %}
        </div>
    </div>

</section>


{% if product.related_articles.all %}
<section class="slice delimiter-bottom">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-10 mb-5">
                <span class="badge badge-primary badge-pill">{% trans "our latest updates"|capfirst %}</span>
            </div>
        </div>
        <div class="row">
            {% for article in latest_articles %}
            <div class="col-md-3 col-lg-4 d-flex align-items-stretch">
                <div class="card bg-cover bg-size--cover" style="background-image:url('{{ article.image }}')">
                  <span class="mask bg-dark opacity-5"></span>
                  <div class="card-body pt-10 mt-auto position-relative">
                    <a href="{{ article.get_absolute_url }}" class="d-block h5 mb-3 text-white stretched-link">{{ article.title|capfirst }}</a>
                    <p class="mb-0 text-white">{{ article.description|capfirst }}</p>
                  </div>
                  <div class="card-body position-relative delimiter-top">
                    <div class="d-flex align-items-center">
                      <div class="text-light">
                        <i data-feather="user"></i>
                      </div>
                      <div class="pl-3">
                        <span class="h6 stretched-link text-white text-sm">{{ article.author.get_full_name }}</span>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-12 col-mx-auto text-center">
                <a href="{% url 'blog:home' %}" class="text-primary text-underline--dashed">{% trans 'view all'|capfirst %} <i data-feather="arrow-right"></i></a>
            </div>
        </div>
    </div>
</section>
{% endif %}

{% if product.details.all %}
<section class="slice">
    <div class="container pt-md-5">
        <div class="row">
            <div class="col-lg-6 col-md-10">
                <span class="badge badge-primary badge-pill">{% trans "details"|capfirst %}</span>
                <h5 class="h5 lh-180 mt-4 mb-6">
                    {% trans "here's a roundown of what you can expect from"|capfirst %} <strong class="text-primary">{{ product.title }}</strong>.
                </h5>
            </div>
        </div>
        <div class="row mx-lg-n4">
            {% for detail in product.details.all %}
            <div class="col-lg-4 col-md-6 px-lg-4">
                <div class="card card-fluid">
                    <div class="p-3 d-flex">
                        <div>
                            <div class="icon icon-shape rounded-circle bg-info text-white mr-4">
                                <i data-feather="check"></i>
                            </div>
                        </div>
                        <div>
                            <span class="h6">{{ detail.title|capfirst }}</span>
                            <p class="text-sm text-muted mb-0">
                                {{ detail.description|capfirst }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endif %}

{% endblock content %}

{% block footercolor %}{% endblock footercolor %}

{% block extrafooter %}
<div class="row justify-content-left">
    <div class="col-lg-12">
        <div class="row align-items-center">
            <div class="col-lg-7">
                <h3 class="text-secondary mb-2">{{ product.title|capfirst }}</h3>
                <p class="lead mb-0 text-white opacity-8">{{ product.abstract|capfirst }}</p>
            </div>
            <div class="col-lg-5 text-lg-right mt-4 mt-lg-0">
                {% with button_disabled_class="btn-white" button_action_class="btn-primary" footer_text_class="text-white" %}
                    {% include "products/partials/product_detail_actions.html" %}
                {% endwith %}
            </div>
        </div>
    </div>
</div>
<hr class="divider divider-fade divider-dark my-5">
{% endblock extrafooter %}
