{% load i18n %}

<div class="card card-plain card-blog">
  <div class="row">
    <div class="col-md-5">
      <div class="card-header card-header-image">
        <a href="{{ product.get_absolute_url }}">
          <img class="img" src="{{ product.image }}">
        </a>
      <div class="colored-shadow" style="background-image: url({{ product.image }}); opacity: 1;"></div></div>
    </div>
    <div class="col-md-7">
      <h6 class="card-category text-info">{{ product.category }}</h6>
      <h3 class="card-title">
        <a href="{{ product.get_absolute_url }}">{{ product.title }}</a>
      </h3>
      <p class="card-description">
        {{ product.description }}
      </p>
    </div>
  </div>
</div>