{% extends 'base.html' %}
{% load i18n static %}

{% block title %}Password change{% endblock title %}

{% block bodyclass %}login-page{% endblock bodyclass %}

{% block messages %}{% endblock messages %}

{% block pageheader %}

    {% if next %}
        {% if user.is_authenticated %}
        <p>Your account doesn't have access to this page. To proceed,
        please sign in with an account that has access.</p>
        {% else %}
        <p>Please sign in to see this page.</p>
        {% endif %}
    {% endif %}

    <div class="page-header header-filter" filter-color="default" style="background-image: url(''); background-size: cover; background-position: top center;">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
                    <div class="card card-signup">
                        <form method="post"> {% csrf_token %}
                            <div class="header header-warning text-center">
                                <h4 class="card-title">Change Password</h4>
                            </div>
                            <div class="card-content">
                                <div class="col-md-12">     
                                    <div class="form-group label-floating is-empty">
                                        <label class="control-label">Current password</label>      
                                        <input id="id_old_password" name="old_password" type="password" class="form-control">
                                        <span class="material-input"></span>
                                        {% if form.old_password.errors %}
                                            <div class="alert alert-danger" role="alert">
                                                {{ form.old_password.errors|striptags }}
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group label-floating is-empty">
                                        <label class="control-label">New password</label>
                                        <input id="id_new_password1" name="new_password1" type="password" class="form-control" aria-describedby="helpBlock">
                                        <span class="material-input"></span>                                
                                        {% if form.new_password1.errors %}
                                            <div class="alert alert-danger" role="alert">
                                                {{ form.new_password1.errors|striptags }}
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group label-floating is-empty">
                                        <label class="control-label">Confirm new password</label>
                                        <input id="id_new_password2" name="new_password2" type="password" class="form-control">
                                        <span class="material-input"></span> 
                                        {% if form.new_password2.errors %}
                                            <div class="alert alert-danger" role="alert">
                                                {{ form.new_password2.errors|striptags }}
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="footer text-center">                        
                                <button class="btn btn-warning btn-simple btn-wd btn-lg" type="submit">
                                    {% trans 'Confirm' %}
                                    <i class="fal fa-arrow-to-right fa-lg"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
{% endblock pageheader %}

{% block main %}{% endblock main %}