{% load i18n static %}


{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please sign in with an account that has access.</p>
    {% else %}
    <p>Please sign in to see this page.</p>
    {% endif %}
{% endif %}

<form method="POST" action="{% url 'accounts:change_password' %}?next={{ request.path }}">
    {% csrf_token %}
    
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            <span aria-hidden="true"><i class="fal fa-times"></i></span>
        </button>
        <h4 class="modal-title">Change Password</h4>
    </div>

    <div class="modal-body">

        <div class="col-md-12"> 
            <div class="form-group label-floating is-empty">
                <label class="control-label">Current password</label>      
                <input id="id_old_password" name="old_password" type="password" class="form-control">
                <span class="material-input"></span>
                {% if form.old_password.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ form.old_password.errors|striptags }}
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="col-md-12">
            <div class="form-group label-floating is-empty">
                <label class="control-label">New password</label>
                <input id="id_new_password1" name="new_password1" type="password" class="form-control" aria-describedby="helpBlock">
                <span class="material-input"></span>                                
                {% if form.new_password1.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ form.new_password1.errors|striptags }}
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="col-md-12">
            <div class="form-group label-floating is-empty">
                <label class="control-label">Confirm new password</label>
                <input id="id_new_password2" name="new_password2" type="password" class="form-control">
                <span class="material-input"></span> 
                {% if form.new_password2.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ form.new_password2.errors|striptags }}
                    </div>
                {% endif %}
            </div>
        </div>

    </div>

    <div class="modal-footer text-center">
        <button class="btn btn-warning btn-simple btn-wd btn-lg" type="submit">
            {% trans 'Confirm' %}
            <i class="fal fa-arrow-right fa-lg"></i>
        </button>
    </div>

</form>