{% extends 'accounts/user.html' %}

{% load i18n %}

{% block title %}{{ object.get_full_name }}{% endblock title %}

{% block email %}
    {% include 'accounts/user_achievements.html' %}
{% endblock email %}

{% block userdata %}
<div class="description text-center">
    <p>{{ object.bio|striptags }}</p>
    {% include 'accounts/user_achievements.html' %}
</div>

{% endblock userdata %}

{% block usercontent %}

<div class="container">
    <div class="row text-center">
        <div class="col-md-10 ml-auto mr-auto">
            <h4 class="title">{% trans "Collection" %}</h4>
            {% include 'accounts/user_collection.html' %}
        </div>
    </div>
</div>
{% endblock usercontent %}


{% block tabs %}
<div class="tab-content tab-space"></div>
{% endblock tabs %}