{% extends 'base.html' %}
{% load i18n %}

{% block title %}{{ title }}{% endblock title %}

{% block navbarclasses %}bg-dark{% endblock navbarclasses %}

{% block bodyclass %}signup-page{% endblock bodyclass %}

{% block pageheader %}
<div class="page-header header-filter" filter-color="default" style="background-image: url(''); background-size: cover; background-position: top center;">
    <div class="container">
        <div class="row">
            {% if validlink %}
                <div class="col-md-8 ml-auto mr-auto">
                    <div class="card card-signup">
                        <h2 class="card-title text-center">{{ title }}</h2>
                        {% if form.errors %}
                            <div class="justify-content-center">
                                <div class="alert alert-danger">
                                    <div class="alert-icon">
                                        <i class="material-icons">error_outline</i>
                                    </div> 
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true"><i class="material-icons">clear</i></span>
                                    </button>
                                    <b>
                                        {% for field, error in form.errors.items %}
                                            {{ field }}: {{ error|striptags }} <br>
                                        {% endfor %}
                                    </b>
                                </div>
                            </div>
                        {% endif %}
                        <div class="card-body">
                            <div class="justify-content-center">
                                <div class="text-center">
                                    {% trans "Please enter your new password twice so we can verify you typed it in correctly." %}
                                </div>
                            </div>
                            <form method="post">{% csrf_token %}
                                <div class="form-group">
                                    <div class="input-group has-warning">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fal fa-key fa-lg fa-fw"></i>
                                            </span>
                                        </div>
                                        <input type="password" name="{{ form.new_password1.name }}" class="form-control" placeholder="{% trans 'New password:' %}" maxlength="254" autofocus="" required="{{ form.new_password1.required }}" id="{{ form.new_password1.id }}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group has-warning">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fal fa-key fa-lg fa-fw"></i>
                                            </span>
                                        </div>
                                        <input type="password" name="{{ form.new_password2.name }}" class="form-control" placeholder="{% trans 'Confirm password:' %}" maxlength="254" autofocus="" required="{{ form.new_password2.required }}" id="{{ form.new_password2.id }}">
                                    </div>
                                </div>
                                <div class="text-center">
                                    <button class="btn btn-warning btn-round" type="submit">
                                        {% trans 'Change my password' %} <i class="fal fa-arrow-right fa-lg"></i>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            {% else %} 
                <div class="col-md-12 ml-auto mr-auto text-center">
                    <h4>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</h4>
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock pageheader %}

{% block main %}{% endblock main %}

{% block footer %}{% endblock footer %}