{% extends 'base_quick.html' %}
{% load i18n %}
{% load static %}

{% block title %}{{ title }}{% endblock title %}

{% block preloadermodal %}{% endblock preloadermodal %}
{% block usermodal %}{% endblock usermodal %}

{% block header %}{% endblock header %}

{% block omnisearch %}{% endblock omnisearch %}

{% block content %}
<section>
   <div class="container d-flex flex-column">
      <div class="row align-items-center justify-content-between min-vh-100">
         <div class="col-12 col-md-6 col-xl-7 order-md-2">
            <img alt="{{ title }}" src="https://i.imgur.com/m574yRn.png" class="img-fluid">
        </div>
         <div class="col-12 col-md-6 col-xl-5 order-md-1 text-center text-md-left">
            {% if user.is_authenticated %}
                <h6 class="display-3 mb-3 font-weight-600 text-success">{% trans "you have signed in"|capfirst %}!</h6>
            {% else %}
            <h6 class="display-3 mb-3 font-weight-600 text-success">{% trans "success"|capfirst %}!</h6>
            <p class="lead text-lg mb-5">{% trans "Your password has been set.  You may go ahead and log in now." %}</p>
            <a href="{% url 'accounts:signin' %}" class="btn btn-dark hover-translate-y-n3">
               {% trans "sign in"|capfirst %}
            </a>
            {% endif %}
         </div>
      </div>
   </div>
</section>
{% endblock %}

{% block footer %}{% endblock footer %}