{% extends 'base_quick.html' %}
{% load i18n %}
{% load static %}

{% block title %}{% trans 'sign up'|capfirst %}{% endblock title %}

{% block preloadermodal %}{% endblock preloadermodal %}
{% block usermodal %}{% endblock usermodal %}

{% block header %}{% endblock header %}

{% block omnisearch %}{% endblock omnisearch %}

{% block content %}
<section>
    <div class="container d-flex flex-column">
        <div class="row align-items-center justify-content-center min-vh-100">
            {% if validlink %}
            <div class="col-md-8 col-lg-5 py-6">
                <div>
                    <div class="mb-5 text-center">
                        <a href="{% url 'landing:home' %}"><img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="{% static 'brand/diventi-logo-2.png' %}" alt="Diventi" class="avatar avatar-lg"></a>
                        <h6 class="h3 mb-1">{{ title }}</h6>
                        <p class="text-muted mb-0">{% trans "please enter your new password twice so we can verify you typed it in correctly"|capfirst %}.</p>                        
                    </div>
                    {% if form.errors %}
                    <div class="alert-messages">
                        {% for field, error in form.errors.items %}
                        <div class="alert alert-group alert-danger alert-icon" role="alert">
                            <div class="alert-group-prepend">
                                <span class="alert-group-icon text-">
                                    <i class="far fa-exclamation-triangle"></i>
                                </span>
                            </div>
                            <div class="alert-content">
                                <strong>{{ field }}: </strong> {{ error|striptags }}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    {% endif %}
                    <span class="clearfix"></span>
                    <form method="POST">
                        {% csrf_token %}
                        <div class="form-group mb-4">
                            <div class="d-flex align-items-center justify-content-between">
                                <div>
                                    <label class="form-control-label">{{ form.new_password1.label }}</label>
                                </div>
                                <div class="mb-2">
                                    <a href="#" class="small text-muted text-underline--dashed border-primary" data-toggle="password-text" data-target="#{{ form.new_password1.id_for_label }}">{% trans "show password"|capfirst %}</a>
                                </div>
                            </div>
                            <div class="input-group input-group-merge">
                                {{ form.new_password1 }}
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="far fa-key"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="d-flex align-items-center justify-content-between">
                                <div>
                                    <label class="form-control-label">{{ form.new_password2.label }}</label>
                                </div>
                                <div class="mb-2">
                                    <a href="#" class="small text-muted text-underline--dashed border-primary" data-toggle="password-text" data-target="#{{ form.new_password2.id_for_label }}">{% trans "show password"|capfirst %}</a>
                                </div>
                            </div>
                            <div class="input-group input-group-merge">
                                {{ form.new_password2 }}
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="far fa-key"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="mt-4">
                            <button type="submit" class="btn btn-block btn-primary">{% trans 'change my password'|capfirst %}</button>
                        </div>
                    </form>
                </div>
            </div>
            {% else %} 
            <div class="col-md-12 py-6">
                <h4>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</h4>
            </div>
            {% endif %}
        </div>
    </div>
</section>
{% endblock content %}

{% block footer %}{% endblock footer %}