{% extends 'base_quick.html' %}
{% load i18n %}
{% load static %}

{% block title %}{{ title }}{% endblock title %}

{% block preloadermodal %}{% endblock preloadermodal %}
{% block usermodal %}{% endblock usermodal %}

{% block header %}{% endblock header %}

{% block omnisearch %}{% endblock omnisearch %}

{% block content %}
<section>
   <div class="container d-flex flex-column">
      <div class="row align-items-center justify-content-center min-vh-100">
         <div class="col-md-6 col-lg-5 col-xl-4">
            <div>
               <div class="mb-5 text-center">
                  <h6 class="h3 mb-1">{{ title }}</h6>
                  <p class="text-muted mb-0">{% trans "enter your email to reset your password"|capfirst %}</p>
               </div>
              {% if form.errors %}
                    <div class="alert-messages">
                        {% for field, error in form.errors.items %}
                        <div class="alert alert-group alert-danger alert-icon" role="alert">
                            <div class="alert-group-prepend">
                                <span class="alert-group-icon text-">
                                     <i data-feather="alert-triangle"></i>
                                </span>
                            </div>
                            <div class="alert-content">
                                <strong>{{ field }}: </strong> {{ error|striptags }}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
              {% endif %}
               <span class="clearfix"></span>
               <form method="POST">
                {% csrf_token %}
                  <div class="form-group">
                     <label class="form-control-label">{{ form.email.label }}</label>
                     <div class="input-group input-group-merge">
                        {{ form.email }}
                        <div class="input-group-prepend">
                           <span class="input-group-text">
                               <i data-feather="at-sign"></i>
                           </span>
                        </div>
                     </div>
                  </div>
                  <div class="mt-4">
                    <button type="submit" class="btn btn-block btn-primary">{% trans "reset password"|capfirst %}</button>
                  </div>
               </form>
               <div class="mt-4 text-center"><small>Not registered?</small> <a href="register-basic.html" class="small font-weight-bold">Create account</a></div>
            </div>
         </div>
      </div>
   </div>
</section>
{% endblock content %}

{% block footer %}{% endblock footer %}