{% extends 'base_info.html' %}
{% load i18n %}

{% block title %}{% trans 'Password reset' %}{% endblock title %}

{% block pageheader_title %}{{ title }}{% endblock pageheader_title %}

{% block pageheader_content %}
    <p>{% trans "Your password has been set.  You may go ahead and log in now." %}</p>
    <p>
        <a href="#" data-toggle="modal" data-target="#loginModal" class="text-white">
            <i class="fal fa-sign-in-alt fa-lg fa-fw"></i> {% trans "Sign in" %}
        </a>
    </p>
{% endblock pageheader_content %}