{% extends 'base.html' %}

{% load static %}
{% load i18n %}

{% block extrahead %}
    <link href="{% static 'image-picker/css/image-picker.css' %}" rel="stylesheet"/>
{% endblock extrahead %}

{% block title %}Profile{% endblock title %}

{% block bodyclass %}profile-page{% endblock bodyclass %}

{% block pageheaderimage %}{% if user.cover %}{{ user.cover.image }}{% endif %}{% endblock pageheaderimage %}

{% block maincontainer %}
    <div class="profile-content">
        <div class="container">
            {% include 'accounts/user_detail.html' %}
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto">
                    <div class="profile-tabs">
                        <ul class="nav nav-pills nav-pills-icons nav-pills-info justify-content-center" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" href="#work" role="tab" data-toggle="tab">
                                    <i class="fal fa-shopping-bag fa-2x"></i>
                                    <br>
                                    {% trans "Collection" %}
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#customization" role="tab" data-toggle="tab">
                                    <i class="fal fa-address-card fa-2x"></i>
                                    <br>
                                    {% trans "Customization" %}
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#settings" role="tab" data-toggle="tab">
                                    <i class="fal fa-user-circle fa-2x"></i>
                                    <br>
                                    {% trans "Credentials" %}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="tab-content tab-space">
                <div class="tab-pane active work" id="work">
                    <div class="row">
                        <div class="col-md-10 mr-auto ml-auto">
                            {% include 'accounts/user_collection.html' %}
                        </div>
                    </div>
                </div>
                <div class="tab-pane connections" id="customization">
                    <div class="row">
                        <div class="col-md-10 ml-auto mr-auto">
                            <form method="post" action="{% url 'accounts:update' user.pk %}">
                                {{ form.errors }}
                                {% csrf_token %}
                                {% include 'accounts/user_update.html' %}
                            </form>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="settings">
                    <div class="row">
                        <div class="col-md-6 ml-auto mr-auto">
                            <form method="POST" action="{% url 'accounts:change_password' %}?next={{ request.path }}">
                                {{ form.errors }}
                                {% csrf_token %}
                                {% include 'accounts/change_password.html' %}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock maincontainer %}

{% block extrascript %}
<script src="{% static 'image-picker/js/image-picker.min.js' %}" type="text/javascript"></script>
<script type="text/javascript">
    $(".image-picker").imagepicker()
</script>
{% endblock extrascript %}
