{% load i18n %}

<form method="post" action="{% url 'accounts:signin' %}?next={{ request.path }}">
{% csrf_token %}
    <div class="card card-signup card-plain">
        <div class="modal-header">
            <div class="card-header card-header-warning text-center">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <i class="fal fa-times"></i>
                </button>
                <h4 class="card-title">{% trans "Sign in" %}</h4>
            </div>
        </div>
        {% if fail_login_msg %}
            <div class="justify-content-center">
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <div class="container">
                        <div class="alert-icon">
                            <i class="fal fa-bullhorn fa-lg"></i>
                        </div>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>            
                        {{ fail_login_msg }}
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="modal-body">
            <div class="card-body">
                <div class="form-group bmd-form-group {% if fail_login_msg %}has-danger{% else %}has-warning{% endif %}">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fal fa-envelope fa-lg"></i>
                            </span>
                        </div>
                        <input type="text" class="form-control" placeholder="{% trans 'Your email' %}" name="username" autofocus maxlength="254" required id="id_username" aria-describedby="emailHelp">
                    </div>
                </div>
                <div class="form-group bmd-form-group {% if fail_login_msg %}has-danger{% else %}has-warning{% endif %}">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fal fa-key fa-lg"></i>
                            </span>
                        </div>
                        <input type="password" placeholder="{% trans 'Your password' %}" class="form-control" name="password" required id="id_password" />
                    </div>
                </div>
            </div>
        </div>
        <div class="justify-content-center">
            <div class="text-center">
                {% trans "No account yet? Then" %} <a class="text-warning" href="{% url 'accounts:signup' %}">{% trans "sign up" %}</a> {% trans "first" %}! <br>
                {% trans "Lost your password? Then" %} <a class="text-warning" href="{% url 'accounts:password_reset' %}">{% trans "request a reset here" %}</a>.
            </div>
        </div>
        <div class="modal-footer justify-content-center">
            <button type="submit" class="btn btn-warning btn-link btn-wd btn-lg">
                {% trans "Confirm" %}
            </button>
        </div>
    </div>
</form>