{% extends 'base_infos.html' %}

{% load i18n %}
{% load static %}

{% block title %}Sign out{% endblock title %}

{% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-absolute navbar-transparent">
        <div class="container">
            <div class="navbar-translate">
                <a href="{% url 'landing:home' %}" class="navbar-brand">
                    <img src="{% static 'brand/diventi-logo-transparent-white.png' %}" height="40" />
                </a>
            </div>
        </div>
    </nav>
{% endblock navbar %}

{% block info_title %}
    {% trans "Sign out completed" %}!
{% endblock info_title %}

{% block info_content %}
    {% blocktrans %}You can now leave the page or return{% endblocktrans %} 
    <b><a class="text-warning" href="{% url 'landing:home' %}">{% trans "to the homepage" %}.</a></b>
{% endblock info_content %}

