{% extends 'base_quick.html' %}
{% load i18n %}
{% load static %}

{% block title %}{% trans 'sign up'|capfirst %}{% endblock title %}

{% block preloadermodal %}{% endblock preloadermodal %}
{% block usermodal %}{% endblock usermodal %}

{% block header %}{% endblock header %}

{% block omnisearch %}{% endblock omnisearch %}

{% block content %}
<section>
    <div class="container d-flex flex-column">
        <div class="row align-items-center justify-content-center min-vh-100">
            <div class="col-md-8 col-lg-5 py-6">
                <div>
                    <div class="mb-5 text-center">
                        <a href="{% url 'landing:home' %}"><img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="{% static 'brand/diventi-logo-2.png' %}" alt="Diventi" class="avatar avatar-lg"></a>
                        <h6 class="h3 mb-1">{% trans "create your account"|capfirst %}</h6>
                        <p class="text-muted mb-0">{% trans "Let the adventure begin" %}.</p>                        
                    </div>
                    {% if form.errors %}
                    <div class="alert-messages">
                        {% for field in form %}
                            {% if field.errors %}
                                <div class="alert alert-group alert-danger alert-icon" role="alert">
                                    <div class="alert-group-prepend">
                                        <span class="alert-group-icon text-">
                                            <i class="far fa-exclamation-triangle"></i>
                                        </span>
                                    </div>
                                    <div class="alert-content">
                                        <strong>{{ field.label }}:</strong>
                                        {% if field.errors|length > 1 %}
                                            <ul class="errorlist">
                                              {% for error in field.errors %}
                                                <li>{{ error }}</li>
                                              {% endfor %}
                                            </ul>
                                        {% else %}
                                            {{ field.errors|striptags }}
                                        {% endif %}
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    {% endif %}
                    <span class="clearfix"></span>
                    <form method="POST" action="{% url 'accounts:signup' %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="form-control-label">{{ form.first_name.label }}</label>
                            <div class="input-group input-group-merge">
                                {{ form.first_name }}
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="far fa-user"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label">{{ form.email.label }}</label>
                            <div class="input-group input-group-merge">
                                {{ form.email }}
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="far fa-at"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group mb-4">
                            <div class="d-flex align-items-center justify-content-between">
                                <div>
                                    <label class="form-control-label">{{ form.password1.label }}</label>
                                </div>
                                <div class="mb-2">
                                    <a href="#/" class="small text-muted text-underline--dashed border-primary" data-toggle="password-text" data-target="#{{ form.password1.id_for_label }}">{% trans "show password"|capfirst %}</a>
                                </div>
                            </div>
                            <div class="input-group input-group-merge">
                                {{ form.password1 }}
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="far fa-key"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="d-flex align-items-center justify-content-between">
                                <div>
                                    <label class="form-control-label">{{ form.password2.label }}</label>
                                </div>
                                <div class="mb-2">
                                    <a href="#/" class="small text-muted text-underline--dashed border-primary" data-toggle="password-text" data-target="#{{ form.password2.id_for_label }}">{% trans "show password"|capfirst %}</a>
                                </div>
                            </div>
                            <div class="input-group input-group-merge">
                                {{ form.password2 }}
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="far fa-key"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label">{{ form.language.label }}</label>
                            <div class="input-group">
                                {{ form.language }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label">{{ form.has_agreed_gdpr.label }} <span class="text-muted" data-toggle="tooltip" data-placement="top" title="" data-container="body" data-original-title="{% trans 'We send an average of 2 emails each month, covering faq and new content.' %}"><i class="far fa-info-circle"></i></span></label>
                            {% for choice in form.has_agreed_gdpr %}
                            <div class="custom-control custom-radio">
                                {{ choice.tag }}
                                <label class="custom-control-label" for="{{ choice.id_for_label }}">{{ choice.choice_label }}</label>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="my-4">
                            {{ form.captcha }}
                        </div>
                        <div class="mt-4">
                            <button type="submit" class="btn btn-block btn-primary">{% trans "create my account"|capfirst %}</button>
                        </div>
                    </form>
                    <!-- Links -->
                    <div class="mt-4 text-center"><small>{% trans "already have an account?"|capfirst %}</small>
                        <a href="{% url 'accounts:signin' %}" class="small font-weight-bold">{% trans "sign in"|capfirst %}</a></div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}

{% block footer %}{% endblock footer %}