{% extends 'base_quick.html' %}
{% load i18n %}
{% load static %}

{% block title %}{% trans 'sign in'|capfirst %}{% endblock title %}

{% block preloadermodal %}{% endblock preloadermodal %}
{% block usermodal %}{% endblock usermodal %}
{% block header %}{% endblock header %}
{% block omnisearch %}{% endblock omnisearch %}

{% block content %}
<section>
   <div class="container d-flex flex-column">
      <div class="row align-items-center justify-content-center min-vh-100">
         <div class="col-md-6 col-lg-5 col-xl-4 py-6 py-md-0">
            <div>
               <div class="mb-5 text-center">
                  <a href="{% url 'landing:home' %}"><img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="{% static 'brand/diventi-logo-2.png' %}" alt="Diventi" class="avatar avatar-lg"></a>
                  <h6 class="h3 mb-1">{% trans 'sign in'|capfirst %}</h6>
                  <p class="text-muted mb-0">{% trans "sign in to your account to continue"|capfirst %}.</p>
               </div>
               {% if form.non_field_errors %}
                   <div class="alert-messages">         
                    {% for error in form.non_field_errors %}
                        <div class="alert alert-group alert-danger alert-icon" role="alert">
                            <div class="alert-group-prepend">
                                <span class="alert-group-icon text-">
                                    <i class="far fa-exclamation-triangle"></i>
                                </span>
                            </div>
                            <div class="alert-content">
                                {{ error|striptags }}
                            </div>
                        </div>
                    {% endfor %}
                   </div> 
                {% endif %}
               <span class="clearfix"></span>
               <form class="form" method="POST">
                  {% csrf_token %}
                  <div class="form-group">
                     <label class="form-control-label">{{ form.username.label }}</label>
                     <div class="input-group input-group-merge">
                        {{ form.username }}
                        <div class="input-group-prepend">
                           <span class="input-group-text">
                              <i class="far fa-at"></i>
                           </span>
                        </div>
                     </div>
                  </div>
                  <div class="form-group mb-0">
                     <div class="d-flex align-items-center justify-content-between">
                        <div><label class="form-control-label">{{ form.password.label }}</label></div>
                        <div class="mb-2"><a href="#" class="small text-muted text-underline--dashed border-primary" data-toggle="password-text" data-target="#{{ form.password.id_for_label }}">{% trans "show password"|capfirst %}</a></div>
                     </div>
                     <div class="input-group input-group-merge">
                        {{ form.password }}
                        <div class="input-group-prepend">
                           <span class="input-group-text"><i class="far fa-key"></i></span>
                        </div>
                     </div>
                  </div>
                  <div class="mt-4"><button type="submit" class="btn btn-block btn-primary">{% trans "sign in"|capfirst %}</button></div>
               </form>
               <div class="mt-4 text-center">
                <small>{% trans "not registered?"|capfirst %}</small> <a href="{% url 'accounts:signup' %}" class="small font-weight-bold">{% trans "create your account"|capfirst %}</a></a>
                <br>
                <small>{% trans "lost your password?"|capfirst %}</small> <a class="small font-weight-bold" href="{% url 'accounts:password_reset' %}">{% trans "request a reset"|capfirst %}</a></div>
            </div>
         </div>
      </div>
   </div>
</section>
{% endblock %}

{% block footer %}{% endblock footer %}