{% extends 'base.html' %}
{% load i18n %}

{% block extrahead %}

<style type="text/css"> 
    @media screen and (max-height: 575px)
    { 
        #rc-imageselect, .g-recaptcha {
            transform:scale(0.77);
            -webkit-transform:scale(0.77);
            transform-origin:0 0;
            -webkit-transform-origin:0 0;
        } 
    } 
</style> 

{% endblock extrahead %}

{% block title %}{% trans 'Sign up' %}{% endblock title %}

{% block navbarclasses %}bg-dark{% endblock navbarclasses %}

{% block bodyclass %}signup-page{% endblock bodyclass %}

{% block pageheader %}
    <div class="page-header header-filter" filter-color="default" style="background-image: url(''); background-size: cover; background-position: top center;">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto">
                    <div class="card card-signup">
                        <h2 class="card-title text-center">{% trans 'Sign up' %}</h2>
                        {% if form.errors %}
                            <div class="justify-content-center">
                                <div class="alert alert-danger">    
                                    <div class="alert-icon">
                                        <i class="material-icons">error_outline</i>
                                    </div> 
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true"><i class="material-icons">clear</i></span>
                                    </button>
                                    <b>
                                        {% for field, error in form.errors.items %}
                                            {{ field }}: {{ error|striptags }} <br>
                                        {% endfor %}
                                    </b>
                                </div>
                            </div>
                        {% endif %}
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <form class="form" method="POST" action="{% url 'accounts:signup' %}">
                                    {% csrf_token %}
                                        <div class="form-group">
                                            <div class="input-group has-warning">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <i class="fal fa-user fa-lg fa-fw"></i>
                                                    </span>
                                                </div>
                                                {{ form.first_name }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group has-warning">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <i class="fal fa-envelope fa-lg fa-fw"></i>
                                                    </span>
                                                </div>
                                                {{ form.email }}
                                            </div> 
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group has-warning">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <i class="fal fa-lock-alt fa-lg fa-fw"></i>
                                                    </span>
                                                </div>
                                                {{ form.password1 }}                                            
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group has-warning">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <i class="fal fa-lock-alt fa-lg fa-fw"></i>
                                                    </span>
                                                </div>
                                                {{ form.password2 }}
                                            </div>
                                        </div>
                                        <div class="form-group bmd-form-group">
                                            <div class="input-group has-warning">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <i class="fal fa-globe fa-lg fa-fw"></i>
                                                    </span>
                                                </div>
                                                {{ form.language }}
                                            </div> 
                                        </div>

                                        <br> 

                                        <div class="form-group col-md-8 mr-auto ml-auto">
                                            <p class="text-center">{{ form.has_agreed_gdpr.label }}
                                                <span class="text-muted" data-toggle="tooltip" data-placement="top" title="" data-container="body" data-original-title="{% trans 'We send an average of 2 emails each month, covering faq and new content.' %}">
                                                    <i class="fal fa-info-circle"></i>
                                                </span>
                                            </p>
                                            {% for choice in form.has_agreed_gdpr %}  
                                                <div class="form-check form-check-radio form-check-inline">                                        
                                                    <label class="form-check-label">
                                                        {{ choice.choice_label }}
                                                        {{ choice.tag }}
                                                        <span class="circle">
                                                            <span class="check"></span>
                                                        </span>
                                                    </label>
                                                </div>
                                            {% endfor %}
                                        </div>
                                        <div class="form-group col-md-8 mr-auto ml-auto text-center">
                                            <label>
                                                {{ form.captcha }}
                                            </label>
                                        </div>
                                        <div class="text-center">
                                            <button class="btn btn-warning btn-round" type="submit">
                                                {% trans "Get Started" %} <i class="fal fa-arrow-right fa-lg"></i>
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% include 'footer.html' %}

    </div>
{% endblock pageheader %}

{% block main %}{% endblock main %}

{% block footer %}{% endblock footer %}
