<form method="post" action="{% url 'accounts:signin' %}?next={{ request.path }}">
    
    {% csrf_token %}

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            <span aria-hidden="true"><i class="fal fa-times"></i></span>
        </button>
        <h4 class="modal-title">Sign in with your Diventi account</h4> 
    </div>

    <div class="modal-body">         

        {% if fail_login_msg %}                                  
            <div class="col-md-11 col-md-offset-1">
                <div class="alert alert-danger">    
                  <div class="alert-icon">
                    <i class="fal fa-exclamation-triangle"></i>
                  </div>
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true"><i class="fal fa-times"></i></span>
                  </button>
                  <b>{{ fail_login_msg }}</b>
                </div>
            </div>                                  
        {% endif %}

        <div class="input-group">
            <span class="input-group-addon">
                <i class="fal fa-envelope fa-lg"></i>
            </span>
            <input type="text" class="form-control" placeholder="Your email" name="username" autofocus maxlength="254" required id="id_username">                                    
        </div>                

        <div class="input-group">
            <span class="input-group-addon">
                <i class="fal fa-key fa-lg"></i>
            </span>
            <input type="password" placeholder="Your password" class="form-control" name="password" required id="id_password" />
        </div>

    </div>

    <div class="modal-footer text-center">
        <button class="btn btn-warning" type="submit">
            Sign In <i class="fal fa-arrow-right fa-lg"></i>
        </button>
        <input type="hidden" name="next" value="{{ next }}" />
        <br /><br />
        <p>No account yet? Then <a class="text-warning" href="{% url 'accounts:signup' %}">sign up</a> first!</p>
    </div>

</form>