{% extends 'base_info.html' %}
{% load i18n %}
{% load static %}

{% block title %}Sign out{% endblock title %}

{% block navbar %}{% endblock navbar %}

{% block pageheader_title %}
    {% trans "Sign out completed" %}!
{% endblock pageheader_title %}

{% block pageheader_content %}
    {% blocktrans %}You can now leave the page or return{% endblocktrans %} 
    <b><a class="text-warning" href="{% url 'landing:home' %}">{% trans "to the homepage" %}.</a></b>
{% endblock pageheader_content %}

