{% extends 'base_info.html' %}
{% load i18n %}
{% load accounts_extras %}

{% block title %}{% trans "Subscribers" %}{% endblock title %}

{% block pageheader_title %}
    {% trans "Subscribers" %}
{% endblock pageheader_title %}

{% block pageheader_content %}

    {% for ugroups in users_groups %}
    {% get_language_info for ugroups.language as lang %}
    <a class="btn btn-warning" href="mailto:{% for user in users_lan|get_item:lang.code %}{{ user.email }};{% endfor %}">
        {% blocktrans with lang_code=lang.code %}Contact {{ lang_code }} subscribers{% endblocktrans %} <span class="badge badge-pill badge-info">{{ ugroups.total }}</span>
    </a> &nbsp;
    {% endfor %}

{% endblock pageheader_content %}