{% extends 'base.html' %}

{% load i18n %}
{% load accounts_extras %}
{% load static %}

{% block title %}{% trans 'Subscribers' %}{% endblock title %}

{% block bodyclass %}signup-page sidebar-collapse{% endblock bodyclass %}

{% block pageheaderimage %}{% endblock pageheaderimage %}

{% block pageheadercontent %}
    <div class="container">
        <div class="row">
            <div class="col-md-10 ml-auto mr-auto">
                <div class="card">                                        
                    <div class="card-body">
                        <h2 class="card-title text-center">{% trans 'Subscribers' %}</h2>
                        <div class="row">
                            {% for ugroups in users_groups %}
                                <div class="col-md-6">
                                    {% get_language_info for ugroups.language as lang %}
                                    <button class="btn btn-warning btn-block btn-round" data-clipboard-text="{% for user in users_lan|get_item:lang.code %}{{ user.email }};{% endfor %}">
                                        {% blocktrans with lang_code=lang.code %}Contact {{ lang_code }} users{% endblocktrans %} ({{ ugroups.total }})
                                    </button>
                                </div>
                            {% endfor %}                          
                        </div>
                        <div class="row">
                            {% for sgroups in subscribers_groups %}
                                <div class="col-md-6">
                                    {% get_language_info for sgroups.language as lang %}
                                    <button class="btn btn-warning btn-block btn-round" data-clipboard-text="{% for user in subscribers_lan|get_item:lang.code %}{{ user.email }};{% endfor %}">
                                        {% blocktrans with lang_code=lang.code %}Contact {{ lang_code }} subscribers{% endblocktrans %} ({{ sgroups.total }})
                                    </button>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer ">
            <div class="container">
                <nav class="pull-left">
                    <ul>
                        <li>
                            <a href="#creative">
                                Creative Tim
                            </a>
                        </li>
                        <li>
                            <a href="#creative">
                                About Us
                            </a>
                        </li>
                        <li>
                            <a href="#creative">
                                Blog
                            </a>
                        </li>
                        <li>
                            <a href="#creative">
                                Licenses
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="copyright pull-right">
                    ©
                    <script>
                        document.write(new Date().getFullYear())
                    </script>2018, made with <i class="material-icons">favorite</i> by
                    <a href="https://www.creative-tim.com">Creative Tim</a> for a better web.
                </div>
            </div>
        </footer>
    
{% endblock pageheadercontent %}

{% block main %}{% endblock main %}

{% block extrascript %}
    <script type="text/javascript" src="{% static 'clipboard/clipboard.min.js' %}"></script>
    <script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
    <script>
        var clipboard = new ClipboardJS('.btn');
        clipboard.on('success', function(e) {
            console.log(e);
            alert('{{ msg_success }}')
        });

        clipboard.on('error', function(e) {
            console.log(e);
            alert('{{ msg_failure }}')
        });
    </script>
{% endblock extrascript %}