{% extends 'base.html' %}

{% block extrahead %}
{% load static %}
<link href="{% static 'image-picker/css/image-picker.css' %}" rel="stylesheet"/>
<style>
    .form-group {
        padding-top: 0px;
        margin-top: 0px;
        margin-bottom: 10px;
    }

    .group_title {
        font-size: 14px;
        line-height: 1.42857;
        color: #AAAAAA;
        font-weight: 400;
    }
</style>
{% endblock extrahead %}

{% block title %}Profile{% endblock title %}

{% block bodyclass %}profile-page{% endblock bodyclass %}

{% block pageheader %}
<div class="page-header header-filter" style="background-image: url('');">
</div>
{% endblock %}

{% block content %}

<div class="profile-content">

    <form method="post" action="{% url 'accounts:update' user.pk %}">
        {{ form.errors }}
        {% csrf_token %}
        
        <div class="container">

            <div class="row">
                <div class="col-xs-6 col-xs-offset-3">
                   <div class="profile">
                        <div class="avatar">
                            <img src="{{ user.avatar.image }}" alt="Circle Image" class="img-circle img-responsive img-raised">
                        </div>
                        <div class="name">
                            <h3 class="title">{{ user.first_name }}</h3>
                            <h6 class="text-rose">
                            {% if user.is_staff %}                            
                                Creator
                            {% else %}
                                User
                            {% endif %}
                            </h6>
                            <h6 class="text-muted">{{ user.email }}</h6>            
                        </div>
                    </div>
                </div>                
            </div>

            <div class="description text-center">
                <p>{{ user.bio }}</p>
            </div>            

            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="profile-tabs">
                        <div class="nav-align-center">
                            <ul class="nav nav-pills nav-pills-info" role="tablist">
                                <li class="active">
                                    <a href="#work" role="tab" data-toggle="tab">
                                        Profile
                                    </a>
                                </li>
                                <li>
                                    <a href="#connections" role="tab" data-toggle="tab">
                                        Collection
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>

            <div class="tab-content">
                <div class="tab-pane active work" id="work">
                    <div class="row">
                        <div class="col-md-4 col-md-offset-2">
                            <div class="form-group is-empty">
                                <label class="control-label">{{ form.role.label }}</label>      
                                {{ form.role }}
                                <span class="material-input"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group is-empty">
                                <label class="control-label">{{ form.bio.label }}</label>      
                                {{ form.bio }}
                                <span class="material-input"></span>
                            </div>
                        </div>

                        <div class="col-md-8 col-md-offset-2">
                            <div class="panel-group" id="accordion">
                              <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingTwo">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        <h4 class="panel-title">
                                        Avatars
                                        <i class="material-icons">keyboard_arrow_down</i>
                                        </h4>
                                    </a>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                  <div class="panel-body">
                                    {{ form.avatar }}
                                  </div>
                                </div>
                              </div>                            
                            </div>
                        </div>


                        <div class="clearfix"></div>

                        <div class="col-md-3 col-md-offset-2">
                           <button type="submit" class="btn btn-warning">
                                Update details
                            </button>
                        </div>           
                    </div>
                </div>

                <div class="tab-pane connections" id="connections">
                    <div class="row">
                        <div class="col-md-4 col-md-offset-2">
                            <div class="row collections">
                                <div class="col-md-12">
                                    <div class="card card-background" style="background-image: url('https://i.pinimg.com/originals/6e/cd/71/6ecd71e69338540f0f3f04ba01750147.jpg')">
                                        <a href="#"></a>
                                        <div class="card-content">
                                            <label class="label label-info">Coming Soon</label>
                                            <a href="#">
                                                <h2 class="card-title">Diventi First Product</h2>
                                            </a>
                                        </div>
                                    </div>
                                </div>                                
                            </div>
                        </div>
                    </div>                     
                </div>          

            </div>
        </div>
    </form>
</div>
{% endblock content %}

{% block extrascript %}
<script src="{% static 'image-picker/js/image-picker.min.js' %}" type="text/javascript"></script>

<script type="text/javascript">
    $(".image-picker").imagepicker()
</script>
{% endblock extrascript %}
