{% extends 'base.html' %}

{% load static %}

{% block extrahead %}

<link href="{% static 'image-picker/css/image-picker.css' %}" rel="stylesheet"/>
<style>
    .form-group {
        padding-top: 0px;
        margin-top: 0px;
        margin-bottom: 10px;
    }

    .group_title {
        font-size: 14px;
        line-height: 1.42857;
        color: #AAAAAA;
        font-weight: 400;
    }
</style>
{% endblock extrahead %}

{% block title %}Profile{% endblock title %}

{% block bodyclass %}profile-page{% endblock bodyclass %}

{% block pageheader %}
<div class="page-header header-filter" {% if user.cover %}style="background-image: url('{{ user.cover.image }}');"{% endif %}>
</div>
{% endblock %}

{% block content %}

<div class="profile-content">

    <form method="post" action="{% url 'accounts:update' user.pk %}">
        {{ form.errors }}
        {% csrf_token %}
        
        <div class="container">

            {% include 'accounts/user_detail.html' %}           

            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="row">
                        <div class="col-md-4">
                            <a name="yourprofile">
                                <h4 class="title">Your profile</h4>
                            </a>
                        </div>
                    </div>                    
                        {% include 'accounts/user_update.html' %}
                </div>
            </div>

            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <hr />
                </div>
            </div>

            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="row">
                        <div class="col-md-4">
                            <a name="yourcollection">
                                <h4 class="title">Your collection</h4>
                            </a>
                        </div>
                    </div>                    
                    {% include 'accounts/user_collection.html' %}
                </div>
            </div>
            
        </div>
    </form>
</div>
{% endblock content %}

{% block extrascript %}
<script src="{% static 'image-picker/js/image-picker.min.js' %}" type="text/javascript"></script>

<script type="text/javascript">
    $(".image-picker").imagepicker()
</script>
{% endblock extrascript %}
