{% load i18n %}

<h3 class="title" style="margin-bottom:10px;">{{ object.first_name|title }}</h3>
<h6>{{ object.role.title }}</h6>
{% for a in achievements %}
	<span class="text-{{ a.color }}" data-toggle="tooltip" data-placement="bottom" data-html="true" title="<h6>{{ a.title }}</h6>{{ a.description }}" >
        <span class="badge badge-{{ a.color }}" style="vertical-align: middle; margin-top: -0.5em;">
            <i class="fas fa-lg fa-{{ a.icon }} fa-inverse"></i>
        </span>
    </span>
{% endfor %}