{% load i18n %}

<h4>{% trans "Change password" %}</h4>
<div id="respp"></div>
<div class="form-group label-floating is-empty has-warning"> 
    <input placeholder="{% trans "Current password" %}" id="id_old_password" name="old_password" type="password" class="form-control" required>
    <span class="material-input"></span>
    {% if form.old_password.errors %}
        <div class="alert alert-danger" role="alert">
            {{ form.old_password.errors|striptags }}
        </div>
    {% endif %}
</div>
<div class="form-group label-floating is-empty has-warning">
    <input placeholder="{% trans "New password" %}" id="id_new_password1" name="new_password1" type="password" class="form-control" aria-describedby="helpBlock" required>
    <span class="material-input"></span>                                
    {% if form.new_password1.errors %}
        <div class="alert alert-danger" role="alert">
            {{ form.new_password1.errors|striptags }}
        </div>
    {% endif %}
</div>
<div class="form-group label-floating is-empty has-warning">
    <input placeholder="{% trans "Confirm new password" %}" id="id_new_password2" name="new_password2" type="password" class="form-control" required>
    <span class="material-input"></span> 
    {% if form.new_password2.errors %}
        <div class="alert alert-danger" role="alert">
            {{ form.new_password2.errors|striptags }}
        </div>
    {% endif %}
</div>
<button type="submit" class="btn btn-warning btn-round">
    {% trans 'Confirm' %}
</button>
