{% load i18n %}
{% load static %}

{% if user.is_authenticated %}
<div class="modal fade fixed-right" id="modal-profile" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-vertical" role="document">
        <div class="modal-content">
            
            <!-- Modal Header -->
            <div class="modal-header d-flex align-items-center justify-content-between border-0 pb-0">
                <span class="text-xs font-weight-bold text-uppercase text-muted">{% trans "account"|capfirst %}</span>
                <button type="button" class="close pl-2" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <!-- Modal Body (Dynamic Target) -->
            <div class="modal-body px-4 pt-2" id="modal-profile-body">
                <div class="text-center py-5">
                    <div class="spinner-border text-primary" role="status">
                        <span class="sr-only">{% trans "loading"|capfirst %}...</span>
                    </div>
                </div>
            </div>

            <!-- Sticky Modal Footer -->
            <div class="modal-footer border-top py-3">
                <a href="{% url 'accounts:signout' %}" class="btn btn-block btn-sm btn-soft-danger btn-icon rounded-pill">
                    <span class="btn-inner--icon"><i data-feather="log-out"></i></span>
                    <span class="btn-inner--text">{% trans "sign out"|capfirst %}</span>
                </a>
            </div>

        </div>
    </div>
</div>
{% endif %}