{% load humanize %}

<div class="row collections">
    {% if collection %}
        {% for product in collection %}
        <div class="col-md-6">
            <div class="card card-background" {% if product.cover %}style="background-image: url('{{ product.cover.url }}')"{% endif %}>
                <div class="card-content">
                    <h6 class="category text-info">{{ product.publication_date|naturalday }}</h6>
                    <a href="{% url 'products:detail' product.slug %}">
                        <h3 class="card-title">{{ product.title }}</h3>
                    </a>
                    <p class="card-description">{{ product.description }}</p>                    
                    {% if product.file %}
                        <a target="_blank" class="btn btn-warning btn-round" href="{{ product.file.url }}">
                            <i class="fal fa-download fa-lg fa-fw"></i> Download
                        </a>
                    {% endif %}
                </div>                
            </div>
        </div>
        {% empty %}
            <h4>Your collection is empty</h4>
        {% endfor %}
    {% endif %}
</div>