{% load static %}
{% load i18n %}

<div class="row">
    <div class="col-md-6 ml-auto mr-auto">                                 
        <div class="profile">
            <div class="avatar">
                <img src="{% if user.avatar.image %}{{ user.avatar.image }}{% else %}{% static 'material-kit/img/placeholder.jpg' %}{% endif %}" alt="User" class="img-raised rounded-circle img-fluid">
            </div>
            <div class="name">
                <h3 class="title">{{ user.first_name }}</h3>
                <h6 class="text-rose">
                {% if user.is_staff %}                            
                    {% trans "Creator" %}
                {% else %}
                    {% trans "User" %}
                {% endif %}
                </h6>                
                <h6 class="text-muted">{{ user.email }}</h6>
            </div>
        </div>
    </div>
</div>
<div class="description text-center">
    <p>{{ user.bio|striptags }}</p>
</div> 
