<div class="col-md-4 col-md-offset-2">
    <div class="row collections">
        {% if collection %}
            {% for product in collection %}
            <div class="col-md-12">
                <div class="card card-background" {% if product.cover %}style="background-image: url('{{ product.cover.url }}')"{% endif %}>
                    <div class="card-content">
                        <label class="label label-rose">{{ product.publication_date|naturalday }}</label>
                        <h2 class="card-title">{{ product.title }}</h2>
                    
                    {% if product.file %}
                        <a target=_blank class="btn btn-round btn-warning" href="{{ product.file.url }}">Download</a>
                    {% else %}
                    {% endif %}
                    </div>
                </div>
            </div>
            {% empty %}
                <h4>Your collection is empty</h4>
            {% endfor %}
        {% endif %}
    </div>
</div>