{% extends 'base_quick.html' %}
{% load i18n %}
{% load static %}
{% load reviews %}

{% block title %}{{ object.get_full_name }}{% endblock title %}

{% block content %}
<section class="pt-5 bg-section-secondary">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-9">
                <div class="row align-items-center">
                    <div class="col-auto">
                        <!-- Avatar -->
                        <img alt="{{ object.first_name|title }}" src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="{% if object.avatar.image %}{{ object.avatar.image }}{% else %}{% static 'brand/diventi-logo-2.png' %}{% endif %}" class="avatar avatar-xl rounded-circle" />
                    </div>
                    <div class="col ml-n3 ml-md-n2">
                        <!-- Title -->
                        <h2 class="mb-0">
                            {{ object.first_name|title }}
                        </h2>
                        <!-- Subtitle -->
                        <span class="text-muted d-block">{{ object.role.title|capfirst }}</span>
                    </div>
                </div>
                <div class="mt-4">
                    {% include 'accounts/user_nav_quick_snippet.html' with user_profile_active=1 %}
                </div>
            </div>
        </div>
    </div>
</section>
<section class="slice slice-sm bg-section-secondary">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-9">
                <div class="mb-4">
                   <div class="row align-items-center mb-3">
                      <div class="col">
                         <h6 class="mb-0">{% trans "achievements"|capfirst %}</h6>
                      </div>
                   </div>
                   <div class="row mx-n2">
                    {% for a in user_data.achievements %}
                      <div class="col-auto text-center mb-3 px-2">
                        <div class="d-block">
                            <a tabindex="0" class="btn btn-{{ a.color }} rounded-circle btn-icon-only" role="button" data-toggle="popover" data-trigger="focus" title="{{ a.title|capfirst }}" data-content="{{ a.description|capfirst }}">
                                <span class="btn-inner--icon pt-1">
                                    <i data-feather="{{ a.icon|default:'star' }}" class="text-white mb-1"></i>
                                </span>
                            </a>
                            <div class="text-xs text-muted mt-1">{{ a.title|capfirst }}</div>
                        </div>
                      </div>
                    {% empty %}
                    <div class="col-auto text-center mb-3 px-2">
                        <div class="text-sm text-muted mt-1">{% trans "you have not obtained any achievement, yet"|capfirst %}</div>
                    </div>
                    {% endfor %}
                   </div>
                </div>
                <!-- Quick stats -->
                <div class="mb-4">
                    <!-- Title -->
                    <div class="row align-items-center mb-3">
                        <div class="col">
                            <h6 class="mb-0">{% trans "quick stats"|capfirst %}</h6>
                        </div>
                    </div>
                    <!-- Quick stats -->
                    <div class="row">
                        <div class="col-xl-6">
                            <div class="card card-fluid">
                                <div class="card-header">
                                    <div class="row align-items-center">
                                        <div class="col-auto">
                                            <!-- Avatar -->
                                            <a href="#" class="avatar rounded-circle">
                                                <img alt="{{ object.first_name|title }}" src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="{% if object.avatar.image %}{{ object.avatar.image }}{% else %}{% static 'brand/diventi-logo-2.png' %}{% endif %}">
                                            </a>
                                        </div>
                                        <div class="col ml-md-n2">
                                            <a href="#!" class="d-block h6 mb-0">{{ object.first_name|title }}</a>
                                            <small class="d-block text-muted">{{ object.role.title|capfirst }}</small>
                                        </div>
                                        {% if request.user == object %}
                                        <div class="col-auto">
                                            <a href="{% url 'accounts:settings' object.nametag %}" class="btn btn-xs btn-primary btn-icon rounded-pill">
                                                <span class="btn-inner--icon"><i data-feather="edit"></i></span>
                                                <span class="btn-inner--text">{% trans "edit"|capfirst %}</span>
                                            </a>
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-4 text-center">
                                            <span class="h5 mb-0">{{ user_data.comments_count }}</span>
                                            <span class="d-block text-sm">{% trans "comments"|capfirst %}</span>
                                        </div>
                                        <div class="col-4 text-center">
                                            {% if user_data.has_user_authored %}
                                                <span class="h5 mb-0">{{ user_data.projects_count }}</span>
                                                <span class="d-block text-sm">{% trans "projects"|capfirst %}</span>
                                            {% else %}
                                                <span class="h5 mb-0">{{ user_data.ratings_count }}</span>
                                                <span class="d-block text-sm">{% trans "reviews"|capfirst %}</span>
                                            {% endif %}
                                        </div>
                                        <div class="col-4 text-center">
                                            <span class="h5 mb-0">{{ user_data.forum_posts }}</span>
                                            <span class="d-block text-sm">{% trans "posts"|capfirst %}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
                <!-- Collection -->
                {% if request.user == object %}
                <div class="mb-4">
                    <div class="row mb-3">
                        <div class="col">
                            <h6 class="mb-0"><a name="{% trans 'collection' %}">{% trans "collection"|capfirst %}</a></h6>
                        </div>
                    </div>
                    <div class="row">
                        {% for product in user_data.collection %}
                        <div class="col-xl-6">
                            <div class="card card-fluid mb-3">
                                <!-- Card body -->
                                <div class="card-body">
                                    <!-- App logo + status -->
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div>
                                            <div class="icon bg-dark text-white rounded-circle icon-shape shadow">
                                                <i data-feather="book"></i>
                                            </div>
                                        </div>
                                            <div class="text-right">
                                            {% if product.book.published and product.published %}
                                                {% get_review_by_user for product as review %}
                                                {% with object=product %}
                                                    {% include "reviews/review_button_modal_quick.html" %}
                                                {% endwith %}                      
                                                <a href="{{ product.book.get_absolute_url }}" class="btn btn-xs btn-neutral btn-icon rounded-pill">
                                                    <span class="btn-inner--text ml-1">
                                                        {% trans "read online"|capfirst %}
                                                    </span>
                                                </a>
                                            {% else %}
                                                {% trans "not available" as default_courtesy_short_message %}
                                                <div class="d-block stretched-link" data-toggle="tooltip" data-placement="bottom" title="" data-container="body" data-original-title="{{ product.courtesy_message }}">
                                                    <a href="" tabindex="0" class="btn btn-xs btn-secondary btn-icon rounded-pill ml-0">
                                                        <span class="btn-inner--text">{{ product.courtesy_short_message|default:default_courtesy_short_message }}</span>
                                                    </a>                                                
                                                </div>
                                            {% endif %}
                                            </div>
                                    </div>
                                    <!-- App title -->
                                    <div class="mt-3">
                                        <h6 class="mb-0"><a {% if product.book.published and product.published %}href="{{ product.get_absolute_url }}"{% else %}class="disabled"{% endif %}>{{ product.title|capfirst }}</a></h6>
                                        <p class="mb-0 text-sm text-muted">
                                            {{ product.abstract|capfirst }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% empty %}
                        <div class="col-lg-12 px-2">
                            <div class="card rounded-lg border-0">
                                <div class="p-4 text-center text-sm-left">
                                    <h6 class="mb-0 text-muted">
                                        {% trans "This collection is empty." %}   
                                    </h6>
                                </div>
                            </div>
                        </div>                          
                        {% endfor %}
                    </div>
                </div>
                {% endif %}
                <!-- Projects -->
                <div class="mb-4">
                    <div class="row mb-3">
                        <div class="col">
                            <h6 class="mb-0"><a name="{% trans 'projects' %}">{% trans "projects"|capfirst %}</a></h6>
                        </div>
                    </div>
                    <div class="row">
                        {% for product in user_data.projects %}
                        <div class="col-xl-6">
                            <div class="card card-fluid mb-3">
                                <!-- Card body -->
                                <div class="card-body">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div>
                                            <div class="icon bg-dark text-white rounded-circle icon-shape shadow">
                                                <i data-feather="book"></i>
                                            </div>
                                        </div>
                                        {% if request.user == object %}
                                        <div class="text-right">
                                            {% if product.book.published and product.published %}
                                                {% get_review_by_user for product as review %}
                                                {% with object=product %}
                                                    {% include "reviews/review_button_modal_quick.html" %}
                                                {% endwith %}                      
                                                <a href="{{ product.book.get_absolute_url }}" class="btn btn-xs btn-neutral btn-icon rounded-pill">
                                                    <span class="btn-inner--text ml-1">
                                                        {% trans "read online"|capfirst %}
                                                    </span>
                                                </a>
                                            {% else %}
                                                {% trans "not available" as default_courtesy_short_message %}
                                                <div class="d-block stretched-link" data-toggle="tooltip" data-placement="bottom" title="" data-container="body" data-original-title="{{ product.courtesy_message }}">
                                                    <a href="" tabindex="0" class="btn btn-xs btn-secondary btn-icon rounded-pill ml-0">
                                                        <span class="btn-inner--text">{{ product.courtesy_short_message|default:default_courtesy_short_message }}</span>
                                                    </a>                                                
                                                </div>
                                            {% endif %}
                                        </div>
                                        {% endif %}
                                    </div>
                                    <!-- App title -->
                                    <div class="mt-3">
                                        <h6 class="mb-0"><a {% if product.book.published and product.published %}href="{{ product.get_absolute_url }}"{% else %}class="disabled"{% endif %}>{{ product.title|capfirst }}</a></h6>
                                        <p class="mb-0 text-sm text-muted">
                                            {{ product.abstract|capfirst }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% empty %}
                        <div class="col-lg-12 px-2">
                            <div class="card rounded-lg border-0">
                                <div class="p-4 text-center text-sm-left">
                                    <h6 class="mb-0 text-muted">
                                        {% trans "This collection is empty." %}   
                                    </h6>
                                </div>
                            </div>
                        </div>                          
                        {% endfor %}
                    </div>
                </div>
                <!-- Surveys & Recent posts -->
                <div class="mb-4">
                    <div class="row mb-3">
                        <div class="col">
                            <h6 class="mb-0">{% trans 'surveys'|capfirst %}</h6>
                        </div>                        
                    </div>
                    <div class="row">
                        <div class="col-xl-12 px-2">
                            <div class="list-group">
                                {% for survey in user_data.surveys %}
                                    {% if request.user == object %}
                                        <a href="{% if survey.published %}{% url 'feedbacks:answers' survey.slug %}{% endif %}" class="list-group-item list-group-item-action {% if not survey.published %}disabled{% endif %}">
                                            {{ survey.title|capfirst }}
                                            <p class="mb-0 text-xs">{{ survey.description|capfirst }}</p>
                                        </a>
                                    {% else %}
                                        <li class="list-group-item">
                                            {{ survey.title|capfirst }}
                                            <p class="mb-0 text-xs">{{ survey.description|capfirst }}</p>
                                        </li>
                                    {% endif %}                        
                                {% empty %}
                                    <div class="card rounded-lg border-0">
                                        <div class="p-4 text-center text-sm-left">
                                            <h6 class="mb-0 text-muted">
                                                {% trans "There are no surveys yet." %}
                                            </h6>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mb-4">
                    <div class="row mb-3">
                        <div class="col">
                            <h6 class="mb-0">{% trans "Recent posts" %}{% if user_data.recent_posts %} &middot; <a href="{% url 'forum_member:user_posts' user_data.user_id %}">{% trans "View all" %}</a>{% endif %}</h6>
                        </div>                        
                    </div>
                    <div class="row">
                        <div class="col-xl-12 px-2">
                            <div class="list-group">
                                {% for post in user_data.recent_posts %}
                                    <a href="{% url 'forum_conversation:topic' post.topic.forum.slug post.topic.forum.pk post.topic.slug post.topic.pk %}?post={{ post.pk }}#{{ post.pk }}" class="list-group-item list-group-item-action">{{ post.subject }} &middot; <small>{% blocktrans with creation_date=post.created %}{{ creation_date }}{% endblocktrans %}</small> 
                                        <p class="mb-1 text-xs">
                                            <small class="text-muted">
                                                {{ post.content.rendered|truncatechars_html:160 }}
                                            </small>
                                        </p>
                                    </a>
                                {% empty %}
                                    <div class="card rounded-lg border-0">
                                        <div class="p-4 text-center text-sm-left">
                                            <h6 class="mb-0 text-muted">
                                                {% trans "There are no posts yet." %}
                                            </h6>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>            
            </div>
        </div>
    </div>
</section>
{% endblock content %}

{% block footer %}{% endblock footer %}