{% load i18n %}

<h4 class="title">{% trans "Privacy settings" %}</h4>

<div id="respprivacy"></div>

<p>
    {% blocktrans %}"Privacy is the ability of an individual or group to seclude themselves, or information about themselves, and thereby express themselves selectively."{% endblocktrans %}
</p>
<p>
    {% blocktrans %}We don't sell your data to others. Feel free to tell us what we can use, you can always change your mind later.{% endblocktrans %}
</p>

<hr>

<div class="form-row">
    <div class="form-group col-md-12">
        <label for="id_has_agreed_gdpr">{{ privacy_form.has_agreed_gdpr.label }}</label>
        <span class="text-gray" data-toggle="tooltip" data-placement="top" title="" data-container="body" data-original-title="{% trans 'We send an average of 2 emails each month, covering faq and new content.' %}">
            <i class="fal fa-info-circle"></i>
        </span>     
        </button>
        {% for choice in privacy_form.has_agreed_gdpr %}
            <div class="form-check">
                <label class="form-check-label">
                    {{ choice.choice_label }}
                    {{ choice.tag }}
                    <span class="circle">
                        <span class="check"></span>
                    </span>
                </label>
            </div>
        {% endfor %}
    </div>
</div>

<div class="form-row">
    <div class="col-md-3">
       <button type="submit" class="btn btn-warning btn-round">
            {% trans "Update profile" %}
        </button>
    </div>
</div>

<hr>

<p class="text-gray">
    {% blocktrans %}Do you wish to delete your account? There is no going back. Please be certain.{% endblocktrans %}
</p>

<!-- Button trigger modal -->
<button type="button" class="btn btn-danger btn-round" data-toggle="modal" data-target="#deleteModal">
    {% trans "Delete your account" %}
</button>








