{% extends 'base_quick.html' %}
{% load i18n %}
{% load static %}

{% block title %}{{ object.get_full_name }} &middot; {% trans 'credentials'|capfirst %}{% endblock title %}

{% block content %}
<section class="pt-5 bg-section-secondary">
   <div class="container">
      <div class="row justify-content-center">
         <div class="col-lg-9">
            <div class="row align-items-center">
               <div class="col">
                  <span class="surtitle">{% trans 'my account'|capfirst %}</span>
                  <h1 class="h2 mb-0">{% trans 'credentials'|capfirst %}</h1>
               </div>
            </div>
            <div class="row align-items-center mt-4">
               <div class="col">
                  {% include 'accounts/user_nav_quick_snippet.html' with user_password_active=1 %}
               </div>
            </div>
         </div>
      </div>
   </div>
</section>

<div class="slice slice-sm bg-section-secondary">
   <div class="container">
      <div class="row justify-content-center">
         <div class="col-lg-9">
            <div class="row">
               <div class="col-lg-12">
                  <form method="POST" action="{% url 'accounts:change_password_ajax' %}" id="frmChangePW">
                    {% csrf_token %}
                     <h5 class="mb-4">{% trans 'change password'|capfirst %}</h5>
                    <div id="respp"></div>
                     <div class="row">
                        <div class="col-md-6">
                           <div class="form-group">
                                <label class="form-control-label">{{ form.old_password.label }}</label> 
                                {{ form.old_password }}
                            </div>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="form-control-label">{{ form.new_password1.label }}</label>
                                {{ form.new_password1}}
                            </div>
                        </div>
                        <div class="col-md-6">
                           <div class="form-group">
                                <label class="form-control-label">{{ form.new_password2.label }}</label>
                                {{ form.new_password2 }}
                            </div>
                        </div>
                    </div>
                    <div class="mt-3 text-right">
                        <a href="{% url 'accounts:password_reset' %}" class="btn btn-sm btn-neutral">{% trans 'I forgot my password' %}</a>
                        <button type="submit" class="btn btn-sm btn-primary">{% trans 'save'|capfirst %}</button>
                    </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock content %}

{% block footer %}{% endblock footer %}

{% block extrascript %}
<script type="text/javascript">
    var frmPW = $('#frmChangePW');
    frmPW.submit(function() {
      $.ajax({
        type: frmPW.attr('method'),
        url: frmPW.attr('action'),
        data: frmPW.serialize(),
        success: function(resp) {          
          if (resp['message_type'] === 'success') {
            $("#respp").html('<div class="alert alert-' + resp['message_type'] + '" role="alert">' + resp ['message'] + '</div>').show();
            frmPW[0].reset();
          }
          else {
            console.log(resp.error_message)
            for (var key in resp.error_message) {
                // Get error message
                error = resp.error_message[key];
                $("#respp").html('<div class="alert alert-' + resp['message_type'] + ' alert-dismissible fade show" role="alert" ><div class="alert-content">' + key + ': ' + error + '</div><div class="alert-action"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div></div>').show();
            }
          }
        },
        error: function() {
          $("#respp").html('<strong><p class="text-danger">Error!</p></strong>').show().fadeOut(3000);
        }
      });
      return false;
    });
</script>
{% endblock extrascript %}