{% extends 'base_quick.html' %}
{% load i18n %}
{% load static %}

{% block title %}{{ object.get_full_name }}{% endblock title %}

{% block extrahead %}
<style>
.avatar-xl {
    font-size: 1.375rem;
    width: 9.5rem;
    height: 9.5rem;
}
</style>
{% endblock extrahead %}

{% block content %}
<section class="pt-5 bg-section-secondary">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-9">
                <div class="row align-items-center">
                    <div class="col-auto">
                        <!-- Avatar -->
                        <img alt="{{ object.first_name|title }}" src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="{% if object.avatar.image %}{{ object.avatar.image }}{% else %}{% static 'brand/avatar-default.jpg' %}{% endif %}" class="avatar avatar-xl rounded-circle" />
                    </div>
                    <div class="col ml-n3 ml-md-n2">
                        <!-- Title -->
                        <h2 class="mb-0">
                            {{ object.first_name|title }}
                        </h2>
                        <!-- Subtitle -->
                        <span class="text-muted d-block">{{ object.role.title|capfirst }}</span>
                    </div>
                </div>
                <div class="mt-4">
                    {% include 'accounts/partials/user_nav_quick_snippet.html' with user_profile_active=1 %}
                </div>
            </div>
        </div>
    </div>
</section>
<section class="slice slice-sm bg-section-secondary">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-9">
                <div class="mb-4">
                   <div class="row align-items-center mb-3">
                      <div class="col">
                         <h6 class="mb-0">{% trans "deeds"|capfirst %}</h6>
                      </div>
                   </div>
                   <div class="row mx-n2">
                    {% for a in user_data.achievements %}
                      <div class="col-auto text-center mb-3 px-2">
                        <div class="d-block">
                            <a tabindex="0" class="btn btn-{{ a.deed.color }} rounded-circle btn-icon-only" data-placement="bottom" role="button" data-toggle="popover" data-trigger="focus" title="{{ a.deed.title|capfirst }}" data-content="{{ a.deed.description|capfirst }}">
                                <span class="btn-inner--icon pt-1">
                                    <i data-feather="{{ a.deed.icon|default:'star' }}" class="text-white mb-1"></i>
                                </span>
                            </a>
                            <div class="text-xs text-muted mt-1">{{ a.deed.title|capfirst }}</div>
                        </div>
                      </div>
                    {% empty %}
                    <div class="col-auto text-left mb-3 px-2">
                        <div class="text-sm text-muted mt-1">{% trans "there are no deeds, yet"|capfirst %}.</div>
                        {% ifequal object request.user %}
                        <div class="text-sm">{% trans "check the 'participate' section to get more"|capfirst %}.</div>
                        {% endifequal %}
                    </div>
                    {% endfor %}
                   </div>
                </div>
                <!-- Quick stats -->
                <div class="mb-4">
                    <!-- Title -->
                    <div class="row align-items-center mb-3">
                        <div class="col">
                            <h6 class="mb-0">{% trans "quick stats"|capfirst %}</h6>
                        </div>
                    </div>
                    <!-- Quick stats -->
                    <div class="row">
                        <div class="col-xl-6">
                            <div class="card card-fluid">
                                <div class="card-header">
                                    <div class="row align-items-center">
                                        <div class="col-auto">
                                            <!-- Avatar -->
                                            <a href="#" class="avatar rounded-circle">
                                                <img alt="{{ object.first_name|title }}" src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="{% if object.avatar.image %}{{ object.avatar.image }}{% else %}{% static 'brand/avatar-default.jpg' %}{% endif %}" loading="lazy">
                                            </a>
                                        </div>
                                        <div class="col ml-md-n2">
                                            <a href="#!" class="d-block h6 mb-0">{{ object.first_name|title }}</a>
                                            <small class="d-block text-muted">{{ object.role.title|capfirst }}</small>
                                        </div>
                                        {% if request.user == object %}
                                        <div class="col-auto">
                                            <a href="{% url 'accounts:settings' object.nametag %}" class="btn btn-xs btn-primary btn-icon rounded-pill">
                                                <span class="btn-inner--icon"><i data-feather="edit"></i></span>
                                                <span class="btn-inner--text">{% trans "edit"|capfirst %}</span>
                                            </a>
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-4 text-center">
                                            {% if user_data.has_user_authored %}                              
                                                <span class="h5 mb-0">{{ user_data.articles_count }}</span>
                                                <span class="d-block text-sm">{% trans "articles"|capfirst %}</span>
                                            {% else %}
                                                <span class="h5 mb-0">{{ user_data.achievements_count }}</span>
                                                <span class="d-block text-sm">{% trans "deeds"|capfirst %}</span>
                                            {% endif %}
                                        </div>
                                        <div class="col-4 text-center">
                                            {% if user_data.has_user_authored %}
                                                <span class="h5 mb-0">{{ user_data.projects_count }}</span>
                                                <span class="d-block text-sm">{% trans "projects"|capfirst %}</span>
                                            {% else %}
                                                <span class="h5 mb-0">{{ user_data.collection_count }}</span>
                                                <span class="d-block text-sm">{% trans "games"|capfirst %}</span>
                                            {% endif %}
                                        </div>
                                        <div class="col-4 text-center">
                                            <span class="h5 mb-0">{{ user_data.forum_posts }}</span>
                                            <span class="d-block text-sm">{% trans "posts"|capfirst %}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="card card-fluid">
                                <div class="p-4 text-left">
                                    <h6>Bio</h6>
                                    <p class="text-muted mb-0">
                                        {% if object.bio %}
                                            {{ object.bio }}
                                        {% else %}
                                            <span class="text-sm">{% trans 'there is no bio, yet'|capfirst %}.</span>
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                        </div>
                </div>

                {% if user_data.projects_count > 0 %}
                <!-- Projects -->
                <div>
                    <div class="row mb-3">
                        <div class="col">
                            <h6 class="mb-0"><a name="{% trans 'projects' %}">{% trans "projects"|capfirst %}</a></h6>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                            {% for category in user_data.projects_categories %}
                                <li class="nav-item">
                                    <a class="nav-link{% if forloop.first %} active{% endif %}" id="pills-{{ category.pk }}-tab" data-toggle="pill" href="#pills-{{ category.pk }}" role="tab" aria-controls="pills-{{ category.pk }}" aria-selected="true">{{ category.title_plural }}</a>
                                  </li>
                            {% endfor %}
                            </ul>                    
                            <div class="tab-content" id="pills-tabContent">
                                {% for category in user_data.projects_categories %}                                    
                                    <div class="tab-pane fade{% if forloop.first %} show active{% endif %}" id="pills-{{ category.pk }}" role="tabpanel" aria-labelledby="pills-{{ category.pk }}-tab">
                                        <div class="row">
                                            {% for product in category.projects.all %}
                                            <div class="col-md-6">
                                                <div class="card card-fluid mb-3">
                                                    <div class="card-body">
                                                        <div class="d-flex justify-content-between align-items-center">
                                                            <div>
                                                                <div class="icon bg-dark text-white rounded-circle icon-shape shadow">
                                                                    <i data-feather="book"></i>
                                                                </div>
                                                            </div>
                                                            {% if request.user == object %}
                                                            <div class="text-right">
                                                                {% if product.book.published and product.published %}                   
                                                                    <a href="{{ product.book.get_absolute_url }}" class="btn btn-xs btn-neutral btn-icon rounded-pill">
                                                                        <span class="btn-inner--text ml-1">
                                                                            {% trans "read online"|capfirst %}
                                                                        </span>
                                                                    </a>
                                                                {% else %}
                                                                    {% trans "not available" as default_courtesy_short_message %}
                                                                    <div class="d-block stretched-link" data-toggle="tooltip" data-placement="bottom" title="" data-container="body" data-original-title="{{ product.courtesy_message }}">
                                                                        <a href="" tabindex="0" class="btn btn-xs btn-secondary btn-icon rounded-pill ml-0">
                                                                            <span class="btn-inner--text">{{ product.courtesy_short_message|default:default_courtesy_short_message }}</span>
                                                                        </a>                                                
                                                                    </div>
                                                                {% endif %}
                                                            </div>
                                                            {% endif %}
                                                        </div>
                                                        <!-- App title -->
                                                        <div class="mt-3">
                                                            <h6 class="mb-0"><a {% if product.book.published and product.published %}href="{{ product.get_absolute_url }}"{% else %}class="disabled"{% endif %}>{{ product.title|capfirst }}</a></h6>
                                                            <p class="mb-0 text-sm text-muted">
                                                                {{ product.abstract|capfirst }}
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {% empty %}
                                            <div class="col-lg-12 px-2">
                                                <div class="card rounded-lg border-0">
                                                    <div class="p-4 text-center text-sm-left">
                                                        <h6 class="mb-0 text-muted">
                                                            {% trans "This collection is empty." %}   
                                                        </h6>
                                                    </div>
                                                </div>
                                            </div>                          
                                            {% endfor %} 
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}

                <!-- Collection -->
                {% if request.user == object %}
                <div>
                    <div class="row mb-3">
                        <div class="col">
                            <h6 class="mb-0"><a name="{% trans 'collection' %}">{% trans "collection"|capfirst %}</a></h6>
                        </div>
                    </div>
                    <div class="row">
                        {% for product in user_data.collection %}
                        <div class="col-xl-6">
                            <div class="card card-fluid mb-3">
                                <!-- Card body -->
                                <div class="card-body">
                                    <!-- App logo + status -->
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div>
                                            <div class="icon bg-dark text-white rounded-circle icon-shape shadow">
                                                <i data-feather="book"></i>
                                            </div>
                                        </div>
                                            <div class="text-right">
                                            {% if product.book.published and product.published %}
                                                <a href="{{ product.book.get_absolute_url }}" class="btn btn-xs btn-neutral btn-icon rounded-pill">
                                                    <span class="btn-inner--text ml-1">
                                                        {% trans "read online"|capfirst %}
                                                    </span>
                                                </a>
                                            {% else %}
                                                {% trans "not available" as default_courtesy_short_message %}
                                                <div class="d-block stretched-link" data-toggle="tooltip" data-placement="bottom" title="" data-container="body" data-original-title="{{ product.courtesy_message }}">
                                                    <a href="" tabindex="0" class="btn btn-xs btn-secondary btn-icon rounded-pill ml-0">
                                                        <span class="btn-inner--text">{{ product.courtesy_short_message|default:default_courtesy_short_message }}</span>
                                                    </a>                                                
                                                </div>
                                            {% endif %}
                                            </div>
                                    </div>
                                    <!-- App title -->
                                    <div class="mt-3">
                                        <h6 class="mb-0"><a {% if product.book.published and product.published %}href="{{ product.get_absolute_url }}"{% else %}class="disabled"{% endif %}>{{ product.title|capfirst }}</a></h6>
                                        <p class="mb-0 text-sm text-muted">
                                            {{ product.abstract|capfirst }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% empty %}
                        <div class="col-lg-12 px-2">
                            <div class="card rounded-lg border-0">
                                <div class="p-4 text-center text-sm-left">
                                    <h6 class="mb-0 text-muted">
                                        {% trans "This collection is empty." %}   
                                    </h6>
                                </div>
                            </div>
                        </div>                          
                        {% endfor %}
                    </div>
                </div>
                {% endif %}

                {% if request.user == object %}
                <!-- Surveys -->
                <div class="mb-4">
                    <div class="row mb-3">
                        <div class="col">
                            <h6 class="mb-0">{% trans 'surveys'|capfirst %}</h6>
                        </div>                        
                    </div>
                    <div class="row">
                        <div class="col-xl-12 px-2">
                            <div class="list-group">
                                {% for survey in user_data.surveys %}
                                    {% if request.user == object %}
                                        <a href="{% if survey.published %}{% url 'feedbacks:answers' survey.slug %}{% endif %}" class="list-group-item list-group-item-action {% if not survey.published %}disabled{% endif %}">
                                            {{ survey.title|capfirst }}
                                            <p class="mb-0 text-xs">{{ survey.description|capfirst }}</p>
                                        </a>
                                    {% else %}
                                        <li class="list-group-item">
                                            {{ survey.title|capfirst }}
                                            <p class="mb-0 text-xs">{{ survey.description|capfirst }}</p>
                                        </li>
                                    {% endif %}                        
                                {% empty %}
                                    <div class="card rounded-lg border-0">
                                        <div class="p-4 text-left">
                                            <p class="mb-0 text-sm text-muted">
                                                {% trans "There are no surveys, yet" %}.
                                            </p>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}

                {% if user_data.articles_count > 0 %}
                <!-- Recent articles -->
                <div class="mb-4">
                    <div class="row mb-3">
                        <div class="col">
                            <h6 class="mb-0">{% trans "Recent articles" %}
                        </div>                        
                    </div>
                    <div class="row">
                        <div class="col-xl-12 px-2">
                            <div class="list-group">
                                {% for article in user_data.recent_articles %}
                                    <a href="{% url 'blog:detail' article.slug %}" class="list-group-item list-group-item-action">{{ article.title }} &middot; <small>{% blocktrans with creation_date=article.publication_date %}{{ creation_date }}{% endblocktrans %}</small> 
                                        <p class="mb-1 text-sm">
                                            <small class="text-muted">
                                                {{ article.description|truncatechars:200 }}
                                            </small>
                                        </p>
                                    </a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}

                <!-- Recent forum posts -->
                <div class="mb-4">
                    <div class="row mb-3">
                        <div class="col">
                            <h6 class="mb-0">{% trans "Recent forum posts" %}</h6>
                        </div>                        
                    </div>
                    <div class="row">
                        <div class="col-xl-12 px-2">
                            <div class="list-group">
                                {% for post in user_data.recent_posts %}
                                    <a href="{% url 'forum_conversation:topic' post.topic.forum.slug post.topic.forum.pk post.topic.slug post.topic.pk %}?post={{ post.pk }}#{{ post.pk }}" class="list-group-item list-group-item-action">{{ post.subject }} &middot; <small>{% blocktrans with creation_date=post.created %}{{ creation_date }}{% endblocktrans %}</small> 
                                        <p class="mb-1 text-sm">
                                            <small class="text-muted">
                                                {{ post.content.rendered|truncatechars_html:160|striptags }}
                                            </small>
                                        </p>
                                    </a>
                                {% empty %}
                                    <div class="card rounded-lg border-0">
                                        <div class="p-4 text-left">
                                            <p class="mb-0 text-sm text-muted">
                                                {% trans "There are no forum posts, yet" %}.
                                            </p>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
{% endblock content %}

{% block footer %}{% endblock footer %}