{% extends 'base.html' %}

{% block pageheader %}
<div class="page-header header-filter" style="background-image: url('{% block background %}{% endblock background %}'); background-size: cover; background-position: top center;">
    <div class="container">
        <div class="row">
            <div class="col-md-10 ml-auto mr-auto">
                <div class="card">
                    <div class="card-body">                        
                        <h4 class="card-title">
                             {% block info_title %}{% endblock info_title %}
                        </h4>
                        {% block info_content %}{% endblock info_content %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock pageheader %}

{% block main %}{% endblock main %}