{% load i18n %}
{% load static %}
{% get_current_language as LANGUAGE_CODE %}
{% get_language_info for LANGUAGE_CODE as lang %}

<!DOCTYPE html>
<html lang="{{ lang.code }}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    {% block opengraph %}
        {% block base_opengraph %}
          <meta property="og:title" content="Diventi" />
          <meta property="og:type" content="website" />
          <meta property="og:url" content="{{ request.build_absolute_uri }}" />
          <meta property="og:image" content="{{ graph_section.image }}" />
          <meta property="og:description" content="{{ graph_section.description }}" />
        {% endblock base_opengraph %}
        {% block lang_opengraph %}
            <meta property="og:locale" content="{{ lang.code }}" />
        {% endblock lang_opengraph %}
        {% block extra_opengraph %}{% endblock extra_opengraph %}
    {% endblock opengraph %}

    <title>Diventi{% block titleseparator %} &middot; {% endblock titleseparator %}{% block title %}{% endblock title %}</title>
    
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicons/apple-touch-icon.png' %}?v=3">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicons/favicon-32x32.png' %}?v=3">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicons/favicon-16x16.png' %}?v=3">
    <link rel="manifest" href="{% static 'favicons/manifest.json' %}?v=3">
    <link rel="mask-icon" href="{% static 'favicons/safari-pinned-tab.svg' %}?v=3" color="#5bbad5">
    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/27968f469b.js" crossorigin="anonymous"></script>
    <!-- Quick CSS -->
    <link rel="stylesheet" href="{% static 'quick-v110/libs/@fancyapps/fancybox/dist/jquery.fancybox.min.css' %}">
    <link rel="stylesheet" href="{% static 'quick-v110/css/quick-website.css' %}" id="stylesheet">

    <style>
        @font-face {
            font-family: Kravitz;
            src:url('{% static "fonts/Kravitz.woff2" %}') format('woff2'),
            url('{% static "fonts/Kravitz.woff" %}') format('woff');
            font-weight: 400;
            font-style: normal
        }

        @font-face {
            font-family: 'Kravitz Extra Thermal';
            src:url('{ % static "fonts/KravitzExtraThermal.woff2" %}') format('woff2'),
            url('{% static "fonts/KravitzExtraThermal.woff" %}') format('woff');
            font-weight: 400;
            font-style: normal
        }

        @font-face {
            font-family: 'Kravitz Thermal';
            src:url('{% static "fonts/KravitzThermal.woff2" %}') format('woff2'),
            url('{% static "fonts/KravitzThermal.woff" %}') format('woff');
            font-weight: 400;
            font-style: normal
        }
        .diventi-font {
            font-family: 'Kravitz Thermal';
            font-weight: 400;
            font-style: normal;
            font-size: 32px;
            }
    </style>

    <!-- Preloader -->
    <style>
        @keyframes hidePreloader {
            0% {
                width: 100%;
                height: 100%;
            }

            100% {
                width: 0;
                height: 0;
            }
        }

        body>div.preloader {
            position: fixed;
            background: white;
            width: 100%;
            height: 100%;
            z-index: 1071;
            opacity: 0;
            transition: opacity .5s ease;
            overflow: hidden;
            pointer-events: none;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        body:not(.loaded)>div.preloader {
            opacity: 1;
        }

        body:not(.loaded) {
            overflow: hidden;
        }

        body.loaded>div.preloader {
            animation: hidePreloader .5s linear .5s forwards;
        }
    </style>
    <script>
        window.addEventListener("load", function() {
            setTimeout(function() {
                document.querySelector('body').classList.add('loaded');
            }, 300);
        });
    </script>

    {% block extrahead %}{% endblock extrahead %}

</head>

<body>

    <!-- Preloader -->
    <div class="preloader">
        <div class="spinner-border text-primary" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>

    <!-- User profile modal -->
    <div class="modal fade fixed-right" id="modal-profile" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-vertical" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <!-- Close button -->
                    <div>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <!-- Modal content -->
                    <div class="px-4">
                        <!-- Avatar -->
                        <div class="d-flex my-4">
                            <div class="avatar-parent-child mx-auto">
                                <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="{% if user.avatar.image %}{{ user.avatar.image }}{% else %}{% static 'material-kit/img/placeholder.jpg' %}{% endif %}" alt="{{ user.get_full_name }}" class="avatar avatar-xl rounded-circle">
                                <span class="avatar-child avatar-badge bg-success"></span>
                            </div>
                        </div>
                        <div class="text-center mb-4">
                            <h6 class="h5 mb-0">{{ user.get_full_name }}</h6>
                            <span class="d-block text-muted">{{ user.email }}</span>
                        </div>
                        <!-- Profile stats -->
                        <div class="d-flex mb-5">
                            <div class="col-4 text-center">
                                <a href="#" class="h5 font-weight-bolder text-warning mb-0">{{ projects_count }}</a>
                                <span class="d-block text-sm">{% trans "projects"|capfirst %}</span>
                            </div>
                            <div class="col-4 text-center">
                                <a href="#" class="h5 font-weight-bolder text-warning mb-0">{{ ratings_count }}</a>
                                <span class="d-block text-sm">{% trans "reviews"|capfirst %}</span>
                            </div>
                            <div class="col-4 text-center">
                                <a href="#" class="h5 font-weight-bolder text-warning mb-0">{{ survey_answers_count }}</a>
                                <span class="d-block text-sm">{% trans "feedbacks"|capfirst %}</span>
                            </div>
                        </div>
                        <!-- Performance chart -->
                        <div class="mb-5">
                            <div class="text-center mb-3">
                                <span class="d-block h6 mb-1">{% trans "achievements"|capfirst %}</span>
                                <a href="#" class="h6 text-muted text-sm">{{ achievements_count }}/{{ achievements_total_count }} A</a>
                            </div>
                            <div class="mt-4 pt-4 border-top">
                                {% for a in user_achievements %}
                                    <div class="row align-items-center mb-3">
                                        <div class="col-auto">
                                            <div class="icon icon-shape bg-soft-{{ a.color }} text-{{ a.color }}">
                                                <i class="fas fa-{{ a.icon }}"></i>
                                            </div>
                                        </div>
                                        <div class="col pl-0">
                                            <span class="d-block h6 text-sm mb-0">{{ a.title|capfirst }}</span>
                                            <p class="mb-0 text-sm">{{ a.description }}</p>
                                        </div>                                    
                                    </div>
                                 {% endfor %}
                                 {% for a in locked_achievements %}
                                    <div class="row align-items-center mb-3">
                                        <div class="col-auto">
                                            <div class="icon icon-shape bg-soft-secondary text-secondary">
                                                <i class="fas fa-lock"></i>
                                            </div>
                                        </div>
                                        <div class="col pl-0">
                                            <span class="d-block h6 text-sm mb-0 text-muted">{{ a.title|capfirst }}</span>
                                        </div>                                    
                                    </div>
                                {% endfor %}                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer py-3 mt-auto">
                    <a href="{% url 'accounts:signout' %}" class="btn btn-block btn-sm btn-neutral btn-icon rounded-pill">
                        <span class="btn-inner--icon"><i class="fad fa-sign-out"></i></span>
                        <span class="btn-inner--text">{% trans "sign out"|capfirst %}</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- Cookies modal -->
    <div class="modal fade" tabindex="-1" role="dialog" id="modal-cookies" data-backdrop="false" aria-labelledby="modal-cookies" aria-hidden="true">
        <div class="modal-dialog modal-dialog-aside left-4 right-4 bottom-4">
            <div class="modal-content bg-dark-dark">
                <div class="modal-body">
                    <!-- Text -->
                    <p class="text-sm text-white mb-3">
                        We use cookies so that our themes work for you. By using our website, you agree to our use of cookies.
                    </p>
                    <!-- Buttons -->
                    <a href="../../pages/utility/terms.html" class="btn btn-sm btn-white" target="_blank">Learn more</a>
                    <button type="button" class="btn btn-sm btn-primary mr-2" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Header -->
    <header class="" id="header-main">
        <!-- Navbar -->
        {% block navbar %}
        <nav class="navbar navbar-main navbar-expand-lg navbar-light" id="navbar-main">
            {% if user.is_authenticated %}
            <div class="container">
                <!-- Toggler -->
                <button class="navbar-toggler order-lg-2 ml-n3 ml-lg-0" type="button" data-toggle="collapse" data-target="#navbar-main-collapse" aria-controls="navbar-main-collapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!-- Brand -->
                <a class="nav-link order-lg-1 diventi-font" href="{% url 'landing:home' %}">
                    Diventi
                </a>
                <!-- Collapse -->
                <div class="collapse navbar-collapse navbar-collapse-overlay order-lg-3" id="navbar-main-collapse">
                    <!-- Toggler -->
                    <div class="position-relative">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-main-collapse" aria-controls="navbar-main-collapse" aria-expanded="false" aria-label="Toggle navigation">
                            <i data-feather="x"></i>
                        </button>
                    </div>
                    <!-- Main navigation -->
                    <ul class="navbar-nav ml-lg-auto mr-3">
                        <!-- Projects menu -->
                        <li class="nav-item nav-item-spaced dropdown dropdown-animate" data-toggle="hover">
                           <a class="nav-link" data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">{% trans "projects"|capfirst %}</a>
                           <div class="dropdown-menu dropdown-menu-md p-0">
                              <div class="row no-gutters">
                                 <div class="col-12">
                                    <div class="dropdown-body dropdown-body-right bg-dropdown-secondary h-100">
                                       {% for category in projects %}
                                       <h6 class="dropdown-header text-info mb-2 mt-2">{{ category.title|capfirst }}</h6>
                                       <div class="list-group list-group-flush">
                                          {% for project in category.projects.all %}
                                          <div class="list-group-item bg-transparent border-0 px-0 py-2">
                                             <div class="media d-flex">
                                                <span class="h6">
                                                   <i class="fad fa-{{ category.icon|default:'box' }} fa-fw"></i>
                                                </span>
                                                <div class="media-body ml-2">
                                                    <a href="{{ project.get_absolute_url }}" class="d-block heading h6 mb-0">
                                                    {{ project.title|capfirst }}</a> <small class="text-sm text-muted mb-0">{{ project.abstract|capfirst }}</small></div>
                                             </div>
                                          </div>
                                          {% endfor %}
                                       </div>
                                       {% endfor %}
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </li>
                        <!-- Community menu -->
                        <li class="nav-item nav-item-spaced dropdown dropdown-animate" data-toggle="hover">
                            <a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Community</a>
                            <div class="dropdown-menu dropdown-menu-md p-0">
                                <div class="list-group list-group-flush px-lg-4">
                                    <a href="{% url 'forum:index' %}" class="list-group-item list-group-item-action" role="button">
                                        <div class="d-flex">
                                            <!-- SVG icon -->
                                            <span class="h6">
                                                <i class="fad fa-quote-left"></i>
                                            </span>
                                            <!-- Media body -->
                                            <div class="ml-3">
                                                <h6 class="heading mb-0">Forum</h6>
                                                <small class="text-sm">{% trans "a place to discuss adventures and developments"|capfirst %}</small>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="{% url 'blog:home' %}" class="list-group-item list-group-item-action" role="button">
                                        <div class="d-flex">
                                            <!-- SVG icon -->
                                            <span class="h6">
                                                <i class="fad fa-align-center"></i>
                                            </span>
                                            <!-- Media body -->
                                            <div class="ml-3">
                                                <h6 class="heading mb-0">Blog</h6>
                                                <small class="text-sm">{% trans "find our latest news"|capfirst %}</small>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </li>
                        {% if user.is_staff %}
                        <!-- Authors menu -->
                        <li class="nav-item nav-item-spaced dropdown dropdown-animate" data-toggle="hover">
                            <a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{% trans "authors"|capfirst %}</a>
                            <div class="dropdown-menu dropdown-menu-md p-0">
                                <div class="list-group list-group-flush px-lg-4">
                                    <a href="{% url 'admin:index' %}" class="list-group-item list-group-item-action" role="button">
                                        <div class="d-flex">
                                            <!-- SVG icon -->
                                            <span class="h6">
                                                <i class="fad fa-cog"></i>
                                            </span>
                                            <!-- Media body -->
                                            <div class="ml-3">
                                                <h6 class="heading mb-0">Admin</h6>
                                                <small class="text-sm">{% trans "the control panel, suitable for authors only."|capfirst %}</small>
                                            </div>
                                        </div>
                                    </a>
                                    <div class="py-3">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <a href="{% url 'admin:blog_article_changelist' %}" class="dropdown-item">{% trans "articles"|capfirst %}</a>
                                                <a href="{% url 'admin:accounts_diventiuser_changelist' %}" class="dropdown-item">{% trans "users"|capfirst %}</a>
                                                <a href="{% url 'admin:products_product_changelist' %}" class="dropdown-item">{% trans "projects"|capfirst %}</a>
                                                <a href="{% url 'admin:ebooks_section_changelist' %}" class="dropdown-item">{% trans "ebook sections"|capfirst %}</a>
                                                <a href="{% url 'admin:feedbacks_survey_changelist' %}" class="dropdown-item">{% trans "surveys"|capfirst %}</a>
                                            </div>
                                            <div class="col-sm-6">
                                                <a href="{% url 'admin:comments_diventicomment_changelist' %}" class="dropdown-item">{% trans "comments"|capfirst %}</a>
                                                <a href="{% url 'admin:reviews_review_changelist' %}" class="dropdown-item">{% trans "reviews"|capfirst %}</a>
                                                <a href="{% url 'admin:feedbacks_answer_changelist' %}" class="dropdown-item">{% trans "answers"|capfirst %}</a>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="{% url 'landing:analytics' %}" class="list-group-item list-group-item-action" role="button">
                                        <div class="d-flex">
                                            <!-- SVG icon -->
                                            <span class="h6">
                                                <i class="fad fa-chart-bar"></i>
                                            </span>
                                            <!-- Media body -->
                                            <div class="ml-3">
                                                <h6 class="heading mb-0">{% trans "analytics"|capfirst %}</h6>
                                                <small class="text-sm">{% trans "a tool to measure the website performance."|capfirst %}</small>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="{% url 'adventures:situation_story_create' %}" class="list-group-item list-group-item-action" role="button">
                                        <div class="d-flex">
                                            <!-- SVG icon -->
                                            <span class="h6">
                                                <i class="fad fa-vial"></i>
                                            </span>
                                            <!-- Media body -->
                                            <div class="ml-3">
                                                <h6 class="heading mb-0">{% trans "adventures"|capfirst %}</h6>
                                                <small class="text-sm">{% trans "our experimental adventure book."|capfirst %}</small>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </li>
                    {% endif %}
                    </ul>
                    <!-- Right navigation -->
                    <ul class="navbar-nav align-items-lg-center d-none d-lg-flex ml-lg-auto">
                        <li class="nav-item">
                            <a href="#" data-action="omnisearch-open" data-target="#omnisearch" class="nav-link nav-link-icon px-2">
                                <i class="far fa-search fa-sm fa-fw"></i>
                            </a>
                        </li>
                        <li class="nav-item dropdown dropdown-animate">
                            <a class="nav-link nav-link-icon px-2" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="far fa-cog fa-sm fa-fw"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right dropdown-menu-arrow p-3">
                                <h6 class="dropdown-header px-0 mb-2 text-primary">{% trans "hi"|capfirst %}, {{ user.get_full_name }}!</h6>
                                <a href="{% url 'accounts:update' user.nametag %}" class="dropdown-item">
                                    <i class="far fa-user fa-sm fa-fw"></i>
                                    <span>{% trans "my profile"|capfirst %}</span>
                                </a>
                                <div class="dropdown-divider"></div>
                                <a href="{% url 'accounts:signout' %}" class="dropdown-item">
                                    <i class="fad fa-sign-out fa-sm fa-fw"></i>
                                    <span>{% trans "sign out"|capfirst %}</span>
                                </a>
                            </div>
                        </li>
                    </ul>
                    <!-- Mobile button -->
                    <div class="d-lg-none px-4 text-center">
                        <a href="{% url 'accounts:update' user.nametag %}" class="btn btn-block btn-sm btn-warning" target="_blank">{% trans "my collection"|capfirst %}</a>
                    </div>
                </div>
                <!-- Avatar menu -->
                <div class="order-lg-4 ml-lg-3">
                    <a class="" href="#modal-profile" role="button" data-toggle="modal">
                        <span class="avatar rounded-circle">
                            <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="{% if user.avatar.image %}{{ user.avatar.image }}{% else %}{% static 'material-kit/img/placeholder.jpg' %}{% endif %}" alt="{{ user.get_full_name }}">
                        </span>
                    </a>
                </div>
            </div>
            {% else %}
            <div class="container">
                <!-- Brand -->
                <a class="nav-link diventi-font" href="{% url 'landing:home' %}">
                    Diventi
                </a>
                <!-- Toggler -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-main-collapse" aria-controls="navbar-main-collapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!-- Collapse -->
                <div class="collapse navbar-collapse navbar-collapse-overlay" id="navbar-main-collapse">
                    <!-- Toggler -->
                    <div class="position-relative">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-main-collapse" aria-controls="navbar-main-collapse" aria-expanded="false" aria-label="Toggle navigation">
                            <i data-feather="x"></i>
                        </button>
                    </div>
                    <!-- Main navigation -->
                    <ul class="navbar-nav ml-lg-auto">
                        <!-- Projects menu -->
                        <li class="nav-item nav-item-spaced dropdown dropdown-animate" data-toggle="hover">
                           <a class="nav-link" data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">{% trans "projects"|capfirst %}</a>
                           <div class="dropdown-menu dropdown-menu-md p-0">
                              <div class="row no-gutters">
                                 <div class="col-12">
                                    <div class="dropdown-body dropdown-body-right bg-dropdown-secondary h-100">
                                       {% for category in projects %}
                                       <h6 class="dropdown-header text-info mb-2 mt-2">{{ category.title|capfirst }}</h6>
                                       <div class="list-group list-group-flush">
                                          {% for project in category.projects.all %}
                                          <div class="list-group-item bg-transparent border-0 px-0 py-2">
                                             <div class="media d-flex">
                                                <span class="h6">
                                                   <i class="fad fa-{{ category.icon|default:'box' }} fa-fw"></i>
                                                </span>
                                                <div class="media-body ml-2">
                                                    <a href="{{ project.get_absolute_url }}" class="d-block heading h6 mb-0">
                                                    {{ project.title|capfirst }}</a> <small class="text-sm text-muted mb-0">{{ project.abstract|capfirst }}</small></div>
                                             </div>
                                          </div>
                                          {% endfor %}
                                       </div>
                                       {% endfor %}
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </li>
                        <!-- Community menu -->
                        <li class="nav-item nav-item-spaced dropdown dropdown-animate" data-toggle="hover">
                            <a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Community</a>
                            <div class="dropdown-menu dropdown-menu-md p-0">
                                <div class="list-group list-group-flush px-lg-4">
                                    <a href="{% url 'forum:index' %}" class="list-group-item list-group-item-action" role="button">
                                        <div class="d-flex">
                                            <!-- SVG icon -->
                                            <span class="h6">
                                                <i class="fad fa-quote-left fa-fw"></i>
                                            </span>
                                            <!-- Media body -->
                                            <div class="ml-3">
                                                <h6 class="heading mb-0">Forum</h6>
                                                <small class="text-sm">{% trans "a place to discuss adventures and developments"|capfirst %}</small>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="{% url 'blog:home' %}" class="list-group-item list-group-item-action" role="button">
                                        <div class="d-flex">
                                            <!-- SVG icon -->
                                            <span class="h6">
                                                <i class="fad fa-align-center fa-fw"></i>
                                            </span>
                                            <!-- Media body -->
                                            <div class="ml-3">
                                                <h6 class="heading mb-0">Blog</h6>
                                                <small class="text-sm">{% trans "find our latest news"|capfirst %}</small>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <!-- Right navigation -->
                    <ul class="navbar-nav align-items-lg-center d-none d-lg-flex ml-lg-auto">
                        <!-- Auth -->
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'accounts:signup' %}">
                                {% trans "sign up"|capfirst %}
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'accounts:signin' %}" class="btn btn-sm btn-primary btn-icon ml-3">
                                <span class="btn-inner--icon"><i class="far fa-sign-in"></i></span>
                                <span class="btn-inner--text">{% trans "sign in"|capfirst %}</span>
                            </a>
                        </li>
                    </ul>
                    <!-- Mobile button -->
                    <div class="d-lg-none px-4 text-center">
                        <a href="{% url 'accounts:signin' %}" class="btn btn-block btn-sm btn-primary">{% trans "sign in"|capfirst %}</a>
                    </div>
                </div>
            </div>
            {% endif %}
        </nav>
        {% endblock navbar %}
    </header>
    <!-- Omnisearch -->
    <div id="omnisearch" class="omnisearch">
        <div class="container">
            <div class="omnisearch-container">
                <!-- Search form -->
                <form action="{% url 'landing:search' %}" class="omnisearch-form">
                    <div class="form-group">
                        <div class="input-group input-group-merge input-group-flush">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="far fa-search"></i></span>
                            </div>                            
                            <input type="text" class="form-control" id="search_text" placeholder="{% trans 'type and hit enter'|capfirst %}..." name="q" {% if search_query %}value='{{ search_query }}'{% endif %}>
                        </div>
                    </div>
                </form>
                <div class="omnisearch-suggestions">
                    <h6 class="heading">{% trans "search suggestions"|capfirst %}</h6>
                    <div class="row">
                        <div class="col-sm-12">
                            <ul class="list-unstyled mb-0">
                                {% for ss in search_suggestions %}                                
                                <li>
                                    <a class="list-link searchs" href="#" data-value="{{ ss.title|capfirst }}">
                                    <i class="far fa-{{ ss.icon|default:'circle' }} fa-fw"></i>
                                    <span>{{ ss.title|capfirst }}</span> &middot; {{ ss.description }}
                                    </a>
                                </li>  
                                {% endfor %}                              
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Main content -->    
    {% block content %}{% endblock content %}

    {% block footer %}
    <footer class="position-relative" id="footer-main">
        <div class="footer pt-lg-7 footer-dark bg-dark">
            <!-- SVG shape -->
            <div class="shape-container shape-line shape-position-top shape-orientation-inverse">
                <svg width="2560px" height="100px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="none" x="0px" y="0px" viewBox="0 0 2560 100" style="enable-background:new 0 0 2560 100;" xml:space="preserve" class="fill-section-secondary">
                    <polygon points="2560 0 2560 100 0 100"></polygon>
                </svg>
            </div>
            <!-- Footer -->
            <div class="container pt-4">
                <div class="row justify-content-center">
                    <div class="col-lg-12">
                        <div class="row align-items-center">
                            <div class="col-lg-7">
                                <h3 class="text-secondary mb-2">{{ graph_section.title|capfirst }}</h3>
                                <p class="lead mb-0 text-white opacity-8">
                                    {{ graph_section.description|capfirst }}
                                </p>
                            </div>
                            <div class="col-lg-5 text-lg-right mt-4 mt-lg-0">
                                <a href="{% url 'forum:index' %}" class="btn btn-white btn-icon my-2">
                                    <span class="btn-inner--icon">
                                        <i class="far fa-portal-enter"></i>
                                    </span>
                                    <span class="btn-inner--text">{% trans "explore"|capfirst %}</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="divider divider-fade divider-dark my-5">
                <div class="row">
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <!-- Theme's logo -->
                        <a href="{% url 'landing:home' %}">
                            <img alt="Diventi" src="https://diventi-assets.s3.amazonaws.com/static/brand/diventi-logo-transparent-white.png" class="img-fluid" style="width: 228px;" id="footer-logo">
                        </a>
                        <!-- Webpixels' mission -->
                        <p class="mt-4 text-sm opacity-8 pr-lg-4">{% trans "Diventi is a role-playing game that embraces fun, encourages storytelling and helps game masters to prepare their fantastic adventures" %}.</p>
                        <!-- Social -->
                        <ul class="nav mt-4">
                            <li class="nav-item">
                                <a class="nav-link pl-0" href="https://www.youtube.com/feed/my_videos" target="_blank">
                                    <i class="fab fa-youtube"></i>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="https://github.com/flavoi/diventi" target="_blank">
                                    <i class="fab fa-github"></i>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="https://www.instagram.com/playdiventi/" target="_blank">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="https://www.facebook.com/playdiventi" target="_blank">
                                    <i class="fab fa-facebook"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-2 col-6 col-sm-4 ml-lg-auto mb-5 mb-lg-0">
                        <h6 class="heading mb-3">{% trans "account"|capfirst %}</h6>
                        <ul class="list-unstyled">
                            {% if user.is_authenticated %}
                            <li><a href="#">{% trans "profile"|capfirst %}</a></li>
                            <li><a href="#">{% trans "collection"|capfirst %}</a></li>
                            <li><a href="#">{% trans "settings"|capfirst %}</a></li>
                            {% else %}
                            <li><a href="#">{% trans "sign in"|capfirst %}</a></li>
                            <li><a href="#">{% trans "sign up"|capfirst %}</a></li>
                            {% endif %}
                        </ul>
                    </div>
                    <div class="col-lg-2 col-6 col-sm-4 mb-5 mb-lg-0">
                        <h6 class="heading mb-3">{% trans "about"|capfirst %}</h6>
                        <ul class="list-unstyled">
                            <li><a href="#">{% trans "what is Diventi"|capfirst %}</a></li>
                            <li><a href="#">{% trans "our mission"|capfirst %}</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-2 col-6 col-sm-4 mb-5 mb-lg-0">
                        <h6 class="heading mb-3">{% trans "community"|capfirst %}</h6>
                        <ul class="list-unstyled">
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Forum</a></li>
                        </ul>
                    </div>
                </div>
                <hr class="divider divider-fade divider-dark my-4">
                <div class="row align-items-center justify-content-md-between pb-4">
                    <div class="col-md-6">
                        <div class="copyright text-sm font-weight-bold text-center text-md-left">
                            &copy; {{ copy }}. {% trans "Made with passion by Diventi's team" %}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <ul class="nav justify-content-center justify-content-md-end mt-3 mt-md-0">
                            <li class="nav-item">
                                <a class="nav-link" href="mailto:info@playdiventi.it">
                                    <i class="far fa-envelope-open fa-sm"></i> info@playdiventi.it
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    {% endblock footer %}

    <!-- Core JS  -->
    <script src="{% static 'quick-v110/libs/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'quick-v110/libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'quick-v110/libs/svg-injector/dist/svg-injector.min.js' %}"></script>
    <script src="{% static 'quick-v110/libs/feather-icons/dist/feather.min.js' %}"></script>
    <!-- Optional JS -->
    <script src="{% static 'quick-v110/libs/typed.js/lib/typed.min.js' %}"></script>
    <script src="{% static 'quick-v110/libs/in-view/dist/in-view.min.js' %}"></script>
    <script src="{% static 'quick-v110/libs/sticky-kit/dist/sticky-kit.min.js' %}"></script>
    <script src="{% static 'quick-v110/libs/imagesloaded/imagesloaded.pkgd.min.js' %}"></script>
    <!-- Page JS -->
    <script src="{% static 'quick-v110/libs/@fancyapps/fancybox/dist/jquery.fancybox.min.js' %}"></script>
    <!-- Quick JS -->
    <script src="{% static 'quick-v110/js/quick-website.js' %}"></script>
    <script src="{% static 'diventi/js/diventi-defer-img.min.gz.js' %}"></script>
    <!-- Feather Icons -->
    <script>
        feather.replace({
            'width': '1em',
            'height': '1em'
        })
    </script>
    <script type="text/javascript">
    $(function () {
        $('.searchs').on('click', function () {
            var text = $('#search_text');
            text.val($(this).attr('data-value'));
            $('#search_text').focus()
        });
    });
    </script>
</body>

</html>