{% extends 'base.html' %}

{% block pageheader %}
<div class="page-header header-filter" style="background-image: url(''); background-size: cover; background-position: top center;">
    <div class="container">
        <div class="row">
            <div class="col-md-10 ml-auto mr-auto">
                <div class="card">
                    <div class="card-body">                        
                        <h4 class="card-title">
                             {% block error_title %}{% endblock error_title %}
                        </h4>
                        {% block error_content %}{% endblock error_content %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock pageheader %}

{% block main %}{% endblock main %}