{% if messages %}
<div class="fixed-top">
    <div class="col-lg-6 col-md-8 col-sm-12 ml-auto mr-auto">
        {% for message in messages %}
          <div class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %} alert-dismissible fade show" role="alert">
            <div class="container">
                <div class="alert-icon">
                    <i class="fal fa-bullhorn fa-lg"></i>
                </div>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>            
                {{ message.message }}
              </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endif %}