{% load i18n %}
{% load static %}

<!-- Projects menu -->
<li class="nav-item nav-item-spaced dropdown dropdown-animate" data-toggle="hover">
   <a class="nav-link" data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">{% trans "projects"|capfirst %}</a>
   <div class="dropdown-menu dropdown-menu-md p-0">
      <div class="row no-gutters">
         <div class="col-12">
            <div class="dropdown-body dropdown-body-right bg-dropdown-secondary h-100">
               {% for category in projects %}
               <h6 class="dropdown-header text-info mb-1 mt-2">{{ category.title|capfirst }}</h6>
               <div class="list-group list-group-flush">
                  {% for project in category.projects.all %}
                  <div class="list-group-item bg-transparent border-0 px-0 py-2">
                     <div class="media d-flex">
                        <span class="h6">
                           <i class="far fa-{{ category.icon|default:'box' }} fa-fw"></i>
                        </span>
                        <div class="media-body ml-2">
                            <a href="{{ project.get_absolute_url }}" class="d-block heading h6 mb-0">
                            {{ project.title|capfirst }}</a> <small class="text-sm text-muted mb-0">{{ project.short_description|capfirst }}</small></div>
                     </div>
                  </div>
                  {% endfor %}
               </div>
               {% endfor %}
            </div>
         </div>
      </div>
   </div>
</li>
<!-- Community menu -->
<li class="nav-item nav-item-spaced dropdown dropdown-animate" data-toggle="hover">
    <a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Community</a>
    <div class="dropdown-menu dropdown-menu-md p-0">
        <div class="list-group list-group-flush px-lg-4">
            <a href="{% url 'forum:index' %}" class="list-group-item list-group-item-action" role="button">
                <div class="d-flex">
                    <!-- SVG icon -->
                    <span class="h6">
                        <i class="far fa-quote-left"></i>
                    </span>
                    <!-- Media body -->
                    <div class="ml-3">
                        <h6 class="heading mb-0">Forum</h6>
                        <small class="text-sm">{% trans "a place to discuss adventures and developments"|capfirst %}.</small>
                    </div>
                </div>
            </a>
            <a href="{% url 'blog:home' %}" class="list-group-item list-group-item-action" role="button">
                <div class="d-flex">
                    <!-- SVG icon -->
                    <span class="h6">
                        <i class="far fa-align-center"></i>
                    </span>
                    <!-- Media body -->
                    <div class="ml-3">
                        <h6 class="heading mb-0">Blog</h6>
                        <small class="text-sm">{% trans "find our latest news"|capfirst %}.</small>
                    </div>
                </div>
            </a>
        </div>
    </div>
</li>
{% if user.is_staff %}
<!-- Authors menu -->
<li class="nav-item nav-item-spaced dropdown dropdown-animate" data-toggle="hover">
    <a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{% trans "authors"|capfirst %}</a>
    <div class="dropdown-menu dropdown-menu-md p-0">
        <div class="list-group list-group-flush px-lg-4">
            <a href="{% url 'admin:index' %}" class="list-group-item list-group-item-action" role="button">
                <div class="d-flex">
                    <span class="h6">
                        <i class="far fa-cog"></i>
                    </span>
                    <div class="ml-3">
                        <h6 class="heading mb-0">Admin</h6>
                        <small class="text-sm">{% trans "the control panel, suitable for authors only."|capfirst %}</small>
                    </div>
                </div>
            </a>
            <div class="py-3">
                <div class="row">
                    <div class="col-sm-6">
                        <a href="{% url 'admin:blog_article_changelist' %}" class="dropdown-item">{% trans "articles"|capfirst %}</a>
                        <a href="{% url 'admin:accounts_diventiuser_changelist' %}" class="dropdown-item">{% trans "users"|capfirst %}</a>
                        <a href="{% url 'admin:products_product_changelist' %}" class="dropdown-item">{% trans "projects"|capfirst %}</a>
                        <a href="{% url 'admin:ebooks_section_changelist' %}" class="dropdown-item">{% trans "ebook sections"|capfirst %}</a>
                        <a href="{% url 'admin:feedbacks_survey_changelist' %}" class="dropdown-item">{% trans "surveys"|capfirst %}</a>
                    </div>
                    <div class="col-sm-6">
                        <a href="{% url 'admin:comments_diventicomment_changelist' %}" class="dropdown-item">{% trans "comments"|capfirst %}</a>
                        <a href="{% url 'admin:reviews_review_changelist' %}" class="dropdown-item">{% trans "reviews"|capfirst %}</a>
                        <a href="{% url 'admin:feedbacks_answer_changelist' %}" class="dropdown-item">{% trans "answers"|capfirst %}</a>
                    </div>
                </div>
            </div>
            <a href="{% url 'landing:analytics' %}" class="list-group-item list-group-item-action" role="button">
                <div class="d-flex">
                    <span class="h6">
                        <i class="far fa-chart-bar"></i>
                    </span>
                    <div class="ml-3">
                        <h6 class="heading mb-0">{% trans "analytics"|capfirst %}</h6>
                        <small class="text-sm">{% trans "a tool to measure the website performance."|capfirst %}</small>
                    </div>
                </div>
            </a>
            <a href="{% url 'adventures:situation_story_create' %}" class="list-group-item list-group-item-action" role="button">
                <div class="d-flex">
                    <span class="h6">
                        <i class="far fa-vial"></i>
                    </span>
                    <div class="ml-3">
                        <h6 class="heading mb-0">{% trans "adventures"|capfirst %}</h6>
                        <small class="text-sm">{% trans "our experimental adventure book."|capfirst %}</small>
                    </div>
                </div>
            </a>
        </div>
    </div>
</li>
{% endif %}