{% load static %}
{% load i18n %}
<div class="container">
   <!-- Brand and toggle get grouped for better mobile display -->
   <div class="navbar-translate">
      <a href="{% url 'landing:home' %}" class="navbar-brand">
         <div class="diventi-font">
            Diventi
         </div>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="sr-only">Toggle navigation</span>
      <span class="navbar-toggler-icon"></span>
      <span class="navbar-toggler-icon"></span>
      <span class="navbar-toggler-icon"></span>
      </button>
   </div>

       <!-- User profile modal -->
    <!-- Customizer modal -->
    <div class="modal fade fixed-right" id="modal-profile" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-vertical" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <!-- Close button -->
                    <div>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <!-- Modal content -->
                    <div class="px-4">
                        <!-- Avatar -->
                        <div class="d-flex my-4">
                            <div class="avatar-parent-child mx-auto">
                                <img alt="Image placeholder" src="../../assets/img/theme/light/person-1.jpg" class="avatar avatar-xl rounded-circle">
                                <span class="avatar-child avatar-badge bg-success"></span>
                            </div>
                        </div>
                        <div class="text-center mb-4">
                            <h6 class="h5 mb-0">Heather Parker</h6>
                            <span class="d-block text-muted">heatherparker@gmail.com</span>
                        </div>
                        <!-- Profile stats -->
                        <div class="d-flex mb-5">
                            <div class="col-4 text-center">
                                <a href="#" class="h5 font-weight-bolder text-warning mb-0">25</a>
                                <span class="d-block text-sm">Posts</span>
                            </div>
                            <div class="col-4 text-center">
                                <a href="#" class="h5 font-weight-bolder text-warning mb-0">350</a>
                                <span class="d-block text-sm">Following</span>
                            </div>
                            <div class="col-4 text-center">
                                <a href="#" class="h5 font-weight-bolder text-warning mb-0">1.5K</a>
                                <span class="d-block text-sm">Followers</span>
                            </div>
                        </div>
                        <!-- Performance chart -->
                        <div class="mb-5">
                            <div class="text-center mb-3">
                                <span class="d-block h6 mb-1">Monthly Usage</span>
                                <a href="#" class="h6 text-muted text-sm">42/50 GB</a>
                            </div>
                            <div class="d-flex">
                                <div class="progress-circle progress-lg mx-auto" id="progress-5" data-progress="72" data-trailwidth="4" data-text="72%" data-textclass="h3" data-color="primary"></div>
                            </div>
                            <div class="mt-4 pt-4 border-top">
                                <div class="row align-items-center mb-3">
                                    <div class="col-auto">
                                        <div class="icon icon-shape bg-soft-warning text-warning">
                                            <i class="fas fa-image"></i>
                                        </div>
                                    </div>
                                    <div class="col pl-0">
                                        <span class="d-block h6 text-sm mb-0">Images</span>
                                        <p class="mb-0 text-sm">2580 files</p>
                                    </div>
                                    <div class="col-auto text-right">
                                        <a href="#" class="h6 text-sm">18 GB</a>
                                    </div>
                                </div>
                                <div class="row align-items-center mb-3">
                                    <div class="col-auto">
                                        <div class="icon icon-shape bg-soft-success text-success">
                                            <i class="fas fa-file-alt"></i>
                                        </div>
                                    </div>
                                    <div class="col pl-0">
                                        <span class="d-block h6 text-sm mb-0">Documents</span>
                                        <p class="mb-0 text-sm">375 files</p>
                                    </div>
                                    <div class="col-auto text-right">
                                        <a href="#" class="h6 text-sm">5 GB</a>
                                    </div>
                                </div>
                                <div class="row align-items-center mb-3">
                                    <div class="col-auto">
                                        <div class="icon icon-shape bg-soft-danger text-danger">
                                            <i class="fas fa-video"></i>
                                        </div>
                                    </div>
                                    <div class="col pl-0">
                                        <span class="d-block h6 text-sm mb-0">Media</span>
                                        <p class="mb-0 text-sm">190 files</p>
                                    </div>
                                    <div class="col-auto text-right">
                                        <a href="#" class="h6 text-sm">10 GB</a>
                                    </div>
                                </div>
                                <div class="row align-items-center">
                                    <div class="col-auto">
                                        <div class="icon icon-shape bg-soft-primary text-primary">
                                            <i class="fas fa-question"></i>
                                        </div>
                                    </div>
                                    <div class="col pl-0">
                                        <span class="d-block h6 text-sm mb-0">Misc</span>
                                        <p class="mb-0 text-sm">376 files</p>
                                    </div>
                                    <div class="col-auto text-right">
                                        <a href="#" class="h6 text-sm">3 GB</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card shadow-none border-0 bg-section-secondary mt-8">
                            <div class="card-body pt-0 px-3 text-center">
                                <div class="pb-4 px-5 mt-n6">
                                    <img src="../../assets/img/svg/illustrations/illustration-15.svg" class="img-fluid img-center" alt="Illustration" />
                                </div>
                                <!-- Title -->
                                <h5 class="h5 mb-3">Upgrade to Pro</h5>
                                <!-- Text -->
                                <p class="text-muted">
                                    One year support, montlhy updates for up to 5 team members.
                                </p>
                                <!-- Button -->
                                <a href="#" class="btn btn-sm btn-primary">Upgrade</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer py-3 mt-auto">
                    <a href="#" class="btn btn-block btn-sm btn-neutral btn-icon rounded-pill">
                        <span class="btn-inner--icon"><i data-feather="log-out"></i></span>
                        <span class="btn-inner--text">Sign out</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    
   <!-- Collect the nav links, forms, and other content for toggling -->
   <div class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
        {% if user.is_staff %}
         <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               Lab
               <div class="ripple-container"></div>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
               <a class="dropdown-item" href="{% url 'admin:index' %}">{% trans "admin"|capfirst %}</a>
               <a class="dropdown-item" href="{% url 'landing:analytics' %}">{% trans "analytics"|capfirst %}</a>
               <a class="dropdown-item" href="{% url 'adventures:situation_story_create' %}">{% trans "adventures"|capfirst %}&nbsp; <span class="badge badge-pill badge-rose">alpha</span></a>
            </div>
         </li>
        {% endif %}
         <li class="nav-item">
            <a href="{% url 'blog:home' %}" class="nav-link">
            Blog
            </a>
         </li>
         <li class="nav-item">
            <a href="{% url 'forum:index' %}" class="nav-link">
            Forum
            </a>
         </li>
         {% if user.is_authenticated %}
         <li class="nav-item">
            <a href="{% url 'accounts:update' user.nametag %}" class="btn btn-warning btn-raised btn-fab btn-round" data-toggle="tooltip" data-placement="bottom" title="" data-container="body" data-original-title="{% trans 'my collection'|capfirst %}">
               <i class="fad fa-album-collection"></i>
               <div class="ripple-container"></div>
            </a>
         </li>
         <li class="dropdown nav-item">
            <a href="#" class="profile-photo dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false">
               <div class="profile-photo-small">
                  <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="{% if user.avatar.image %}{{ user.avatar.image }}{% else %}{% static 'material-kit/img/placeholder.jpg' %}{% endif %}" alt="{{ user.get_full_name }}" class="rounded-circle img-fluid">
               </div>
               <div class="ripple-container"></div>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
               <h6 class="dropdown-header">{{ user.get_full_name }} &middot; {{ user.email }}</h6>
               <a href="{% url 'accounts:update' user.nametag %}" class="dropdown-item">{% trans "profile"|capfirst %}</a>
               <a href="{% url 'accounts:signout' %}" class="dropdown-item text-warning">{% trans "sign out"|capfirst %}</a>
            </div>
         </li>
         {% else %}
         <li class="nav-item">
            <a href="{% url 'accounts:signin' %}" class="nav-link text-warning">
               <i class="fad fa-sign-in-alt fa-fw fa-lg"></i> {% trans "sign in" %}
            </a>
         </li>
         {% endif %}
      </ul>
   </div>
   <!-- /.navbar-collapse -->
</div>