{% load static %}
{% load i18n %}

<div class="container">

    <div class="navbar-translate">
        <a href="{% url 'landing:home' %}" class="navbar-brand">
            <div class="diventi-font">
                Diventi
            </div>
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navigation-example3">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon"></span>
            <span class="navbar-toggler-icon"></span>
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>

    <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">

            <li class="nav-item">
                <a href="{% url 'blog:home' %}" class="nav-link">
                    Blog
                </a>
            </li>

            {% if user.is_staff %}
                <li class="nav-item">
                    <a href="{% url 'admin:index' %}" class="nav-link">
                        {% trans "admin"|capfirst %}
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'landing:dashboard' %}" class="nav-link">
                        {% trans "analytics"|capfirst %}
                    </a> 
                </li>
            {% endif %}

            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a href="{% url 'accounts:update' user.nametag %}" class="nav-link">
                        {% trans "profile"|capfirst %}
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'accounts:signout' %}" class="nav-link" style="color: #ff9800;">
                        {% trans "sign out"|capfirst %}
                    </a>
                </li>
            {% else %}
                <li class="nav-item">   
                    <a href="{% url 'accounts:signin' %}" class="btn btn-link btn-warning">
                        <i class="fal fa-sign-in-alt fa-lg"></i> {% trans "sign in"|capfirst %} 
                        <div class="ripple-container"></div>
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>
</div>