{% extends 'base_quick.html' %}
{% load i18n %}

{% block desc_opengraph %}
<meta property="og:description" content="{{ object.title }}" />
{% endblock desc_opengraph %}

{% block title %}{{ object.title|capfirst }}{% endblock title %}

{% block content %}
<section>
    <div class="container d-flex align-items-center text-center text-lg-left py-5 py-lg-6 border-bottom">
        <div class="col px-0">
            <div class="row justify-content-center">
                <div class="col-lg-6 text-center">
                    <h2 class="h1 mb-2">{{ object.title }}</h2>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="slice">
    <div class="container">
        <div class="row row-grid justify-content-between">
            <div class="col-lg-8 mx-auto">
                <article>
                    {{ object.content|safe }}
                </article>
            </div>
        </div>
    </div>
</section>

{% for section in sections %}
  <section class="slice slice-lg delimiter-bottom">
      <div class="container">
        <div class="row row-grid align-items-center justify-content-between">
         <div class="col-md-6 col-lg-5 order-md-{{ section.position }} mr-md-auto">
            {% with section as object %} 
              {% if user.is_staff %}{% include 'publishable_badge.html' %}{% endif %}
            {% endwith %}
            <div class="py-lg-5 text-lg-{{ section.alignment }}">                
               <h3 class="h2 mb-3">{{ section.title|capfirst }}</h3>
               <p class="lead lh-180">{{ section.description|capfirst }}</p>
               {% if section.video %}
               <a href="{{ section.video }}" data-fancybox class="link link-underline-primary font-weight-bold">
                   <i data-feather="video"></i> {% trans 'play video'|capfirst %}
                </a>
               {% endif %}
            </div>
         </div>
         {% if section.image %}
         <div class="col-md-6 order-md-2">
            <div class="row mx-n2">
               <div class="col-12 mr-auto ml-auto px-0">
                  <img loading=lazy alt="{{ section.title }}" src="{{ section.image }}" class="img-fluid mb-3 rounded">
                </div>
            </div>
         </div>
         {% endif %}
        </div>
    </div>
  </section>

{% endfor %}

{% endblock content %}

{% block footercolor %}{% endblock footercolor %}