{% extends 'landing/standard_section.html' %}
{% load i18n %}

{% block product_landing_card %}
<div class="projects-2" id="projects-2">
    <div class="container">
      <div class="row">
        {% for product in section.products.all %}
            <div class="col-md-4 {{ section.get_alignment_classes }}">
                {% with product as product %}
                  {% include 'products/standard_card.html' %}
                {% endwith %}
            </div>
        {% endfor %}
    </div>
  </div>
</div>
{% endblock product_landing_card %}
