{% extends 'base_dashboard.html' %}

{% load i18n %}
{% load accounts_extras %}
{% load static %}

{% block title %}{% trans 'Dashboard' %}{% endblock title %}

{% block logo %}{% endblock logo %}

{% block navbar_logo %}{% endblock navbar_logo %}

{% block navbarbrand %}{% trans 'Dashboard' %}{% endblock navbarbrand %}

{% block content_header_title %}{% endblock content_header_title %}

{% block content_body %}
    <div class="container">

        <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
              <div class="card-header card-header-warning card-header-icon">
                <div class="card-icon">
                  <i class="material-icons">weekend</i>
                </div>
                <p class="card-category">Bookings</p>
                <h3 class="card-title">184</h3>
              </div>
              <div class="card-footer">
                <div class="stats">
                  <i class="material-icons text-danger">warning</i>
                  <a href="#pablo">Get More Space...</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
              <div class="card-header card-header-rose card-header-icon">
                <div class="card-icon">
                  <i class="material-icons">equalizer</i>
                </div>
                <p class="card-category">Website Visits</p>
                <h3 class="card-title">75.521</h3>
              </div>
              <div class="card-footer">
                <div class="stats">
                  <i class="material-icons">local_offer</i> Tracked from Google Analytics
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
              <div class="card-header card-header-success card-header-icon">
                <div class="card-icon">
                  <i class="material-icons">store</i>
                </div>
                <p class="card-category">Revenue</p>
                <h3 class="card-title">$34,245</h3>
              </div>
              <div class="card-footer">
                <div class="stats">
                  <i class="material-icons">date_range</i> Last 24 Hours
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
              <div class="card-header card-header-info card-header-icon">
                <div class="card-icon">
                  <i class="fa fa-twitter"></i>
                </div>
                <p class="card-category">Followers</p>
                <h3 class="card-title">+245</h3>
              </div>
              <div class="card-footer">
                <div class="stats">
                  <i class="material-icons">update</i> Just Updated
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
            <div class="col-md-6 ml-auto mr-auto">
                <div class="card">                                        
                    <div class="card-body">
                        <h2 class="card-title text-center">{{ users_count}} {% trans 'Users' %}</h2>
                        <div class="row">
                            {% for ugroups in users_groups %}
                                <div class="col-md-12">
                                    {% get_language_info for ugroups.language as lang %}
                                    <button class="btn btn-warning btn-block btn-round" data-clipboard-text="{% for user in users_lan|get_item:lang.code %}{{ user.email }};{% endfor %}">
                                        {% blocktrans with lang_code=lang.code %}Contact {{ lang_code }} users{% endblocktrans %} ({{ ugroups.total }})
                                    </button>
                                </div>
                            {% endfor %}                          
                        </div>
                        <div class="row">
                            {% for sgroups in subscribers_groups %}
                                <div class="col-md-12">
                                    {% get_language_info for sgroups.language as lang %}
                                    <button class="btn btn-warning btn-block btn-round" data-clipboard-text="{% for user in subscribers_lan|get_item:lang.code %}{{ user.email }};{% endfor %}">
                                        {% blocktrans with lang_code=lang.code %}Contact {{ lang_code }} subscribers{% endblocktrans %} ({{ sgroups.total }})
                                    </button>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content_body %}

{% block extrascript %}
    <script type="text/javascript" src="{% static 'clipboard/clipboard.min.js' %}"></script>
    <script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
    <script>
        var clipboard = new ClipboardJS('.btn');
        clipboard.on('success', function(e) {
            console.log(e);
            alert('{{ msg_success }}')
        });

        clipboard.on('error', function(e) {
            console.log(e);
            alert('{{ msg_failure }}')
        });
    </script>
{% endblock extrascript %}