{% load i18n %}

<form method="post" action="{% url 'landing:feedback' %}?next={{ request.path }}">
    {% csrf_token %}
    <div class="modal-header">
        <h5 class="modal-title">{% trans "Feedback" %}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            <i class="fal fa-times"></i>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                Carissimo beta tester, grazie fin da subito per la tua disponibilità. Diventi nasce come piccolo-grande sogno a cui teniamo molto.
                <div class="form-group has-warning"> 
                    {{ feedback_form.description }}
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer text-center">
        <button type="button" class="btn btn-link" disabled>{% trans "feedback count" %}: {{ feedback_count }}</button>
        <button type="submit" class="btn btn-warning btn-round">
            {% trans "Send" %}
        </button>
    </div>
</form>