{% extends 'base_quick.html' %}
{% load static %}
{% load i18n %}

{% block titleseparator %}{% endblock titleseparator %}
{% block title %}{% endblock title %}

{% block navbarclass %}navbar-light{% endblock navbarclass %}

{% block content %}

<section class="slice py-5 pb-0">
   <div class="container">
      <div class="row row-grid align-items-center">
         <div class="col-12 col-md-5 col-lg-6 order-md-2">
            <figure class="w-100"><img alt="{{ featured_section.title }}" src="{{ featured_section.image }}" class="img-fluid mw-md-100"></figure>
         </div>
         <div class="col-12 col-md-7 col-lg-6 order-md-1 pr-md-5">
            <h1 class="display-4 text-center text-md-left mb-3">{{ featured_section.title|capfirst }}</h1>
            <p class="lead text-center text-md-left text-muted">{{ featured_section.description|striptags|capfirst }}</p>
            <div class="text-center text-md-left mt-5">
               {% for product in featured_section.products.all %}
                  <a href="{{ product.get_absolute_url }}" class="btn btn-primary">                    
                    {% trans "learn more"|capfirst %}
                  </a>
                {% endfor %}
                {% if featured_section.section_survey %}
                  <a href="{% url 'feedbacks:new_answers_gate' featured_section.section_survey.slug %}" class="btn btn-primary btn-icon">
                    <span class="btn-inner--text">{{ featured_section.section_survey.title }}</span>
                  </a>
                {% endif %}
                {% for article in featured_section.articles.all %}
                  <a href="{% url 'blog:detail' article.slug %}" class="btn btn-primary btn-icon">
                    <span class="btn-inner--text">{{ article.title }}</span>
                  </a>
                {% endfor %}
                {% if featured_section.video %}
                  <a href="{{ featured_section.video }}" class="btn btn-neutral btn-icon" data-fancybox="">
                    <span class="btn-inner--text">{% trans 'play video'|capfirst %}</span>
                    <span class="btn-inner--icon">
                      <i class="far fa-play"></i>
                    </span>
                  </a>
                {% endif %}
            </div>
         </div>
      </div>
   </div>
</section>

<section class="slice slice-lg pt-6 pt-lg-8 bg-section-secondary">
  <div class="container">
      <div class="row mb-5 justify-content-center text-center">
          <div class="col-lg-8">
              <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="https://i.imgur.com/lJW9Hhg.png" class="rounded img-fluid w-75" alt="Diventi">
            <div class="mt-2">
                <p class="lead lh-180">
                  {% trans "Diventi is our vision of the best hobby in the world. We strongly believe that many styles of play exist and that each one of them is valid." %}</p>
            </div>
          </div>
      </div>
      <div class="row">
          <div class="col-lg-11 mx-auto">
              <div class="row mb-6">
                  <div class="col-lg-3 col-sm-6 mb-3">
                      <div class="d-flex align-items-center">
                          <div class="">
                              <h5 class="h1 font-weight-bolder mb-0">1</h5>
                          </div>
                          <div class="pl-3">
                              <h6 class="mb-0">{% trans "complete package for any kind of player"|capfirst %}</h6>
                              <span class="badge badge-dot">
                                  <i class="bg-warning"></i>{% trans "ongoing playtest"|capfirst %} 
                              </span>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-3 col-sm-6 mb-3">
                      <div class="d-flex align-items-center">
                          <div class="">
                              <h5 class="h1 font-weight-bolder mb-0">400+</h5>
                          </div>
                          <div class="pl-3">
                              <h6 class="mb-0">{% trans "character customization options"|capfirst %}</h6>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-3 col-sm-6 mb-3">
                      <div class="d-flex align-items-center">
                          <div class="">
                              <span class="h1 font-weight-bolder mb-0">
                                  <i class="fas fa-tablet-alt"></i>
                              </span>
                          </div>
                          <div class="pl-3">
                              <h6 class="mb-0">{% trans "optimized to work for most devices"|capfirst %}</h6>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-3 col-sm-6 mb-3">
                      <div class="d-flex align-items-center">
                          <div class="">
                              <span class="h1 font-weight-bolder mb-0">
                                  <i class="fas fa-palette"></i>
                              </span>
                          </div>
                          <div class="pl-3">
                              <h6 class="mb-0">{% trans "modular components for any storytelling style"|capfirst %}</h6>
                          </div>
                      </div>
                  </div>
              </div>

          </div>
      </div>
  </div>
</section>

{% for section in sections %}
  {% if section.articles.all %}
    <section class="slice slice-lg bg-section-dark pt-5 pt-lg-8">
       <div class="shape-container shape-line shape-position-top shape-orientation-inverse">
          <svg width="2560px" height="100px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="none" x="0px" y="0px" viewBox="0 0 2560 100" style="enable-background:new 0 0 2560 100" xml:space="preserve" class="">
             <polygon points="2560 0 2560 100 0 100"></polygon>
          </svg>
       </div>
       <div class="container position-relative zindex-100">
          <div class="col">
             <div class="row justify-content-center">
                <div class="col-md-10 text-center">
                   <div class="mt-4 mb-6">
                      <h2 class="h1 text-white">{{ section.title|capfirst }}</h2>
                      <h4 class="text-white mt-3">{{ section.description|safe }}</h4>
                      {% if section.video %}
                      <a href="{{ section.video }}" data-fancybox="" data-toggle="tooltip" data-placement="bottom" title="" class="btn btn-warning btn-icon hover-translate-y-n10 mt-4" data-original-title="Watch video in lightbox">
                         <span class="btn-inner--icon">
                            <i class="fas fa-video"></i>
                         </span>
                         <span class="btn-inner--text">{% trans "play video"|capfirst %}</span>
                      </a>
                      {% endif %}
                   </div>
                </div>
             </div>
          </div>
       </div>
    </section>
    <section class="slice pt-0">
       <div class="container position-relative zindex-100">
          <div class="row">
          	{% for article in section.articles.all %}
             <div class="col-xl-6 col-md-6 col-sm-12 mt-n7 d-flex align-items-stretch">
               <div class="card mb-8 hover-translate-y-n10 shadow-lg bg-cover bg-size--cover" style="background-image: url({{ article.image }});">
                  <!-- Mask -->
                  <span class="mask bg-dark opacity-1"></span>              
                  <!-- Card body -->
                  <div class="card-body pt-6 mt-auto position-relative">
                      <!-- Title -->
                      <a href="{% url 'blog:detail' article.slug %}" class="d-block h5 mb-3 text-white stretched-link">{{ article.title }}</a>
                      <!-- Text -->
                      <p class="mb-0 text-white">
                          {{ article.description }}
                      </p>
                  </div>
                  <!-- Meta -->
                  <div class="card-body position-relative delimiter-top">
                      <div class="d-flex align-items-center">
                          <div>
                              <a href="{{ article.author.get_absolute_url }}" class="avatar avatar-sm rounded-circle d-inline-block">
                                  <img alt="{{ article.author }}" src="{{ article.author.avatar.image }}">
                              </a>
                          </div>
                          <div class="pl-3">
                              <a href="{{ article.author.get_absolute_url }}" class="h6 stretched-link text-white text-sm">{{ article.author.get_full_name }}</a>
                          </div>
                      </div>
                  </div>
                </div>
              </div>
             {% endfor %}
          </div>
       </div>
    </section>
  {% elif section.products.all %}
  {% for product in section.products.all %}
    <section class="slice slice-lg">
       <div class="container">
          <div class="row row-grid justify-content-around align-items-center">
             <div class="col-lg-6 order-lg-2 ml-lg-auto pl-lg-6">
                <h5 class="h2 mt-4">{{ section.title|capfirst }}</h5>
                <p class="lead lh-190 my-4">{{ section.description|capfirst }}</p>
                <ul class="list-unstyled">
                  {% for chapter in product.chapters.all %}
                   <li class="py-2">
                      <div class="d-flex align-items-center">
                         <div>
                            <div class="icon icon-shape icon-{{ chapter.color }} icon-sm rounded-circle mr-3"><i class="fas fa-{{ chapter.icon }}"></i></div>
                         </div>
                         <div><span class="h6 mb-0">{{ chapter.title|capfirst }}</span></div>
                      </div>
                   </li>
                   {% endfor %}
                </ul>
              </div>
              <div class="col-lg-6">
                <div class="card card-overlay card-hover-overlay hover-shadow-lg hover-translate-y-n10">
                <figure class="figure"><img alt="{{ product.title }}" src="{{ product.image }}" class="img-fluid"></figure>
                <div class="card-img-overlay d-flex flex-column align-items-center p-0">
                  <div class="overlay-text w-75 mt-auto p-4">
                    <p class="lead">{{ product.abstract }}</p>
                    <a href="{{ product.get_absolute_url }}" class="link link-underline-white font-weight-bold">{{ product.category }}</a>
                  </div>
                  <div class="overlay-actions w-100 card-footer mt-auto text-center">
                    <a href="{{ product.get_absolute_url }}" class="h6 mb-0">
                      <span class="fa-stack" style="vertical-align: middle;">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fa{{ product.category.icon_style }} fa-{{ product.category.icon }} fa-stack-1x fa-inverse"></i>
                      </span>
                      {{ product.title }}
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
       </div>
    </section>
  {% endfor %}
  {% elif section.features.all %}
    <section class="slice slice-lg">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <span class="badge badge-primary badge-pill">{{ section.title|capfirst }}</span>
            <h5 class="lh-180 mt-4 mb-6">{{ section.description|capfirst }}</h5>
          </div>
        </div>
        <div class="row mx-lg-n4">
          {% for feature in section.features.all %}
          <div class="col-lg-4 col-md-6 px-lg-4">
            <div class="card shadow-none">
              <div class="p-3 d-flex">
                <div>
                  <div class="icon icon-shape rounded-circle bg-{{ section.color|default:'info' }} text-white mr-4">
                    <i class="fa{{ feature.icon_style|default:'r' }} fa-{{ feature.icon|default:'check'}}"></i>
                  </div>
                </div>
                <div>
                  <span class="h6">{{ feature.title|capfirst }}</span>
                  <p class="text-sm text-muted mb-0">{{ feature.description|capfirst }}</p>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </section>
  {% else %}
    <section class="slice slice-lg delimiter-top delimiter-bottom">
        <div class="container">
          <div class="row row-grid align-items-center justify-content-between">
           <div class="col-md-6 col-lg-5 order-md-{{ section.position }} mr-md-auto">
              <div class="py-lg-5 text-lg-{{ section.alignment }}">
                 <h3 class="h2 mb-3">{{ section.title|capfirst }}</h3>
                 <p class="lead lh-180">{{ section.description|capfirst }}</p>
                 {% if section.video %}
                 <a href="{{ section.video }}" data-fancybox class="link link-underline-primary font-weight-bold">
                     <i class="fas fa-video mr-1"></i> {% trans 'play video'|capfirst %}
                  </a>
                 {% endif %}
              </div>
           </div>
           {% if section.image %}
           <div class="col-md-6 order-md-2">
              <div class="row mx-n2">
                 <div class="col-12 mr-auto ml-auto px-0">
                    <img alt="{{ section.title }}" src="{{ section.image }}" class="img-fluid mb-3 rounded">
                  </div>
              </div>
           </div>
           {% endif %}
          </div>
      </div>
    </section>
  {% endif %}
{% endfor %}

<section class="slice slice-lg pt-md-9 bg-section-secondary">
  <div class="container">
    <div class="card shadow-lg border-0 zindex-100">
      <div class="card-body px-5 py-5 text-center text-md-left">
        {% if not user.is_authenticated %}
        <div class="row align-items-center">
          <div class="col-md-6">
            <h4 class="h5 mb-2">{% trans "Join our community" %}.</h4>
            <p class="mb-0">{% trans "Sign up to know more and start exploring." %}</p>
          </div>
          <div class="col-12 col-md-6 mt-4 mt-md-0 text-md-right">
            <a href="{% url 'accounts:signup' %}" class="btn btn-warning btn-icon rounded-pill">
              <span class="btn-inner--icon">
                <i class="fad fa-sign-in-alt"></i>
              </span>
              <span class="btn-inner--text">{% trans 'sign up'|capfirst %}</span>
            </a>
          </div>
        </div>
        {% else %}
        <div class="row align-items-center">
          <div class="col-md-6">
            <h4 class="h5 mb-2">{% trans "Hello" %} {{ user.first_name }}!</h4>
            <p class="mb-0">{% trans "You have signed in. Feel free to explore or deep dive into your profile." %}</p>
          </div>
          <div class="col-12 col-md-6 mt-4 mt-md-0 text-md-right">
            <a href="{% url 'accounts:detail' user.nametag %}" class="btn btn-warning btn-icon rounded-pill">
              <span class="btn-inner--icon">
                <i class="fad fa-user-circle fa-lg"></i>
              </span>
              <span class="btn-inner--text">{% trans "Manage profile" %}</span>
            </a>
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>

{% endblock content %}

