{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block titleseparator %}{% endblock titleseparator %}
{% block title %}{% endblock title %}

{% block bodyclass %}landing-page{% endblock bodyclass %}

{% block pageheaderimage %}{% if presentation.cover %}{{ presentation.image }}{% endif %}{% endblock pageheaderimage %}

{% block pageheadercontent %}
    <div class="container">
        <div class="row">
            <div class="col-md-8">                
                <h1 class="title">{{ presentation.title|title }}.</h1>
                <h4>{{ presentation.abstract|striptags }}</h4>
                <br>
                {% if featured_product %}
                    <a href="{% url 'products:detail' featured_product.slug %}" class="btn btn-danger btn-raised btn-lg">
                        {% trans "Find out more" %}
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock pageheadercontent %}

{% block maincontainer %}

    <div class="section text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-5 ml-auto mr-auto">
                    <img class="rounded img-fluid" src="{% static 'brand/diventi-logo.png' %}" alt="Diventi">
                </div>                
            </div>
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto">
                    <h5 class="description">{{ presentation.description|striptags }}</h5>
                </div>
            </div>
            
            <div class="features">
                <div class="container">
                    <div class="row">
                        {% for feature in presentation.features.all %}
                        <div class="col-sm-4">
                            <div class="info">
                                <div class="icon icon-{{ feature.color }}">
                                    <i class="fal fa-{{ feature.icon }} fa-4x"></i>
                                </div>
                                <h4 class="info-title">{{ feature.title|title }}</h4>
                                <p>{{ feature.description|safe }}</p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="projects-4" id="projects-4">
        <div class="container">
          <div class="row">
            <div class="col-md-8 ml-auto mr-auto text-center">
              <h2 class="title">{% trans 'Our projects' %}</h2>
              <h5 class="description">{{ presentation.projects_description|striptags }}</h5>
              <div class="section-space"></div>
            </div>
          </div>
          {% for product in products %}
              {% if forloop.first %}
              {% else %}
                <hr>
              {% endif %}
              <div class="row">
                <div class="col-md-5 ml-auto">
                  <div class="card card-background" style="background-image:url('{% if product.image %}{{ product.image }}{% endif %}')">
                    <a href="#pablo"></a>
                    <div class="card-body">
                      <h6 class="card-category text-info">{{ product.category }}</h6>                      
                      <a href="{% url 'products:detail' product.slug %}">
                        <h3 class="card-title">{{ product.title }}</h3>
                      </a>
                      <p class="card-description">
                        {{ product.abstract|striptags }}
                      </p>
                      <a href="{% url 'products:detail' product.slug %}" class="btn btn-warning btn-round">
                        {% trans 'View Project' %}
                      </a>
                    </div>
                  </div>
                </div>                
                <div class="col-md-5 mr-auto">
                    {% for chapter in product.chapters.all %}
                      <div class="info info-horizontal">
                        <div class="icon icon-warning">
                            <i class="fal fa-2x fa-fw fa-{{ chapter.icon }}"></i>
                        </div>
                        <div class="description">
                          <h4 class="info-title">{{ chapter.title|capfirst }}</h4>
                          <p class="description">
                            {{ chapter.description|striptags|capfirst }}
                          </p>
                        </div>
                      </div>
                    {% endfor %}
                </div>
              </div>
        {% endfor %}
      </div>
    </div>

    <div class="section text-center">
        <div class="container">
            <h2 class="title">{% trans 'Our authors' %}</h2>
             <div class="row">
                {% for author in authors %}
                    <div class="col-md-4">
                        {% include "accounts/author.html" %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="section section-contacts">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto">
                    {% if user.is_authenticated %}
                        <div class="text-center">
                            <h2 class="title">{% trans "Hello" %} {{ user.first_name }}!</h2>
                            <h5 class="description">{% trans "You have signed in. Feel free to explore or deep dive into your profile." %}</h5>
                            <a href="{% url 'accounts:update' user.pk %}" class="btn btn-warning btn-round">
                                <i class="fal fa-user-circle fa-lg"></i> {% trans "Manage profile" %}
                            </a>
                        </div>
                    {% else %}
                        <h2 class="text-center title"><a name="signup">{% trans "Join our community" %}</a></h2>
                        <h4 class="text-center description">{% trans "Sign up to know more and start exploring." %}</h4>
                        <form class="contact-form" method="POST">
                            {% csrf_token %}
                            <div class="row">
                                {% for field in registration_form %}
                                    <div class="col-md-6">
                                        <div class="form-group has-warning">
                                            {{ field }}
                                            {% if form.field.errors %}
                                                <div class="alert alert-danger" role="alert">
                                                    {{ form.field.errors|striptags }}
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="row">
                                <div class="col-md-4 ml-auto mr-auto text-center">
                                    <input type="submit" class="btn btn-warning btn-round btn-raised" value="{% trans 'Sign up' %}">
                                </div>
                            </div>
                        </form>                        
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock maincontainer %}