{% extends 'base_quick.html' %}
{% load static %}
{% load i18n %}

{% block titleseparator %}{% endblock titleseparator %}
{% block title %}{% endblock title %}

{% block navbarclass %}navbar-dark bg-dark{% endblock navbarclass %}
{% block headerclass %}header-transparent{% endblock headerclass %}
{% block navbar_brand_style %}text-white{% endblock navbar_brand_style %}

{% block extrahead %}
    <link rel="stylesheet" href="{% static 'diventi/css/diventi-datatables.min.css' %}" />
    <style>
        table.cards {
            width: 100%;
            border-spacing: 0;
            border: 1px solid #c1c7cd;
            word-break: break-word;
        }

        table.cards td {
            border-color: #c1c7cd;
            border-style: solid;
            border-top-width: 0;
            border-bottom-width: 0;
            border-right-width: 0;
            border-left-width: 1px;
        }
    </style>
{% endblock extrahead %}

{% block content %}

<section class="slice slice-lg bg-gradient-gray-dark">
    <div class="container d-flex align-items-center text-center text-lg-left pt-4 pt-lg-6">
        <div class="col px-0">
            <div class="row row-grid align-items-center">
                <div class="col-lg-6 pr-lg-5">
                    <h1 class="display-4 text-white mb-4">
                        {{ featured_section.prefix|capfirst }} <strong class="text-warning">{{ featured_section.title|capfirst }}.</strong>
                    </h1>
                    <p class="lead text-white opacity-8">
                        {{ featured_section.description|striptags|capfirst }}
                    </p>
                    <div class="mt-5">
                        <a href="#sct-next" class="btn btn-white my-2" data-scroll-to="" data-scroll-to-offset="85">{% trans 'learn more'|capfirst %}</a>
                        {% if hot_product %}
                        <a href="{{ hot_product.get_absolute_url }}" class="btn btn-outline-white my-2">{{ featured_section.button_label|capfirst }}</a>
                        {% endif %}
                        {% if pinned_survey %}
                        <a href="{{ pinned_survey.get_absolute_url }}" class="btn btn-outline-success my-2">{{ featured_section.button_label|capfirst }}</a>
                        {% endif %}
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="row mx-n2">
                        <div class="col-sm-6 mt-sm-6 px-sm-2">
                            <a href="{{ pinned_product.get_absolute_url }}">
                                <div class="card border-0 mb-3 hover-translate-y-n10 hover-shadow-lg">
                                    <div class="h-100">
                                        <img loading=lazy class="card-img-top py-3" src="{{ featured_section.image }}" alt="{{ pinned_product.title }}">
                                    </div>
                                    <div class="card-body p-3 delimiter-top">
                                        <div class="text-center">
                                            {% with pinned_product as object %}
                                                {% if user.is_staff %}
                                                    <div class="mb-1">
                                                        {% include 'publishable_badge.html' %}
                                                    </div>
                                                {% endif %}
                                            {% endwith %}        
                                            <a href="{{ pinned_product.get_absolute_url }}" class="h6 stretched-link lh-150">
                                                 {{ pinned_product.title|capfirst }}</a>
                                            <small class="d-block text-sm mb-0 text-{{ pinned_product.category.color }}"><b>{{ pinned_product.category.title }}</b></small>                 
                                        </div>
                                    </div>
                                </div>
                            </a>
                            {% if featured_section.video %}
                            <div class="card shadow-none mb-3">
                                <div class="card-body p-3">                                        
                                    <div class="d-flex align-items-center">
                                        <div class="">
                                            <div class="icon bg-warning text-white rounded-circle icon-shape hover-scale-110">
                                                <a href="{{ featured_section.video }}" class="mb-0" data-fancybox="">
                                                    <i data-feather="play" class="text-white"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="pl-3 mt-2">
                                            <h6>{% trans 'video presentation'|capfirst %}</h6>
                                        </div>
                                    </div>
                                </div>
                            </div> 
                            {% endif %}
                        </div>

                        <div class="col-sm-6 px-sm-2 mt-sm-7">
                            <div class="card mb-3 hover-shadow-lg hover-translate-y-n3 mt-xl-n6">
                                <div class="card-body text-center py-5 h-100">
                                    <div class="d-flex justify-content-center align-items-center mb-3">
                                        <span class="badge badge-soft-dark badge-pill">
                                            {{ latest_article.publication_date|date:"d/m/Y" }}
                                        </span>
                                        {% with latest_article as object %}
                                            {% if user.is_staff %}{% include 'publishable_badge.html' %}{% endif %}
                                        {% endwith %}
                                    </div>
                                    <div class="mb-1 mx-auto">
                                        <h6>{{ latest_article.title }}</h6>
                                    </div>

                                    <a href="{{ latest_article.get_absolute_url }}" class="ttext-sm link link-underline-dark">{% trans 'read article'|capfirst %}</a>
                                </div>
                            </div>
                            
                            <div class="card">
                                <div class="card-body text-center">          

                                    <div class="mt-3 mb-3">
                                        <a href="{{ latest_public_product.get_absolute_url }}" class="d-block h5 mb-0">
                                            {{ latest_public_product.title }}                                    
                                        </a>
                                        {% with latest_public_product as object %}
                                            {% if user.is_staff %}{% include 'publishable_badge.html' %}{% endif %}
                                        {% endwith %}

                                        <small class="d-block text-sm mb-0 text-{{ latest_public_product.category.color }}"><b>{{ latest_public_product.category.title }}</b></small>
                                    </div>

                                    <div class="mt-3 pt-3 delimiter-top">
                                        <div class="">
                                            <div class="row">
                                                {% for pd in latest_public_product.details.all %}                                    
                                                    <div class="col px-0 mx-0">
                                                        <span class="h6 font-weight-bolder mb-0">{{ pd.title }}x</span>
                                                        <div class="icon icon-sm icon-dark rounded-circle icon-shape shadow" data-toggle="tooltip" data-placement="bottom" title="{{ pd.description|capfirst }}">
                                                            <i data-feather="{{ pd.icon|default:'book' }}"></i>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- SVG separator -->
    <div class="shape-container shape-line shape-position-bottom">
        <svg width="2560px" height="100px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="none" x="0px" y="0px" viewBox="0 0 2560 100" style="enable-background:new 0 0 2560 100;" xml:space="preserve" class="">
            <polygon points="2560 0 2560 100 0 100"></polygon>
        </svg>
    </div>
</section>

<section class="slice pb-6" id="sct-next">
    <div class="container">
    {% for section in sections %}
        <div class="section-process-step">
            <div class="row row-grid justify-content-between align-items-center">
                <div class="col-lg-5 order-lg-{% if forloop.counter|divisibleby:2 %}1{% else%}2{% endif %}">
                    <span class="badge badge-primary badge-pill">{{ section.button_label|default:'feature'|capfirst }}</span>
                    {% with section as object %}
                        {% if user.is_staff %}{% include 'publishable_badge.html' %}{% endif %}
                    {% endwith %}
                    <h5 class="h3 mt-4">{{ section.title }}</h5>
                    <p class="lead text-muted mb-4">
                        {{ section.description|capfirst }}
                    </p>

                    {% if section.features %}
                    <ul class="list-unstyled mb-4">
                        {% for feature in section.features.all %}
                        <li class="py-2">
                            <div class="d-flex align-items-center">
                                <div>
                                    <div class="icon icon-shape bg-{{ feature.color|default:'primary' }} text-white icon-sm rounded-circle mr-3">
                                        <i data-feather="{{ feature.icon|default:'arrow-right' }}"></i></div>
                                </div>
                                <div><span class="h6 mb-0">{{ feature.title }}</span></div>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                    {% endif %}

                    {% if section.about_article or section.product_category or section.article_category %}                
                    <a href="{% if section.about_article %}{{ section.about_article.get_absolute_url }}{% elif section.product_category %}{% url 'products:list_category' section.product_category.slug %}{% elif section.article_category %}{% url 'blog:list_category' section.article_category.title %}{% endif %}" class="link link-underline-primary font-weight-bold">
                        {{ section.attachment_label|default:'find out more'|capfirst }}
                    </a>
                    {% endif %}

                </div>
                <div class="col-lg-6 order-lg-{% if forloop.counter|divisibleby:2 %}2{% else %}1{% endif %}">
                    <div class="card card-transparent mb-0 mr-lg-5 shadow-none border-0 hover-shadow-lg">
                        <div class="card-body p-0">
                            <img loading=lazy alt="{{ section.title }}" src="{{ section.image }}" class="img-fluid shadow rounded">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
</section>

<section class="slice slice-lg pt-md-9 bg-section-secondary">
  <div class="container">
    <div class="card shadow-lg border-0 zindex-100">
      <div class="card-body px-5 py-5 text-center text-md-left">
        {% if not user.is_authenticated %}
        <div class="row align-items-center">
          <div class="col-md-6">
            <h4 class="h5 mb-2">{% trans "Join our community" %}.</h4>
            <p class="mb-0">{% trans "Sign up to know more and start exploring." %}</p>
          </div>
          <div class="col-12 col-md-6 mt-4 mt-md-0 text-md-right">
            <a href="{% url 'accounts:signup' %}" class="btn btn-primary my-2">
              {% trans 'sign up'|capfirst %}
            </a>
          </div>
        </div>
        {% else %}
        <div class="row align-items-center">
          <div class="col-md-6">
            <h4 class="h5 mb-2">{% trans "Hello" %} {{ user.first_name }}!</h4>
            <p class="mb-0">{% trans "You have signed in. Feel free to explore or deep dive into your profile." %}</p>
          </div>
          <div class="col-12 col-md-6 mt-4 mt-md-0 text-md-right">
            <a href="{% url 'accounts:detail' user.nametag %}" class="btn btn-primary my-2">
              {% trans "Manage profile" %}
            </a>
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>

{% endblock content %}

{% block footercolor %}{% endblock footercolor %}