{% extends 'base.html' %}

{% block titleseparator %}{% endblock titleseparator %}
{% block title %}{% endblock title %}

{% block extrahead %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'vertical-timeline/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'vertical-timeline/css/diventi.css' %}">
    <style>
        .feature-info {
            max-width: 360px;
            margin: 0 auto;
            padding: 70px 0 30px;
        }
    </style>
{% endblock extrahead %}

{% block bodyclass %}landing-page{% endblock bodyclass %}

{% block pageheader %}
    <div class="page-header header-filter" {% if presentation.cover %}style="background-image: url('{{ presentation.cover.url }}');"{% endif %}>

    <div class="container">
        <div class="row">
            <div class="col-md-6">                
                <h1 class="title">{{ presentation.title }}</h1>
                <h4>{{ presentation.abstract|safe }}</h4>
                <br />
                <div class="buttons">
                    {% if featured_product %}
                        <a href="{% url 'products:detail' featured_product.slug %}" class="btn btn-danger btn-raised btn-lg">
                            <i class="fas fa-fire fa-lg"></i> {{ featured_product.title }}
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock pageheader %}

{% block content %}
    <div class="section text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="card-image">
                        <img class="img img-responsive" src="{% static 'brand/diventi-logo.png' %}" />
                    </div>
                </div>
                <div class="col-md-8 col-md-offset-2">
                    <h5 class="description">{{ presentation.description|safe }}</h5>
                </div>                
            </div>
            <div class="row">
                <div class="col-md-12">
                {% for feature in presentation.features.all %}
                    <div class="col-md-4">
                        <div class="feature-info">
                            <div class="icon icon-{{ feature.color }}">
                                <i class="fal fa-{{ feature.icon }} fa-5x"></i>
                            </div>
                            <h4 class="info-title">{{ feature.title|title }}</h4>
                            <p>{{ feature.description|safe }}</p>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    {% if user.is_authenticated %}
                    <div class="text-center">
                        <h2 class="title">Hello {{ user.first_name }}!</h2>
                        <h5 class="description">You have signed in. Feel free to explore or deep dive into your profile.</h5>
                        <a href="{% url 'accounts:update' user.pk %}" class="btn btn-warning">
                            <i class="fal fa-user-circle fa-lg"></i> View profile
                        </a>
                    </div>
                    {% else %}
                        <h2 class="text-center title">Join our community</h2>
                        <h4 class="text-center description">Sign up to know more and start exploring.</h4>
                        <form class="contact-form" method="POST">
                            {% csrf_token %}
                            {% for field in registration_form %}
                                <div class="col-md-6">
                                {{ field }}
                                </div>
                            {% endfor %}
                            <div class="col-md-4 col-md-offset-4 text-center">
                                <input type="submit" class="btn btn-warning btn-raised" value="Sign up">
                            </div>
                        </form>                        
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}