{% extends 'base_quick.html' %}
{% load static %}
{% load i18n %}

{% block titleseparator %}{% endblock titleseparator %}
{% block title %}{% endblock title %}

{% block navbarclass %}navbar-light{% endblock navbarclass %}
{% block headerclass %}{% endblock headerclass %}

{% block extrahead %}
    <link rel="stylesheet" href="{% static 'diventi/css/diventi-datatables.min.css' %}" />
    <style>
        table.cards {
            width: 100%;
            border-spacing: 0;
            border: 1px solid #c1c7cd;
            word-break: break-word;
        }

        table.cards td {
            border-color: #c1c7cd;
            border-style: solid;
            border-top-width: 0;
            border-bottom-width: 0;
            border-right-width: 0;
            border-left-width: 1px;
        }
    </style>
{% endblock extrahead %}

{% block content %}

<section class="slice py-lg-6 delimiter-bottom">
   <div class="container">
      <div class="row row-grid align-items-center">
         <div class="col-12 col-md-5 col-lg-6 order-md-2">                        
            <figure class="w-100"><img loading="lazy" alt="{{ featured_section.title }}" src="{{ featured_section.image }}" class="img-fluid mw-md-100"></figure>
            {% if featured_section.video %}
            <div class="card-img-overlay d-flex justify-content-end d-block d-md-block d-lg-none">
              <div class="text-center">
                <div>
                  <a href="{{ featured_section.video }}" class="icon bg-gradient-primary text-white rounded-circle icon-shape hover-scale-110" data-fancybox="">
                    <i data-feather="play"></i>
                  </a>
                </div>
              </div>
            </div>
            {% endif %}
         </div>
         <div class="col-12 col-md-7 col-lg-6 order-md-1 pr-md-5">            
            <h1 class="h1 text-center text-md-left mb-4">{{ featured_section.prefix|capfirst }} <strong class="text-highlight-info">{{ featured_section.title|capfirst }}</strong></h1>
            <p class="lead text-center text-md-left text-muted">{{ featured_section.description|striptags|capfirst }}</p>
            <div class="text-center text-md-left text-muted mt-2">
                <a href="{{ latest_article.get_absolute_url }}" class="text-primary text-underline--dashed"><i data-feather="align-left" data-toggle="tooltip" data-placement="bottom" title="{% trans 'latest article'|capfirst %}" class="mb-1"></i> {{ latest_article.title|capfirst }} - {{ latest_article.publication_date|date:"d/m/Y" }}</a>
            </div>
            <div class="text-center text-md-left mt-4">
                {% if featured_section.video %}
                  <a href="{{ featured_section.video }}" class="btn btn-neutral btn-icon d-none d-lg-inline-block" data-fancybox="">
                    <span class="btn-inner--text">{% trans 'play video'|capfirst %}</span>
                    <span class="btn-inner--icon">
                      <i data-feather="play" class="mb-1"></i>
                    </span>
                  </a>
                {% endif %}
            </div>
         </div>
      </div>
   </div>
</section>

<section class="slice">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div data-toggle="sticky" data-sticky-offset="50" class="" style="">
            <div class="d-none d-md-none d-lg-block">
                <div class="card">
                    <div class="card-body">
                        <nav class="nav nav-pills flex-column" id="nav-terms">
                            {% with paper_toc as paper_toc %}
                                {% include "ebooks/book_toc_quick.html" %}
                            {% endwith %}
                        </nav>
                    </div>
                </div>
            </div>
        </div>
      </div>
      <div class="col-lg-7 mb-5 mb-lg-0">        
        <div class="mb-4 d-flex justify-content-center">
          {% if book.logo %}
            <figure class="figure">
                <a name="top">
                  <img loading="lazy" class="img-fluid rounded shadow-lg p-3" src="{{ book.logo }}">
                </a>
            </figure>
          {% else %}
            <a name="top"><h1>{{ book.title|capfirst }}</h1></a>
          {% endif %}
        </div>       
        <div id="accordion-1" class="accordion accordion-spaced d-block d-md-block d-lg-none">
            <div class="card bg-light-secondary border-primary-dark">
                <div class="card-header py-4 collapsed" id="heading-1-1" data-toggle="collapse" role="button" data-target="#collapse-1-1" aria-expanded="false" aria-controls="collapse-1-1">
                    <h6 class="mb-0">
                        {% trans "table of contents"|capfirst %}
                    </h6>
                </div>
                <div id="collapse-1-1" class="collapse" aria-labelledby="heading-1-1" data-parent="#accordion-1" style="">
                    <div class="card-body">
                        <nav class="nav nav-pills flex-column" id="nav-terms">
                            {% with paper_toc as paper_toc %}
                                {% include "ebooks/book_toc_quick.html" %}
                            {% endwith %}
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <article>
          {% include paper_filename %}
        </article>        
      </div>
    </div>
 </div>
</section>
{% endblock content %}

{% block footercolor %}{% endblock footercolor %}

{% block extrascript %}
    <script src="{% static 'readingtime/readingtime.js' %}"></script>
    <script>
        $('article').readingTime({
            readingTimeTarget: '.eta',
            wordCountTarget: '.words',
        });
        $(document).ready(function() { 
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>

    <script src="{% static 'diventi/js/diventi-datatables.js' %}"></script>
    <script src="{% static 'diventi/js/diventi-sortable.min.js' %}"></script>
    <script>
        $(document).ready(function() {
            for (var i = 99; i >= 0; i--) {
                $('#tabella-'+i).DataTable({
                    "language": {
                        "lengthMenu": "{% trans 'Display _MENU_ records per page' %}",
                        "zeroRecords": "{% trans 'Nothing found - sorry' %}",
                        "info": "{% trans 'Showing page _PAGE_ of _PAGES_' %}",
                        "infoEmpty": "{% trans 'No records available' %}",
                        "infoFiltered": "{% trans '(filtered from _MAX_ total records)' %}",
                        "paginate": {
                            "first": "{% trans 'First page' %}",
                            "previous": "{% trans 'Previous' %}",
                            "next": "{% trans 'Next' %}"
                        },
                        search: '',
                        searchPlaceholder: '{% trans 'Filter records' %}'
                    }
                });
            }
        } );
    </script>

{% endblock extrascript %}