{% extends 'base_quick.html' %}
{% load static %}
{% load i18n %}

{% block title %}{{ landing_page.title }}{% endblock title %}

{% block extrahead %}
    <link rel="stylesheet" href="{% static 'diventi/css/diventi-datatables.min.css' %}" />    
    <style>
        
        :root {
            /* Palette Arancione */
            --primary-color: #ea580c; /* Arancione Scuro/Vibrante */
            --secondary-color: #475569; /* Grigio Ardesia */
            --bg-light: #fff7ed; /* Crema chiarissimo */
            --text-dark: #1e293b; /* Blu scuro quasi nero */
            --accent: #f97316; /* Arancione chiaro per hover */
        }
    </style>

{% endblock extrahead %}

{% block headerclass %}header{% endblock headerclass %}

{% block navbarclass %}fixed-top {% if featured_section.cover_primary  %}navbar-dark bg-section-dark{% else %}navbar-light{% endif %}{% endblock navbarclass %}

{% block navbarstyle %}position: fixed !important; top: 0; width: 100%; z-index: 1030;{% endblock navbarstyle %}

{% block navbar_brand_style %}{% if featured_section.cover_primary %}text-white{% else %}text-dark{% endif %}{% endblock navbar_brand_style %}

{% block navbar_links %}
    <ul class="navbar-nav ml-lg-auto mr-3">
        <li class="nav-item" data-toggle="hover">
        {% if user.is_anonymous %}
        <div class="d-lg-none">
            <a href="{% url 'accounts:signin' %}?next={{ request.path }}" class="nav-link">
                {% trans "sign in"|capfirst %}
            </a>
        </div>
        </li>
        {% elif user.is_staff %}
        <li class="nav-item nav-item-spaced dropdown dropdown-animate" data-toggle="hover">
            <a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{% trans "manage"|capfirst %}</a>
            <div class="dropdown-menu dropdown-menu-md p-0">
                <div class="list-group list-group-flush px-lg-4">
                    <a href="{% url 'admin:index' %}" class="list-group-item list-group-item-action" role="button">
                        <div class="d-flex">
                            <span class="h6">
                                <i data-feather="settings"></i>
                            </span>
                            <div class="ml-3">
                                <h6 class="heading mb-0">Admin</h6>
                                <small class="text-sm">{% trans "control panel for authors only"|capfirst %}.</small>
                            </div>
                        </div>
                    </a>
                    <div class="py-3 d-none d-lg-block">
                        <div class="row">
                            <div class="col-sm-6">
                                <a href="{% url 'admin:blog_article_changelist' %}" class="dropdown-item">{% trans "articles"|capfirst %}</a>
                                <a href="{% url 'admin:accounts_diventiuser_changelist' %}" class="dropdown-item">{% trans "users"|capfirst %}</a>
                                <a href="{% url 'admin:products_product_changelist' %}" class="dropdown-item">{% trans "projects"|capfirst %}</a>
                                <a href="{% url 'admin:feedbacks_survey_changelist' %}" class="dropdown-item">{% trans "surveys"|capfirst %}</a>
                                <a href="{% url 'admin:landing_section_changelist' %}" class="dropdown-item">{% trans "sections"|capfirst %}</a>
                            </div>
                            <div class="col-sm-6">
                                <a href="{% url 'admin:ebooks_book_changelist' %}" class="dropdown-item">{% trans "books"|capfirst %}</a>
                                <a href="{% url 'admin:geminigm_gemmaistruction_changelist' %}" class="dropdown-item">{% trans "AI settings"|capfirst %}</a>
                                <a href="{% url 'admin:packages_package_changelist' %}" class="dropdown-item">{% trans "packages"|capfirst %}</a>
                                <a href="{% url 'admin:forum_conversation_post_changelist' %}" class="dropdown-item">{% trans "forum posts"|capfirst %}</a>
                                <a href="{% url 'admin:landing_searchsuggestion_changelist' %}" class="dropdown-item">{% trans "search suggenstions"|capfirst %}</a>
                            </div>
                        </div>
                    </div>
                    <a href="{% url 'landing:analytics' %}" class="list-group-item list-group-item-action" role="button">
                        <div class="d-flex">
                            <span class="h6">
                                <i data-feather="bar-chart-2"></i>
                            </span>
                            <div class="ml-3">
                                <h6 class="heading mb-0">{% trans "analytics"|capfirst %}</h6>
                                <small class="text-sm">{% trans "a tool to measure the website performance"|capfirst %}.</small>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </li>
        {% endif %}
        <li class="nav-item nav-item-spaced dropdown dropdown-animate" data-toggle="hover">
            <a class="nav-link" data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">{% trans "navigate"|capfirst %}</a>
            <div class="dropdown-menu dropdown-menu-md p-0">
              <div class="list-group list-group-flush px-lg-4">
                {% for section in sections %}                
                {% if not section.attached_product.unfolded %}
                    <a href="#{{ section.slug }}" class="list-group-item list-group-item-action" role="button">
                        <div class="d-flex">
                            <span class="h6">
                                <i data-feather="bookmark"></i>
                            </span>
                            <div class="ml-3">
                                <h6 class="heading mb-0">{{ section.button_label|capfirst }}</h6>
                                <small class="text-sm">{{ section.short_description|capfirst }}</small>
                            </div>
                        </div>
                    </a>
                {% endif %}
                {% if forloop.last %}
                    <a href="#top" class="list-group-item list-group-item-action" role="button">
                        <div class="d-flex">
                            <span class="h6">
                                <i data-feather="arrow-up-right"></i>
                            </span>
                            <div class="ml-3">
                                <h6 class="heading mb-0">{% trans 'back to top'|capfirst %}</h6>
                                <small class="text-sm">{{ featured_section.short_description|capfirst }}</small>
                            </div>
                        </div>
                    </a>
                {% endif %}
                {% endfor %}
              </div>
            </div>
            </li>
        {% for section in sections %}                          
        <li class="nav-item">
            {% if section.attached_product.unfolded %}
                <a href="#acquista" class="btn btn-block btn-sm btn-primary mt-lg-2">
                    {% trans 'buy'|capfirst %} {% for f in section.attached_product.formats.all %}{{ f.title }}{% endfor %}
                </a>                            
            {% endif %}
        </li>          
        {% endfor %}
    </ul>
{% endblock navbar_links %}

{% block navbar_user_signin %}
<ul class="navbar-nav align-items-lg-center d-none d-lg-flex ml-lg-auto">
  <li class="nav-item">                                
    <a href="{% url 'accounts:signin' %}?next={{ request.path }}" class="nav-link">
        {% trans "sign in"|capfirst %}
    </a>
  </li>
</ul>
{% endblock navbar_user_signin %}

{% block content %}
<section class="slice pt-8 pb-0 bg-section-dark" id="top">
  <div data-offset-top="">
    <div class="container position-relative">
      <div class="row align-items-center">
        <div class="col-lg-6 mb-5 mb-lg-0 order-lg-1 order-2">          
            {% if featured_section.subtitle %}
              <h6 class="text-primary">
                - {{ featured_section.subtitle }}
                {% with landing_page as object %} 
                {% if user.is_staff %}
                    <span class="ml-1">{% include 'publishable_badge.html' %}</span>
                {% endif %}
            {% endwith %}
              </h6>              
            {% endif %}
            <h1 class="h1 text-white font-weight-bold h1 mb-4">{{ featured_section.prefix|capfirst }} <strong class="text-primary">{{ featured_section.title }}</strong></h1>
            <p class="kbd text-secondary opacity-8">{{ featured_section.description|striptags|capfirst }}</p>
            <div class="mt-5 text-left">
                <a href="#acquista" class="btn btn-primary btn-lg">
                    {{ featured_section.button_label|capfirst }}
                </a>
                <a href="#content-1" class="btn btn-outline-secondary btn-lg">
                    {% trans 'explore'|capfirst %}
                </a>           
            </div>
            {% if featured_section.features.all %}
            <div class="mt-0 pt-0">
                <hr class="opacity-6" />
                <p class="text-muted d-block mb-2">{% trans 'includes'|capfirst %}:</p>
                <div class="d-flex gap-4 text-secondary opacity-8">
                    {% for feature in featured_section.features.all %}
                    <span><i class="fas fa-{{ feature.icon }} {% if not forloop.first %}ml-3{% endif %} mr-1 "></i>{{ feature.title }}</span>
                    {% endfor %}
                </div>
            </div> 
            {% endif %}
        </div>
        <div class="col-lg-6 mb-5 text-center text-lg-end order-lg-2 order-1">          
            {% if featured_section.cover_primary %}
            <a data-caption="" data-fancybox="" href="{{ featured_section.cover_secondary.image|default:featured_section.cover_primary.image }}">
                <img alt="{{ featured_section.cover_primary.label }}" src="{{ featured_section.cover_primary.image }}" class="img-fluid hover-translate-y-n3 hover-shadow-lg" style="max-height: 600px;">
            </a>
            {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>

{% if landing_page.enable_pinned_content %}
<section class="slice slice-lg">
    <div class="container">
        <div class="row mb-6 justify-content-center text-center">
            <div class="col-lg-8 col-md-10">
                <span class="badge badge-primary badge-pill">{% trans 'featured'|capfirst %}</span>
                <h3 class="mt-4">{% trans 'our latest contents'|capfirst %}</h3>
            </div>
        </div>
        <div class="row justify-content-md-center">
            {% for pinned_article in pinned_articles %} 
            <div class="col-md-4 d-flex align-items-stretch">
                <div class="card hover-translate-y-n3 hover-shadow-lg overflow-hidden card-fluid">
                    <div class="position-relative overflow-hidden">
                        <a href="{{ pinned_article.get_absolute_url }}" class="d-block">
                            <img loading="lazy" src="{{ pinned_article.postcard }}" alt="{{ pinned_article.title|capfirst }}" class="card-img-top">
                        </a>
                    </div>
                    <div class="card-body py-4">
                        <small class="d-block text-sm text-{{ pinned_article.category.color }} mb-2"><strong>{{ pinned_article.category|capfirst }}</strong> 
                            {% with pinned_article as object %}
                                {% if user.is_staff %}<span class="ml-1">{% include 'publishable_badge.html' %}</span>{% endif %}
                            {% endwith %}
                        </small> 
                        <a href="{{ pinned_article.get_absolute_url }}" class="h5 stretched-link lh-150">
                            {{ pinned_article.title|capfirst }}
                        </a>
                        <p class="mt-3 mb-0 lh-170">
                            {{ pinned_article.description|truncatechars:200|safe }}
                        </p>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% for pinned_product in pinned_products %}
            <div class="col-md-4 d-flex align-items-stretch">
                <div class="card hover-translate-y-n3 hover-shadow-lg overflow-hidden card-fluid">
                    <div class="position-relative overflow-hidden">
                        <a href="{{ pinned_product.get_absolute_url }}" class="d-block">
                            <img loading="lazy" src="{{ pinned_product.cover_secondary.image }}" alt="{{ pinned_product.title|capfirst }}" class="card-img-top">
                        </a>
                    </div>
                    <div class="card-body py-4">
                        <small class="d-block text-sm text-{{ pinned_product.category.color }} mb-2"><strong>{{ pinned_product.category|capfirst }}</strong> {% with pinned_product as object %}
                                {% if user.is_staff %}<span class="ml-1">{% include 'publishable_badge.html' %}</span>{% endif %}
                                {% endwith %}</small> 
                            <a href="{{ pinned_product.get_absolute_url }}" class="h5 stretched-link lh-150">
                                {{ pinned_product.title|capfirst }}
                            </a>
                        <p class="mt-3 mb-0 lh-170">
                            {{ pinned_product.abstract|truncatechars:200 }}
                        </p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endif %}

{% for section in sections %}
<div id="content-1"></div>
<section id="{{ section.slug }}" class="slice pt-5 {% if forloop.counter|divisibleby:2 %}bg-light{% else%}{% endif %}">
    {% if section.attached_product %}
        {% if section.attached_product.unfolded %}
        <div id="acquista" class="container py-5 {% if forloop.counter|divisibleby:2 %}bg-light{% else%}{% endif %}">            
            
            <div class="card bg-section-dark border-0 rounded-lg" style="max-width: 100%;">
                <div class="card-body px-5">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="d-flex align-items-center align-items-center mb-3">
                                <div>
                                    <div class="icon icon-sm icon-shape bg-primary text-white rounded-circle mr-3">
                                        <i class="fa fa-dice-d20"></i>
                                    </div>
                                </div>
                                <span class="h6 text-white mb-0">{{ section.attached_product.title }}</span>
                            </div>
                            <h5 class="text-white pt-4">{{ section.attached_product.short_description }}</h5>
                            <p class="text-white opacity-8">
                                {{ section.attached_product.abstract }}
                            </p>
                            {% if section.attached_product.details %}
                            <ul class="list-unstyled check-list text-secondary">
                                {% for detail in section.attached_product.details.all %}
                                    <li><i class="fas fa-check-circle mr-1"></i>{{ detail.title }}</li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                        </div>
                        <div class="col-12 col-md-6 mt-4 mt-md-0 pr-4 pb-3 d-flex align-items-end justify-content-md-end">
                            <a href="{{ section.attached_product.get_absolute_url }}" class="btn btn-white btn-icon">
                                <span class="btn-inner--text">{% trans 'visit the download page'|upper %}</span>
                                <span class="btn-inner--icon">
                                    <i data-feather="arrow-right" class="text-primary"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    {% elif section.attached_section %}
    <div class="container py-5">
        <div class="row align-items-center">
            <div class="col-lg-5">
                <h2 class="mb-4">{{ section.title|capfirst }}</h2>
                <p class="text-muted mb-4">
                    {{ section.description|capfirst }}
                </p>
                
                {% for feature in section.features.all %}
                <div class="d-flex mb-4">
                    <div class="mr-3 text-primary"><i class="fas fa-{{ feature.icon|default:'scroll' }} fa-2x"></i></div>
                    <div>
                        <h5>{{ feature.title|capfirst }}</h5>
                        <p class="text-muted small opacity-8">{{ feature.description|capfirst|striptags|safe }}</p>
                    </div>
                </div>
                {% endfor %}                
            </div>
            <div class="col-lg-6 offset-lg-1">
                <div class="card p-5 text-center bg-white shadow-lg border-0">
                    <h3 class="mb-4">{{ section.attached_section.title }}</h3>
                    <div class="row g-3">
                        {% for feature in section.attached_section.features.all %}
                        <div class="col-md-4 col-12 py-1">
                            <div class="p-3 rounded bg-light">
                                <i class="fas fa-{{ feature.icon|default:'x'}} mb-2 text-primary"></i>
                                <h5 class="mb-0">{{ feature.title|capfirst }}</h5>
                                <small class="text-muted">{{ feature.description|capfirst|striptags|safe }}</small>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <p class="mt-4 text-muted small">{{ section.attached_section.description|capfirst }}</p>
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <div class="container py-5">
        <div class="row justify-content-center text-center mb-5">
            <div class="col-lg-8">
                <h2 class="mb-3">{{ section.title }}</h2>
                <p class="text-muted">
                    {{ section.description|capfirst }}
                </p>
            </div>
        </div> 
        <div class="row g-4">
            {% for feature in section.features.all %}
            <div class="col-md-4 py-2">
                <div class="card hover-translate-y-n10 hover-shadow-lg h-100">
                    <div class="card-body pb-0 mb-0">
                        {% if feature.icon %}
                        <div class="pb-4">
                            <div class="icon bg-dark text-white rounded-circle icon-shape shadow">
                                <i class="fas fa-{{ feature.icon }}"></i>
                            </div>
                        </div>
                        {% endif %}
                        <div class="pt-2">
                            <div class="d-flex justify-content-between align-items-start mb-0">
                                <h5 class="text-dark">{{ feature.title}}</h5>
                                <span class="badge bg-{{ feature.color }} text-white">{{ feature.prefix|upper }}</span>
                            </div>                            
                            {% if feature.subtitle %}
                            <p class="text-muted mb-3">
                                {{ feature.subtitle }}
                            </p>
                            {% endif %}
                            <p class="text-muted mb-0">
                                {{ feature.description|safe }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}      
        </div>
    </div>
    {% endif %}
</section>
{% endfor %}

{% if landing_page.enable_signin %}
<section class="slice bg-section-secondary">
  <div class="container">
    <div class="card shadow-lg border-0 zindex-100">
      <div class="card-body px-5 py-5 text-center text-md-left">
        {% if not user.is_authenticated %}
        <div class="row align-items-center">
          <div class="col-md-6">
            <h4 class="h5 mb-2">{% trans "Join our community" %}.</h4>
            <p class="mb-0">{% trans "Sign up to know more and start exploring." %}</p>
          </div>
          <div class="col-12 col-md-6 mt-4 mt-md-0 text-md-right">
            <a href="{% url 'accounts:signup' %}" class="btn btn-primary my-2">
              {% trans 'sign up'|capfirst %}
            </a>
          </div>
        </div>
        {% else %}
        <div class="row align-items-center">
          <div class="col-md-6">
            <h4 class="h5 mb-2">{% trans "Hello" %} {{ user.first_name }}!</h4>
            <p class="mb-0">{% trans "You have signed in. Feel free to explore or deep dive into your profile." %}</p>
          </div>
          <div class="col-12 col-md-6 mt-4 mt-md-0 text-md-right">
            <a href="{% url 'accounts:detail' user.nametag %}" class="btn btn-primary my-2">
              {% trans "Manage profile" %}
            </a>
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>
{% endif %}

{% endblock content %}

{% block footer_style %}footer-dark bg-dark{% endblock footer_style %}
