<div class="container">
    <div class="row">
        <div class="col-md-8 ml-auto mr-auto text-center">
            <h2 class="title">{{ section.title|capfirst }}</h2>
            <h5 class="description">{{ section.abstract|striptags }}</h5>
        </div>
    </div>
</div>

{% if section.users.all %}
<div class="container">
    <div class="row">
        {% for author in section.users.all %}
            <div class="col-md-4">
                {% include "accounts/author.html" %}
            </div>
        {% endfor %}
    </div>
</div>
{% endif %}

{% if section.products.all %}
    <div class="projects-4" id="projects-4">
        {% for product in section.products.all %}
            <div class="container">
                <div class="row">
                    {% include "products/product_card.html" %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}

{% if section.section_survey %}
<div class="container">
    <div class="row">
        <div class="col-md-6 ml-auto mr-auto text-center">
            {% with section.section_survey as survey %}
                {% include "feedbacks/survey_card.html" %}
            {% endwith %}
        </div>
    </div>
</div>
{% endif %}

{% if section.section_article %}
<div class="container">
    <div class="row">
        <div class="col-md-10 ml-auto mr-auto">
            {% with section.section_article as article %}
                {% include "blog/article_card.html" %}
            {% endwith %}
        </div>
    </div>
</div>
{% endif %}

{% if section.section_features.all %}
<div class="features">
    <div class="container">
        <div class="row text-center">
            {% for feature in section.section_features.all %}
            <div class="col-sm-4">
                <div class="info">
                    <div class="icon icon-{{ feature.color }}">
                        <i class="fal fa-{{ feature.icon }} fa-4x"></i>
                    </div>
                    <h4 class="info-title">{{ feature.title|title }}</h4>
                    <p>{{ feature.description|safe }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}
