{% extends 'landing/section_standard.html' %}
{% load i18n %}

{% block product_landing_card %}
<div class="projects-2" id="projects-2">
    <div class="container">
      <div class="row">
        {% for product in section.products.all %}
            <div class="col-md-4 {{ section.get_alignment_classes }}">
                {% with product as product %}
                  {% include 'products/product_card_plain.html' %}
                {% endwith %}
            </div>
        {% endfor %}
    </div>
  </div>
</div>
{% endblock product_landing_card %}

{% block article_landing_card %}
    <div class="container">
      <div class="row">
        {% for article in section.articles.all %}
        <div class="col-md-6 {{ section.get_alignment_classes }}">
          {% include "blog/article_card_plain.html" %}
        </div>
        {% endfor %}
      </div>
    </div>
{% endblock article_landing_card %}