
<div class="container">

    <div class="row">
        <div class="col-md-8 ml-auto mr-auto text-center">
            <h2 class="title">{{ section.title|capfirst }}</h2>
            <h5 class="description">{{ section.abstract|striptags }}</h5>
            <div class="section-space"></div>
        </div>
    </div>

    <div class="features">
        <div class="container">
            <div class="row text-center">
                {% for feature in section.section_features.all %}
                <div class="col-sm-4">
                    <div class="info">
                        <div class="icon icon-{{ feature.color }}">
                            <i class="fal fa-{{ feature.icon }} fa-4x"></i>
                        </div>
                        <h4 class="info-title">{{ feature.title|title }}</h4>
                        <p>{{ feature.description|safe }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="row">
        {% for author in section.users.all %}
            <div class="col-md-4">
                {% include "accounts/author.html" %}
            </div>
        {% endfor %}
    </div>

</div>
