<div class="container">
    <div class="row">
        <div class="col-md-8 {{ featured_section.get_alignment_classes }}">                
            <h1 class="title">{{ featured_section.title|title }}</h1>
            <h4>{{ featured_section.description|striptags }}</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 {{ featured_section.get_alignment_classes }}">
            {% with extra_style='btn-danger' section=featured_section %}
              {% include "landing/header_form.html" %}
            {% endwith %}
        </div>
    </div>
</div>