
<div class="container">
    <div class="row">
        <div class="col-md-8 ml-auto mr-auto text-center">
            <h2 class="title">{{ section.title|capfirst }}</h2>
            <h5 class="description">{{ section.abstract|striptags }}</h5>
            <div class="section-space"></div>
        </div>
    </div>
    <div class="row">
        {% for author in section.users.all %}
            <div class="col-md-4">
                {% include "accounts/author.html" %}
            </div>
        {% endfor %}
    </div>
</div>
