{% extends 'base_dashboard.html' %}

{% load i18n %}
{% load static %}

{% block title %}
  {{ book.title }} &middot; {{ object.name|title }}
{% endblock title %}

{% block logo %}
    {% with book as book %}
        {% include 'ebooks/book_logo.html' %}
    {% endwith %}
{% endblock logo %}

{% block navbar_logo %}
    {% with book as book %}
        {% include 'ebooks/navbar_logo.html' %}
    {% endwith %}
{% endblock navbar_logo %}

{% block navbarbrand %}{{ book.title }} &middot; {{ object.name|title }}{% endblock navbarbrand %}

{% block content_header_title %}{% endblock content_header_title %}

{% block content_body %}{% endblock content_body %}