{% extends 'base_dashboard.html' %}

{% load i18n %}
{% load static %}

{% block title %}
  {{ book.title }} &middot; {{ object.name|title }}
{% endblock title %}

{% block logo %}
    {% with book as book %}
        {% include 'ebooks/book_logo.html' %}
    {% endwith %}
{% endblock logo %}

{% block navbar_logo %}
    {% with book as book %}
        {% include 'ebooks/navbar_logo.html' %}
    {% endwith %}
{% endblock navbar_logo %}

{% block navbarbrand %}{{ book.title }} &middot; {{ object.name|title }}{% endblock navbarbrand %}

{% block content_header_title %}{% endblock content_header_title %}

{% block search_form %}
    <form action="{% url 'ebooks:section-search' book.slug %}" class="navbar-form">
      <span class="bmd-form-group has-warning is-filled"><div class="input-group no-border">
        <input type="text" name="q" autofocus="autofocus" {% if 'search_query' %}value="{{ search_query }}"{% endif %} class="form-control" placeholder="{% trans 'Search' %}...">
        <button type="submit" class="btn btn-white btn-round btn-just-icon" style="margin-right: 5px;">
          <i class="material-icons">search</i>
          <div class="ripple-container"></div>
        </button>                
      </div></span>
    </form>
{% endblock search_form %}
            
{% block content_body %}{% endblock content_body %}