{% load i18n %}
{% load static %}

<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />

    {% block opengraph %}
        <meta property="og:title" content="Diventi: {{ book.title }}" />
        <meta property="og:type" content="book" />
        <meta property="og:url" content="{{ request.build_absolute_uri }}" />
        <meta property="og:image" content="{{ book.image }}" />
        <meta property="og:description" content="{{ book.description }}" />
        <meta name="description" content="{{ book.description }}"  />
        <meta name="twitter:card" content="Diventi: {{ book.title }}" />
    {% endblock opengraph %}

    <title>Diventi &middot; {{ book.title }}</title>

    <link href="{% static 'diventi/css/diventi-webbook.min.gz.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'diventi/css/diventi-tables.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'diventi/css/diventi-modal.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'wenk-v102/css/wenk.min.css' %}" rel="stylesheet" type="text/css" />

    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js" type="text/javascript"></script>
    <script src="https://kit.fontawesome.com/27968f469b.js" crossorigin="anonymous"></script>
    <script type="text/javascript">
        WebFont.load({
            google: {
                families: ["Varela:400", "Roboto Mono:regular"]
            }
        });
    </script>
    <link href="{% static 'favicons/favicon-32x32.png' %}?v=3" rel="shortcut icon" type="image/x-icon" />
    <link href="{% static 'favicons/apple-touch-icon.png' %}?v=3" rel="apple-touch-icon" />

    <style>
        @font-face {
            font-family: 'Kravitz';
            src: url('{% static "fonts/Kravitz.woff2" %}') format('woff2'),
                url('{% static "fonts/Kravitz.woff" %}') format('woff');
            font-weight: normal;
            font-style: normal;
        }

        @font-face {
            font-family: 'Kravitz Extra Thermal';
            src: url('{% static "fonts/KravitzExtraThermal.woff2" %}') format('woff2'),
                url('{% static "fonts/KravitzExtraThermal.woff" %}') format('woff');
            font-weight: normal;
            font-style: normal;
        }

        @font-face {
            font-family: 'Kravitz Thermal';
            src: url('{% static "fonts/KravitzThermal.woff2" %}') format('woff2'),
                url('{% static "fonts/KravitzThermal.woff" %}') format('woff');
            font-weight: normal;
            font-style: normal;
        }

        .diventi-font {
          font-family: 'Kravitz Thermal';
          font-weight: normal;
          font-style: normal;
          font-size: 36px;
          color: #fff;
        }
        
    </style>
    
</head>

<body>
    <div class="chapterslider"><a href="#" data-ix="close-view-chapters" class="close-x">X</a>
        <div class="sidecontent-wrap">
            <h3>{% trans "Chapters" %}</h3>
            <div class="w-dyn-list">
                <div class="w-clearfix w-dyn-items">
                    {% for c in chapters %}
                        {% ifchanged c.part %}<h4>{{ c.part }}</h4>{% endifchanged %}
                        <div class="sidechapter-wrap w-dyn-item">
                            <a href="{% url 'ebooks:chapter-detail' c.chapter_book.slug c.slug %}" data-ix="side-chapter-link" class="sidechapter-link w-inline-block w-clearfix">
                                <div style="background-image:url(&quot;{% if c.image %}{{ c.image }}{% else %}{% static 'material-kit/img/image_placeholder.jpg' %}{% endif %}&quot;)" class="sidethumb">
                                </div>
                                <div>
                                    <div class="sidechapter-text">{% trans "Chapter" %}</div>
                                    <div class="sidechapter-text">{{ c.order_index }}</div>
                                    
                                {% with c as object %}{% include 'newable_updatedable_badge.html' %}{% endwith %}
                                </div>
                                <div class="sidechapter-title">{{ c.title|capfirst }}</div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="fullscreen w-clearfix">
        <div style="background-image:url(&quot;{% block side_image %}{{ book.image }}{% endblock side_image %}&quot;)" class="leftside">
            <div class="leftnavigation bottom">
                <div class="w-row">
                    <div class="buttoncol w-hidden-main w-hidden-medium w-hidden-small w-hidden-tiny w-col w-col-4 w-col-stack"></div>
                    <div class="buttoncol w-col w-col-4 w-col-stack"><a href="#" data-ix="view-chapters" class="allchapters w-hidden-small w-hidden-tiny">{% trans "View Chapters" %}</a></div>
                    <div class="buttoncol w-hidden-main w-hidden-medium w-hidden-small w-hidden-tiny w-col w-col-4 w-col-stack"></div>
                </div>
            </div>
            <a href="#" data-ix="view-chapters" class="viewchapters-link w-hidden-main w-hidden-medium w-inline-block">
                <div class="w-hidden-tiny">{% trans "View Chapters" %}</div>
            </a>
            <div class="leftoverlay"></div>
            <div class="titlewrapper">
                <div class="leftnavigation">
                    <div>
                        <a href="{% url 'landing:home' %}" class="sitetitle white"><span class="diventi-font">Diventi</span></a></div>
                    </div>
                <div class="titleblock">
                    {% block side_chapter %}
                    <!--
                        <div class="sidechapters">{% trans "Chapter" %}</div>
                        <div class="sidechapters">{% block side_chapter_number %}1{% endblock %}</div>
                    -->
                    {% endblock side_chapter %}
                    <h1 class="sidetitle">{% block side_title %}{{ book.title }}{% endblock side_title %}</h1>
                    <div class="subtitle">{% block side_subtitle %}{{ book.description }}{% endblock side_subtitle %}</div>
                    <div class="authorname">{% with book as object %}{% include "publishable_badge.html" %}{% endwith %}</div>
                </div>
            </div>
        </div>
        <div class="rightside">
            <div class="chapterpage-head w-clearfix">
                <!--
                <a href="{% url 'ebooks:book-detail' book.slug %}" class="chapterpage-header">{{ book.title }}</a>
                <div class="chapterpage-header chaptertext">{% trans "Chapter" %}</div>
                <div class="chapterpage-header chaptertext">{{ chapter.order_index }}</div>
                <a href="{% url 'landing:home' %}" target="_blank" class="chapterpage-header trywebflow-link">Diventi</a>
                -->
            </div>
            <div class="rightnavigation">
                {% if previous_chapter %}
                    <a href="{{ previous_chapter.get_absolute_url }}" class="bottomnav-links w-inline-block">
                        <div class="previous-next">
                            {% block right_navigation_previous_chapter_label %}{% trans "Previous Chapter" %}{% endblock right_navigation_previous_chapter_label %}</div>
                        <div class="bottomnav-chapter">{{ previous_chapter.title }}</div>
                    </a>
                {% endif %}
                {% if next_chapter %}
                    <a href="{{ next_chapter.get_absolute_url }}" class="bottomnav-links rights w-inline-block">
                        <div class="previous-next">
                            {% block right_navigation_next_chapter_label %}{% trans "Next Chapter" %}{% endblock right_navigation_next_chapter_label %}
                        </div>
                        <div class="bottomnav-chapter">{{ next_chapter.title }}</div>
                    </a>
                {% endif %}
            </div>

            <div class="maincontent-wrap">

                <div class="chapterpage-head">
                    <div class="chapterpage-header"><a href="{% url 'ebooks:book-detail' book.slug %}" class="chapterpage-header">{{ book.title }}</a>
                    </div>
                    <div class="chapterpage-header chaptertext">{% block chapterpage_title %}{% trans "Introduction" %}{% endblock chapterpage_title %}</div>
                    <!--<a href="{% url 'landing:home' %}" target="_blank" class="chapterpage-header trywebflow-link">Diventi</a>-->
                </div>

                <div class="search__container">
                    <!--
                    <p class="search__title">
                        Go ahead, hover over search
                    </p>
                    -->
                    <form action="{% url 'ebooks:section-search' book.slug %}" class="search-form">
                        <input name="q" class="search__input" type="text" {% if 'search_query' %}value="{{ search_query }}"{% endif %} placeholder="{% trans 'Search' %}">
                    </form>
                </div>

                <!--
                <div class="credits__container">
                    <p class="credits__text">Background color: Pantone Color of the Year 2016 <a href="https://www.pantone.com/color-of-the-year-2016" class="credits__link">Rose Quartz</a></p>
                </div>
                -->

                <div class="lede chapterlede" style="margin-top: 25px;">{% block chapter_lead %}{{ book.lead|striptags }}{% endblock chapter_lead %}</div>
                <div class="chaptercontent w-richtext">{% block chapter_content %}{{ book.summary|safe }}{% endblock chapter_content %}</div>

            </div>

            {% if next_chapter %}
            <a href="{{ next_chapter.get_absolute_url }}" class="bottomnav-links cc-bottom w-inline-block">
                <div class="previous-next">{% block bottom_navigation_next_chapter_label %}{% trans "Next Chapter" %}{% endblock bottom_navigation_next_chapter_label %}</div>
                <div class="bottomnav-chapter">{{ next_chapter.title }}</div>
            </a>
            {% endif %}

        </div>
    </div>

    {% for tooltip in tooltips %}
    <div class="modal micromodal-slide" id="modal-{{ tooltip.pk }}" aria-hidden="true">
        <div class="modal__overlay" tabindex="-1" data-micromodal-close>
          <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-{{ tooltip.pk }}-title">
            <header class="modal__header">
              <h2 class="modal__title" id="modal-{{ tooltip.pk }}-title">
                {{ tooltip.section.title }}
              </h2>
              <button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
            </header>
            <main class="modal__content" id="modal-{{ tooltip.pk }}-content">
              <p>  
                {{ tooltip.section.get_converted_description|safe }}
              </p>
            </main>
            <footer class="modal__footer">
              <button class="modal__btn modal__btn-primary" data-micromodal-close aria-label="Close this dialog window">
                {% trans "Close" %}
              </button>
            </footer>
          </div>
        </div>
    </div>
    {% endfor %}

    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs="
      crossorigin="anonymous"></script>
    <script 
      src="{% static 'diventi/js/diventi-webflow.min.js' %}" 
      type="text/javascript"></script>
    <script src="{% static 'diventi/js/diventi-defer-img.min.gz.js' %}"></script>
    
    <!-- jQuery Modal -->
    <script src="https://unpkg.com/micromodal/dist/micromodal.min.js"></script>
    <script>
        MicroModal.init({
            awaitOpenAnimation: true, // [8]
            awaitCloseAnimation: true, // [9]
        });
    </script>
</body>
</html>