{% extends 'base_dashboard.html' %}

{% load i18n %}
{% load static %}

{% block title %}
  {{ book.title }}
{% endblock title %}

{% block logo %}
    {% with book as book %}
        {% include 'ebooks/book_logo.html' %}
    {% endwith %}
{% endblock logo %}

{% block navbar_logo %}
    {% with book as book %}
        {% include 'ebooks/navbar_logo.html' %}
    {% endwith %}
{% endblock navbar_logo %}

{% block navbarbrand %}{{ book.title }}{% endblock navbarbrand %}

{% block sidebar_items %}
  {% for c in chapters %}
    <li class="nav-item {% if c.slug == chapter.slug %}active{% endif %}">
      <a class="nav-link" href="{% url 'ebooks:chapter-detail' c.chapter_book.slug c.slug %}">
        <p>{{ c.title }}</p>
      </a>
    </li>
  {% endfor %}
{% endblock sidebar_items %}

{% block content_header_title %}{% endblock content_header_title %}

{% block content_body %}

<div class="col-lg-{{ book.col_lg }} col-md-{{ book.col_md }} ml-auto mr-auto">
  <div class="card card-blog">
    <div class="card-header card-header-image">
        <a href="#pablo">
            <img class="img" src="{{ book.book_product.image }}">
            <div class="card-title">
                Diventi: {{ book.title }} {% with book as object %}{% include "publishable_badge.html" %}{% endwith %}
            </div>
        </a>
    </div>
    <div class="card-body">
        <h6 class="card-category text-info">{{ book.book_product.category }}</h6>
        <p class="card-description">
            {{ book.book_product.abstract }}
        </p>
    </div>
  </div>
</div>

{% endblock content_body %}    


