{% extends 'ebooks/base_book_web.html' %}

{% load i18n %}
{% load static %}

{% block side_image %}{{ book.image }}{% endblock side_image %}
{% block side_chapter %}{% endblock side_chapter %}
{% block side_title %}{{ book.title }}{% endblock side_title %}
{% block side_subtitle %}{{ book.description }}{% endblock side_subtitle %}
{% block right_navigation_next_chapter_label %}{% trans "First Chapter" %}{% endblock right_navigation_next_chapter_label %}
{% block chapterpage_title %}{% trans "Introduction" %}{% endblock chapterpage_title %}
{% block chapter_lead %}{{ book.lead|striptags }}{% endblock chapter_lead %}
{% block chapter_content %}{{ book.summary|safe }}{% endblock chapter_content %}