{% extends 'base_dashboard.html' %}

{% load i18n %}
{% load static %}

{% block title %}
  {{ book.title }}
{% endblock title %}

{% block logo %}
    {% with book as book %}
        {% include 'ebooks/book_logo.html' %}
    {% endwith %}
{% endblock logo %}

{% block navbar_logo %}
    {% with book as book %}
        {% include 'ebooks/navbar_logo.html' %}
    {% endwith %}
{% endblock navbar_logo %}

{% block navbarbrand %}{{ book.title }}{% endblock navbarbrand %}

{% block sidebar_items %}
  {% for c in chapters %}
    <li class="nav-item {% if c.slug == chapter.slug %}active{% endif %}">
      <a class="nav-link" href="{% url 'ebooks:chapter-detail' c.chapter_book.slug c.slug %}">
        <p>{{ c.title }}</p>
      </a>
    </li>
  {% endfor %}
{% endblock sidebar_items %}

{% block content_header_title %}
  <h3 class="title">{% trans 'Cover' %}</h3>
  <p class="category">{{ book.book_product.abstract }}</p>
{% endblock content_header_title %}

{% block content_body %}

<div class="card card-profile text-center ml-auto mr-auto" style="max-width: 720px">
  <div class="card-header card-header-image">
    <img class="img" src="{{ book.book_product.image }}">
  </div>
  <div class="card-body ">
      <h4 class="card-title">Diventi: {{ book.title }}</h4>
      <h6 class="card-category text-gray">{{ book.book_product.category }}</h6>
  </div>
</div>

{% endblock content_body %}    


