{% extends 'base_quick.html' %}
{% load i18n %}
{% load humanize %}
{% load static %}

{% block opengraph %}
    <meta property="og:title" content="Diventi: {{ book.title }}" />
    <meta property="og:type" content="book" />
    <meta property="og:url" content="{{ request.build_absolute_uri }}" />
    <meta property="og:image" content="{{ book.image }}" />
    <meta property="og:description" content="{{ book.description }}" />
    <meta name="description" content="{{ book.description }}"  />
    <meta name="twitter:card" content="Diventi: {{ book.title }}" />
{% endblock opengraph %}

{% block title %}{{ object.title|capfirst }}{% endblock title %}

{% block extrahead %}
    <link rel="stylesheet" href="{% static 'diventi/css/diventi-datatables.min.css' %}" />
    <style>
        table.cards {
            width: 100%;
            border-spacing: 0;
            border: 1px solid #c1c7cd;
            word-break: break-word;
        }

        table.cards td {
            border-color: #c1c7cd;
            border-style: solid;
            border-top-width: 0;
            border-bottom-width: 0;
            border-right-width: 0;
            border-left-width: 1px;
        }

        .ebook {
            font-size: calc(16px + .1vw);
            line-height: 1.6;
            letter-spacing: -0.003em;
            word-break: break-word;
            text-rendering: optimizeLegibility;
            -webkit-font-smoothing: antialiased;
        }

        .ebook .alert {
            font-size: calc(14px + .1vw);
        }

    </style>
{% endblock extrahead %}

{% block content %}

<section class="section-half-rounded pt-5 pt-lg-8 pb-7 pb-lg-10">
  <div class="jumbotron section-inner left-0 rounded-right bg-gradient-primary overflow-hidden col-lg-11">
    <img loading="lazy" src="{{ book.book_product.image }}" alt="Image" class="img-as-bg blend-mode--multiply">
  </div>
  <div class="container pt-5 pb-7">
    <div class="row align-items-center">
      <div class="col-lg-7">
        <span class="badge badge-{{ book.book_product.category.color }} badge-pill">{{ book.book_product.category }}</span>
        <h1 class="display-4 text-white mt-4 lh-110">{{ paper_title|capfirst }}</h1>
        <p class="lead mb-4 text-white mt-4">{{ book.book_product.abstract|capfirst }}</p>
        <div class="mt-5">
           <span class="badge badge-white badge-lg badge-pill shadow font-weight-light">
                <i data-feather="book-open" class="mr-1"></i> {% trans 'time to read'|capfirst %}: <strong class="eta"></strong> (<span class="words"></span> {% trans 'words' %})
            </span>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="slice mt-0 pt-0">
    <div class="container py-4 py-lg-5">
        <div class="row">
            <div class="col-lg-3 col-12 order-1 d-block d-md-block d-lg-none" >
                <div id="accordion-1" class="accordion accordion-spaced">
                    <div class="card border-primary-dark">
                        <div class="card-header py-4 collapsed" id="heading-1-1" data-toggle="collapse" role="button" data-target="#collapse-1-1" aria-expanded="false" aria-controls="collapse-1-1">
                            <h6 class="mb-0">
                                {% trans "table of contents"|capfirst %}
                            </h6>
                        </div>
                        <div id="collapse-1-1" class="collapse" aria-labelledby="heading-1-1" data-parent="#accordion-1">
                            <div class="card-body">
                                <nav class="nav nav-pills flex-column" id="nav-terms">
                                    {% with paper_toc as paper_toc %}
                                        {% include "ebooks/book_toc_quick.html" %}
                                    {% endwith %}
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 mb-5 mb-lg-0 order-lg-2 order-3">
                <article class="ebook">
                    {% if book.logo %}
                    <div class="mb-4 mt-0 d-flex justify-content-center">
                        <a name="top">
                            <img loading="lazy" class="img-fluid rounded shadow-lg p-3" src="{{ book.logo }}">
                        </a>
                    </div>
                    {% endif %}
                    {% include book_paper %}
                </article>
            </div>        
            <div class="col-lg-4 order-lg-3 order-2">
                {% with book.book_product as product %}
                    {% include "products/partials/product_detail_actions_public.html" %}
                {% endwith %}

                {% if book.book_product.public and related_products and book.book_product.relatable %}
                
                    <div id="accordion-2" class="accordion accordion-spaced">
                        <div class="card">
                            <div class="card-header py-4 collapsed" id="heading-2-1" data-toggle="collapse" role="button" data-target="#collapse-2-1" aria-expanded="true" aria-controls="collapse-2-1">
                                <h6 class="mb-0">
                                    {% trans "related games"|capfirst %}
                                </h6>
                            </div>
                            <div id="collapse-2-1" class="collapse show" aria-labelledby="heading-2-1" data-parent="#accordion-1" style="">
                                <div class="card-body">
                                    {% for p in related_products %}
                                        <div class="row align-items-center shadow-none">
                                            <div class="col-auto">
                                                <div class="icon icon-shape bg-soft-{{ p.category.color }} text-{{ p.category.color }}">
                                                    <i data-feather="{{ p.category.icon|default:'droplet' }}"></i>
                                                </div>
                                            </div>
                                            <div class="col pl-0">
                                                <span class="d-block h6 text-sm mb-0"><a href="{{ p.get_absolute_url }}">{{ p.title }}</a></span>
                                                <p class="mb-0 text-xs">{{ p.category }}</p>
                                            </div>
                                        </div>
                                        {% if not forloop.last %}
                                            <hr class="my-3" />
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                
                {% endif %}
                <div data-toggle="sticky" data-sticky-offset="50" class="" style="max-height: 600px; overflow-y: auto;">
                    <div class="d-none d-md-none d-lg-block">
                        <div class="card">
                            <div class="card-body">
                                <nav class="nav nav-pills flex-column" id="nav-terms">
                                    {% with paper_toc as paper_toc %}
                                        {% include "ebooks/book_toc_quick.html" %}
                                    {% endwith %}
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}

{% block footercolor %}{% endblock footercolor %}

{% block extrascript %}
    <script src="{% static 'readingtime/readingtime.js' %}"></script>
    <script>
        $('article').readingTime({
            readingTimeTarget: '.eta',
            wordCountTarget: '.words',
        });
        $(document).ready(function() { 
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
    <script src="{% static 'diventi/js/diventi-datatables.js' %}"></script>
    <script src="{% static 'diventi/js/diventi-sortable.min.js' %}"></script>
    <script>
        $(document).ready(function() {
            for (var i = 99; i >= 0; i--) {
                $('#tabella-'+i).DataTable({
                    "language": {
                        "lengthMenu": "{% trans 'Display _MENU_ records per page' %}",
                        "zeroRecords": "{% trans 'Nothing found - sorry' %}",
                        "info": "{% trans 'Showing page _PAGE_ of _PAGES_' %}",
                        "infoEmpty": "{% trans 'No records available' %}",
                        "infoFiltered": "{% trans '(filtered from _MAX_ total records)' %}",
                        "paginate": {
                            "first": "{% trans 'First page' %}",
                            "previous": "{% trans 'Previous' %}",
                            "next": "{% trans 'Next' %}"
                        },
                        search: '',
                        searchPlaceholder: '{% trans 'Filter records' %}'
                    }
                });
            }
        } );
    </script>
{% endblock extrascript %}