{% extends 'base_dashboard.html' %}

{% load i18n %}
{% load static %}

{% block title %}
  {{ chapter.title }}
{% endblock title %}

{% block logo %}
    <a href="." class="simple-text logo-mini">
      PC
    </a>
    <a href="." class="simple-text logo-normal">
      Primo Contatto
    </a>
{% endblock logo %}

{% block navbarbrand %}{{ chapter.title }}{% endblock navbarbrand %}

{% block sidebar %}
  {% for c in chapters %}
    <li class="nav-item {% if c.slug == chapter.slug %}active{% endif %}">
      <a class="nav-link" href="{% url 'ebooks:chapter-detail' c.slug %}">
        <p>{{ c.title }}</p>
      </a>
    </li>
  {% endfor %}
{% endblock sidebar %}

{% block content_header_title %}
  <h3 class="title">{{ chapter.title }}</h3>
  <p class="category"></p>
{% endblock content_header_title %}

{% block content_body %}

{% if chapter.order_index == 1 %}
  <div class="card card-profile text-center ml-auto mr-auto" style="max-width: 720px">
    <div class="card-header card-header-image">
      <img class="img" src="https://i.imgur.com/HnrMXBl.png?1">
    </div>
    <div class="card-body ">
        <h4 class="card-title">Diventi: Primo Contatto</h4>
        <h6 class="card-category text-gray">A Diventi Application</h6>
    </div>
  </div>
{% endif %}

{% for section in chapter.sections.all %}
    <div class="card">
      <div class="card-body">{{ section.content|safe }}</div>
    </div>
{% endfor %}

{% endblock content_body %}    
