{% extends 'ebooks/base_book_web.html' %}

{% load i18n %}
{% load static %}

{% block side_image %}{% if chapter.image %}{{ chapter.image }}{% else %}{% static 'material-kit/img/image_placeholder.jpg' %}{% endif %}{% endblock side_image %}

{% block side_chapter %}
    <div class="sidechapters">{% trans "Chapter" %}</div>
    <div class="sidechapters">{% block side_chapter_number %}{{ chapter.order_index }}{% endblock %}</div>
{% endblock side_chapter %}

{% block side_title %}{{ chapter.title }}{% endblock side_title %}
{% block side_subtitle %}{{ chapter.description }}{% endblock side_subtitle %}

{% block right_navigation_next_chapter_label %}{% trans "Next Chapter" %}{% endblock right_navigation_next_chapter_label %}
{% block chapterpage_title %}{{ chapter.title|capfirst }}{% endblock chapterpage_title %}
{% block chapter_lead %}{% endblock chapter_lead %}
{% block chapter_content %}
<h3>{% trans "Table of contents" %}</h3>
    <ol>
        {% for section in chapter.sections.all %}
            <li>
                <a href="{% url 'ebooks:chapter-detail' chapter.chapter_book.slug chapter.slug %}#{{ section.slug }}">{{ section.title }}</a>
            </li>
        {% endfor %}
    </ol>
{% for section in chapter.sections.all %}
    {% include 'ebooks/section_content_web.html' %}
{% endfor %}
{% endblock chapter_content %}
