{% extends 'base_dashboard.html' %}

{% load i18n %}
{% load static %}

{% block title %}
  {{ book.title }} &middot; {{ chapter.title }}
{% endblock title %}

{% block logo %}
  {% with book as book %}
      {% include 'ebooks/book_logo.html' %}
  {% endwith %}
{% endblock logo %}

{% block navbar_logo %}
    {% with book as book %}
        {% include 'ebooks/navbar_logo.html' %}
    {% endwith %}
{% endblock navbar_logo %}

{% block navbarbrand %}{{ chapter.title }}{% endblock navbarbrand %}

{% block sidebar_items %}
  {% for c in chapters %}
    <li class="nav-item {% if c.slug == chapter.slug %}active{% endif %}">
      <a class="nav-link" href="{% url 'ebooks:chapter-detail' c.chapter_book.slug c.slug %}">
        <p>{{ c.title }}</p>
      </a>
    </li>
  {% endfor %}
{% endblock sidebar_items %}

{% block content_header_title %}
  <h3 class="title">{{ chapter.title }}</h3>
  <p class="category"></p>
{% endblock content_header_title %}

{% block content_body %}

{% for section in chapter.sections.all %}
  {% with section as section %}
    {% include 'ebooks/section.html' %}
  {% endwith %}
{% endfor %}

{% endblock content_body %}    
