<div class="col-lg-{{ section.col_lg }} col-md-{{ section.col_md }}">
    <div class="card">
      
      {% if section.super_title %}
        {% if section.image %}      
          <div class="card-header card-header-image" data-header-animation="false">
            <img class="img" src="{{ section.image }}">
          </div>
        {% elif section.icon %}
          <div class="card-header card-header-icon card-header-{{ section.color }}">
            <div class="card-icon">
              <i class="fal fa-{{ section.icon }} fa-2x"></i>
            </div>
            <h4 class="card-title">{{ section.title|capfirst }}</h4>
          </div>
        {% else %}
          <div class="card-header card-header-text card-header-{{ section.color }}" data-header-animation="false">
            <div class="card-text">
                <h4 class="card-title">{{ section.title|capfirst }}</h4>
                <p class="card-category">{{ section.description|capfirst }}</p>
              </div>
          </div>
        {% endif %}
      {% endif %}

      <div class="card-body text-{{ section.text_alignment }}">
        {% if not section.super_title %}
          <h3 class="card-title">{{ section.title|capfirst }}</h3>
        {% endif %}
        <div class="card-description">
          {% if section.universal_section %}
              {{ section.universal_section.content|safe }}
          {% endif %}
          {{ section.content|safe }}
        </div>
      </div>

    </div>
</div>