{% extends 'base_dashboard.html' %}

{% load i18n %}
{% load static %}

{% block logo %}
    <a href="." class="simple-text logo-mini">
      PC
    </a>
    <a href="." class="simple-text logo-normal">
      Primo Contatto
    </a>
{% endblock logo %}

{% block sidebar %}
  {% for s in sections %}
    <li class="nav-item {% if s.slug == section.slug %}active{% endif %}">
      <a class="nav-link" href="{% url 'ebooks:detail' s.slug %}">
        <p>{{ s.title }}</p>
      </a>
    </li>
  {% endfor %}
{% endblock sidebar %}

{% block content_header %}{% endblock content_header %}

{% block content_body %}
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">{{ section.title }}</h4>
        <p class="card-category">
          Be brave and roll the dice
        </p>
      </div>
      <div class="card-body">{{ section.content|safe }}</div>
    </div>
{% endblock content_body %}    
