{% extends 'ebooks/base_book_web.html' %}

{% load i18n %}
{% load static %}

{% block side_image %}{% if chapter.image %}{{ chapter.image }}{% else %}{% static 'material-kit/img/image_placeholder.jpg' %}{% endif %}{% endblock side_image %}

{% block side_chapter %}
    <div class="sidechapters">{% trans "Chapter" %}</div>
    <div class="sidechapters">{% block side_chapter_number %}{{ section.chapter.order_index }}{% endblock %}</div>
{% endblock side_chapter %}

{% block side_title %}{{ section.chapter.title }}{% endblock side_title %}
{% block side_subtitle %}{{ section.chapter.description }}{% endblock side_subtitle %}

{% block right_navigation_next_chapter_label %}{% trans "Next Chapter" %}{% endblock right_navigation_next_chapter_label %}
{% block chapterpage_title %}{{ section.chapter.title|capfirst }}{% endblock chapterpage_title %}
{% block chapter_lead %}{% endblock chapter_lead %}
{% block chapter_content %}
    {% include 'ebooks/section_content_web.html' %}
{% endblock chapter_content %}
