{% load i18n %}

<div class="col-lg-{{ section.col_lg }} col-md-{{ section.col_md }}">
        <div class="card {{ section.card_type }}">

            {% block card_header %}
              {% if section.image %}
                <div class="card-header {% block card_header_class %}{% endblock card_header_class %}" data-header-animation="false">
                  {% block card_header_content %}
                      <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="{{ section.image }}" class="img">
                  {% endblock card_header_content %}
                </div>
              {% endif %}
            {% endblock card_header %}

            {% block card_body %}
                <div class="card-body text-{{ section.text_alignment }}">
                    <a name="{{ section.slug }}">
                    {% block card_body_title %}
                        <h3 class="text-warning card-title"><small>{{ section.title|capfirst }}</small></h3>
                    {% endblock card_body_title %}
                    </a>
                    {% block card_body_content %}
                        {% if section.universal_section %}
                            <h5>{{ section.universal_section.get_converted_content|safe }}</h5>
                        {% endif %}
                        <h5>{{ section.get_converted_content|safe }}</h5>
                    {% endblock card_body_content %}
                    {% for a in section.attachments.all %}
                        <button class="btn btn-outline btn-round" data-toggle="modal" data-target="#attachmentModal{{ a.id }}">
                          <i class="fal fa-paperclip fa-lg"></i> {{ a.title }}
                        <div class="ripple-container"></div></button>
                    {% endfor %}
                </div>
            {% endblock card_body %}

        </div>
    </div>

    {% for a in section.attachments.all %}
      <div class="modal fade" id="attachmentModal{{ a.id }}" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">{{ a.title }}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="{% trans 'Close' %}">
                <i class="fal fa-times"></i>
              </button>
            </div>
            <div class="modal-body">
              <h5>{{ a.content|safe }}</h5>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger btn-link" data-dismiss="modal">{% trans 'Close' %}</button>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}