{% load i18n %}
{% load tooltips_extras %}

<a style="color:#41474d" name="{{ section.slug }}"><h3>{{ section.title|capfirst }}</h3></a>
{% include 'ebooks/section_aspects_web.html' %}
{{ section.get_converted_content|tooltip:section.pk|safe }}
{% if section.situation %}
<u>{% trans "situation"|capfirst %}:</u> {{ section.situation|safe }}
{% endif %}
{% include 'ebooks/section_secrets_web.html' %}
{% if section.image %}
    <figure data-rt-type="image" data-rt-align="center" data-rt-max-width="50" data-rt-max-height="56.25" class="w-richtext-align-center" style="max-width: 60%;">
        <div><img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="{{ section.image }}"></div>
        <figcaption>{{ section.label }}</figcaption>
    </figure>
{% endif %}