{% extends 'base.html' %}
{% load i18n %}

{% block extrahead %}{% endblock extrahead %}

{% block title %}{% trans 'Situation' %}{% endblock title %}

{% block navbarclasses %}bg-dark{% endblock navbarclasses %}

{% block bodyclass %}signup-page{% endblock bodyclass %}

{% block pageheader %}
    <div class="page-header header-filter" filter-color="default" style="background-image: url(''); background-size: cover; background-position: top center;">
        <div class="container">
            <div class="row">
                <div class="col-md-10 ml-auto mr-auto">
                    <div class="card">
                        <h2 class="card-title text-center">{{ situation }}</h2>
                        <h4 class="text-center"><small>{% trans "Players' link:" %} <a class="text-warning" href="{% url 'adventures:story_get' situation.story.uuid %}">{{ request.META.HTTP_HOST }}{% url 'adventures:story_get' situation.story.uuid %}</a></small></h4>
                        <div class="card-body">
                            {% block situation_content %}
                            <div class="row">
                                <div class="col-md-12">
                                    {% with section as section %}
                                        {% include 'ebooks/section_content_web.html' %}
                                    {% endwith %}
                                </div> 
                            </div>
                            {% endblock situation_content %}
                            <div class="row">
                                {% for goal in antagonist_goals %}
                                <div class="col-md-6">
                                    {% with goal as goal %}
                                        {% include 'adventures/goal_detail.html' %}
                                    {% endwith %}
                                </div> 
                                {% endfor %}
                            </div>
                            {% block situation_extra %}{% endblock situation_extra %}
                        </div>
                        {% block situation_footer %}
                        <div class="card-footer">
                            <div class="author">
                                <img src="{{ situation.adventure.section.chapter.chapter_book.image }}" alt="{{ situation.adventure }}" class="avatar img-raised">
                                <span style="margin-top:3px;">{{ situation.adventure.get_ring_display }} &middot; {{ situation.adventure }} </span>
                            </div>
                            <div class="stats ml-auto">
                                {% if situation.resolution %}
                                    <span class="badge badge-pill badge-{{ situation.resolution.color }}">
                                        {{ situation.resolution }}
                                    </span>                                   
                                {% endif %}
                            </div>
                        </div>
                        {% endblock situation_footer %}
                    </div>
                </div>
            </div>
        </div>
        {% include 'footer.html' %}
    </div>
{% endblock pageheader %}

{% block main %}{% endblock main %}

{% block footer %}{% endblock footer %}
