{% extends 'base.html' %}
{% load i18n %}

{% block extrahead %}{% endblock extrahead %}

{% block title %}{% trans 'Sign up' %}{% endblock title %}

{% block navbarclasses %}bg-dark{% endblock navbarclasses %}

{% block bodyclass %}signup-page{% endblock bodyclass %}

{% block pageheader %}
    <div class="page-header header-filter" filter-color="default" style="background-image: url(''); background-size: cover; background-position: top center;">
        <div class="container">
            <div class="row">
                <div class="col-md-10 ml-auto mr-auto">
                    <div class="card card-signup">
                        <h2 class="card-title text-center">{% trans 'Start your story' %}</h2>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-5 ml-auto">
                                    <div class="info info-horizontal">
                                        <div class="description">
                                          <h4 class="info-title">{% trans 'your open situations'|capfirst %}</h4>
                                            {% for situation in open_situations %}
                                                <p class="description">
                                                    <a href="{{ situation.get_absolute_url }}" class="text-info">
                                                        {{ situation }} &middot; {{ situation.adventure }}
                                                    </a>
                                                </p>
                                            {% empty %}
                                                <p class="card-description">{% trans 'you have no open situations'|capfirst %}.</p>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="info info-horizontal">
                                        <div class="description">
                                          <h4 class="info-title">{% trans 'your past adventures'|capfirst %}</h4>
                                            {% for story in past_stories %}
                                                <p class="description">
                                                    <a href="{% url 'adventures:situation_story_detail' story.uuid %}}" class="text-info">
                                                        {{ story }}
                                                    </a>
                                                </p>
                                            {% empty %}
                                                <p class="description">{% trans 'you have yet to complete a whole adventure'|capfirst %}.</p>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5 mr-auto">
                                    <form class="form" method="POST" action="{% url 'adventures:situation_story_create' %}">
                                        {% csrf_token %}
                                        {% for field in form %}
                                            <div class="form-group">
                                                {{ field.errors }}
                                                {{ field.label_tag }} {{ field }}
                                                {% if field.help_text %}
                                                <p class="help">{{ field.help_text|safe }}</p>
                                                {% endif %}
                                            </div>
                                        {% endfor %}                            
                                        <div class="text-center">           
                                            <button class="btn btn-warning btn-round" type="submit">
                                                {% trans "Get Started" %} <i class="fal fa-arrow-right fa-lg"></i>
                                            </button>  
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% include 'footer.html' %}

    </div>
{% endblock pageheader %}

{% block main %}{% endblock main %}

{% block footer %}{% endblock footer %}
