{% extends 'base.html' %}
{% load i18n %}

{% block extrahead %}{% endblock extrahead %}

{% block title %}{% trans 'Sign up' %}{% endblock title %}

{% block navbarclasses %}bg-dark{% endblock navbarclasses %}

{% block bodyclass %}signup-page{% endblock bodyclass %}

{% block pageheader %}
    <div class="page-header header-filter" filter-color="default" style="background-image: url(''); background-size: cover; background-position: top center;">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto">
                    <div class="card card-signup">
                        <h2 class="card-title text-center">{% trans 'Start your story' %}</h2>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <form class="form" method="POST" action="{% url 'adventures:new-game' %}">
                                        {% csrf_token %}
                                        {{ form }}                                        
                                        <button class="btn btn-warning btn-round" type="submit">
                                            {% trans "Get Started" %} <i class="fal fa-arrow-right fa-lg"></i>
                                        </button>  
                                    </form>
                                </div>
                                <div class="col-md-6 ml-auto">
                                    <h4 class="card-title">{% trans 'your open situations'|capfirst %}</h4>
                                    {% for situation in open_situations %}
                                        <p class="card-description">
                                            <a href="{{ situation.get_absolute_url }}" class="text-info">
                                                {{ situation }} &middot; {{ situation.adventure }}
                                            </a>
                                        </p>
                                    {% empty %}
                                        <p class="card-description">{% trans 'you have no open situations'|capfirst %}.</p>
                                    {% endfor %}
                                </div>
                                <div class="col-md-6 mr-auto">
                                    <h4 class="card-title">{% trans 'your solved situations'|capfirst %}</h4>
                                    {% for situation in solved_situations %}
                                        <p class="card-description">
                                            <a href="{{ situation.get_absolute_url }}" class="text-info">
                                                {{ situation }} &middot; {{ situation.adventure }}
                                            </a>
                                        </p>
                                    {% empty %}
                                        <p class="card-description">{% trans 'you have no solved situations'|capfirst %}.</p>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% include 'footer.html' %}

    </div>
{% endblock pageheader %}

{% block main %}{% endblock main %}

{% block footer %}{% endblock footer %}
