{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block title %}{% trans 'Situations' %}{% endblock title %}

{% block pageheaderextraclass %}header-small{% endblock pageheaderextraclass %}
{% block pageheaderimage %}{{ adventure_image }}{% endblock pageheaderimage %}

{% block pageheadercontent %}
<div class="container">
  <div class="row">
    <div class="col-md-8 ml-auto mr-auto text-center">
        <h1 class="title">{{ adventure.product.title }}</h1>
        <h4>{% trans "the situations you played in this adventure"|capfirst %}.</h4>
    </div>
  </div>
</div>
{% endblock pageheadercontent %}

{% block maincontainer %}
<div class="section section-white-to-gray">
    <div class="container">
    <div class="row">
        {% for s in situations %}
        <div class="col-lg-4 col-md-4">
            <div class="card">
              <div class="card-body">
                <h6 class="card-category text-warning">
                  {% if not s.resolution %}
                  <span class="text-info" data-toggle="tooltip" data-placement="bottom" title="" data-container="body" data-original-title="{% trans 'this situation is still open.'|capfirst %}">
                    <i class="fad fa-spinner-third fa-lg fa-fw"></i>
                  </span>
                {% endif %}{{ s.adventure.get_ring_display }}
                </h6>
                <h4 class="card-title">
                  <a href="{% url 'adventures:situation_detail' s.pk %}">{{ s.adventure.title }}</a>
                </h4>
                <p class="card-description">
                  {{ s.adventure.description }}
                </p>
              </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock maincontainer %}