{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block extrahead %}{% endblock extrahead %}

{% block title %}{% trans 'Situation' %}{% endblock title %}

{% block pageheaderextraclass %}header-small{% endblock pageheaderextraclass %}
{% block pageheaderimage %}{{ situation.adventure.section.chapter.chapter_book.image }}{% endblock pageheaderimage %}

{% block pageheadercontent %}
<div class="container">
  <div class="row">
    <div class="col-md-8 ml-auto mr-auto text-center">
        <h1 class="title">{{ situation.adventure.product.title }}</h1>
        <h4>{% trans 'you are playing the'|capfirst %} {{ situation.adventure.get_ring_display }}</h4>
        <a href="{% url 'adventures:story_get' situation.story.uuid %}" class="text-warning"><h5><i class="fad fa-arrow-right"></i> {% trans "public link"|capfirst %}</h5></a>
    </div>
  </div>
</div>
{% endblock pageheadercontent %}

{% block maincontainer %}
<div class="section section-white-to-gray">
    <div class="container">
        {% block situation_content %}
        <div class="row">           
            <div class="col-lg-6 col-md-8">
              <h2 class="title"><small>{{ section.title|capfirst }}</small></h2>
              <ul class="nav nav-pills nav-pills-info">
                <li class="nav-item"><a class="nav-link active show" href="#pill1" data-toggle="tab">{% trans "situation" %}</a></li>
                <li class="nav-item"><a class="nav-link" href="#pill3" data-toggle="tab">{% trans "interactions" %}</a></li>
              </ul>
              <div class="tab-content tab-space">
                <div class="tab-pane active show" id="pill1">
                    <div class="blockquote undefined">
                        <p>{{ section.get_converted_content|safe }}</p>
                    </div>
                    {% if section.situation %}
                    <u>{% trans "situation"|capfirst %}:</u> {{ section.situation|striptags|safe }}
                    {% endif %}
                </div>
                <div class="tab-pane" id="pill3">
                    <div class="row">
                    {% for aspect in section.aspects.all %}
                    <div class="col-md-6">
                        <div class="card" style="margin-top: 0px;">
                            <div class="card-body">
                                <h6 class="card-category">
                                    {{ aspect.get_aspect_type_display }}
                                </h6>
                                <h4 class="card-title">{{ aspect.title|capfirst }}.</h4>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-4">
                <div style="margin-bottom: 40px;">
                    <h2 class="title"><small>{% trans "adventure secrets"|capfirst %}</small></h2>
                </div>
                <div class="row">
                    <div class="col-md-6">
                    {% for goal in antagonist_goals %}
                        <div class="card card-profile">
                            <div class="card-avatar">
                                <img class="img" src="{% if goal.antagonist.image %}{{ goal.antagonist.image }}{% else %}{% static 'material-kit/img/placeholder.jpg' %}{% endif %}">
                            </div>
                            <div class="card-body">
                                <h6 class="card-category text-gray">{{ goal.title }}</h6>
                                <h4 class="card-title">
                                    {{ goal.description }}
                                </h4>
                            </div>
                            <div class="card-footer justify-content-center">
                                <p class="text-info" style="padding-top: 15px;">{% if goal.icon %}<i class="fad fa-{{ goal.icon }} fa-2x"></i>{% endif %}</p>
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                    <div class="col-md-6">
                    {% for secret in section.secrets.all %}
                        <div class="rotating-card-container manual-flip" style="margin-bottom: 30px;">
                          <div class="card card-rotate">
                            <div class="front" style="width: 349.984px;">
                              <div class="card-body">
                                <h6 class="card-category card-category-social text-warning">
                                  <i class="fad fa-box-alt fa-lg fa-fw"></i> {% trans "secret" %}
                                </h6>
                                <h4 class="card-title">
                                  {{ secret.title }}
                                </h4>
                                <div class="stats text-center">
                                  <button type="button" name="button" class="btn btn-warning btn-fill btn-round btn-rotate">
                                  {% if secret.requires_skill_check %}<i class="fas fa-key-skeleton fa-fw"></i> {% trans "situation check:"|capfirst %} {{ situation.adventure.difficulty }}
                                  {% else %}
                                  <i class="fas fa-check-circle fa-fw"></i> {% trans "reveal"|capfirst %}
                                  {% endif %}
                                    <div class="ripple-container"></div>
                                  </button>                        
                                </div>
                              </div>
                            </div>
                            <div class="back" style="width: 349.984px;">
                              <div class="card-body">
                                <br>
                                <h6 class="card-category card-category-social text-success">
                                  <i class="fad fa-box-open fa-3x fa-fw"></i>
                                </h6>
                                <p class="card-description">
                                  {{ secret.description }}
                                </p>
                                <br>
                                <div class="ripple-container"></div></button>
                              </div>
                            </div>
                          </div>
                        </div>
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        {% endblock situation_content %}
    </div>
</div>
<div class="section section-white">
    <div class="container">
        {% block situation_extra %}{% endblock situation_extra %}
    </div>
</div>
{% endblock maincontainer %}

{% block footer %}
    {% include 'footer.html' %}
{% endblock footer %}
