{% extends 'adventures/situation_detail.html' %}
{% load i18n %}

{% block situation_extra %}
<div class="row">
    {% if adventure_navigation_form.errors %}
    <div class="col-md-12">
        <div class="justify-content-center">
            <div class="alert alert-danger">    
                <div class="alert-icon">
                    <i class="material-icons">error_outline</i>
                </div> 
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true"><i class="material-icons">clear</i></span>
                </button>
                <b>
                    {% for field, error in adventure_navigation_form.errors.items %}
                        {{ field }}: {{ error|striptags }} <br>
                    {% endfor %}
                </b>
            </div>
        </div>
    </div>
    {% endif %}
    {% if adventure_navigation_form %}
    {% with adventure_navigation_form as form %}
    <div class="col-md-12">
        <h3>{% trans "Resolution" %}</h3>
        <form method="POST" action="{% url 'adventures:situation_story_resolution' situation.story.uuid %}">
            {% csrf_token %}
            <div class="form-group">
                {% if form.enable_third_ring %}
                {% with form.enable_third_ring as check %}
                    <div class="form-check form-check-inline">
                        <label class="form-check-label">
                            {{ check }}{{ check.label }}
                            <span class="form-check-sign">
                                <span class="check"></span>
                            </span>    
                        </label>                  
                    </div>
                {% endwith %}
                {% endif %}
                {% for radio in form.resolution %}
                    <div class="form-check form-check-radio form-check-inline">
                        <label for="{{ radio.id_for_label }}" class="form-check-label"> 
                            {{ radio.tag }}{{ radio|striptags }}
                            <span class="circle">
                                <span class="check"></span>
                            </span>
                        </label>
                    </div>
                {% endfor %}
            </div>
            <button type="submit" class="btn btn-warning">{% trans "Submit" %}</button>           
        </form>
        <hr />
    </div>
    {% endwith %}
    {% endif %}
</div>
{% endblock situation_extra %}
                        