{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans 'Story' %}{% endblock title %}

{% block navbarclasses %}bg-dark{% endblock navbarclasses %}

{% block bodyclass %}signup-page{% endblock bodyclass %}

{% block pageheader %}
    <div class="page-header header-filter" filter-color="default" style="background-image: url(''); background-size: cover; background-position: top center;">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto">
                    <div class="card">
                        <h2 class="card-title text-center">{% trans "This is your adventure" %}</h2>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    {% include 'ebooks/section_aspects_web.html' %}
                                </div> 
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="author">
                                <img src="{{ situation.adventure.section.chapter.chapter_book.image }}" alt="{{ situation.adventure }}" class="avatar img-raised">
                                <span style="margin-top:3px;">{{ situation.adventure }}</span>
                            </div>
                            <div class="stats ml-auto">
                                <a href="{{ story.get_absolute_url }}" class="btn btn-warning btn-link">
                                    <i class="fal fa-redo"></i> {% trans "Refesh" %} <div class="ripple-container"></div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include 'footer.html' %}
    </div>
{% endblock pageheader %}

{% block main %}{% endblock main %}

{% block footer %}{% endblock footer %}