{% extends 'base.html' %}

{% load comments %}

{% block title %}{{ article.title}}{% endblock title %}

{% block bodyclass %}blog-post{% endblock bodyclass %}

{% block content %}
<div class="section section-text" style="margin-top:25px;"">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="text-center title">
                <span class="label label-warning main-tag">{{ article.category }}</span>
                <h2 class="title">{{ article.title }}</h2>
            </div>
            {% if article.image %}
            <div class="col-md-12">
                <div class="card card-blog card-plain">
                    <div class="card-image">
                        <img src="{{ article.image.url }}" alt="">
                        <div class="card-title">
                            {{ article.caption }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            {% endif %}
            {{ article.content|safe }}
        </div>                    
    </div>
</div>

<div class="section section-comments">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="media-area">
                {% render_comment_list for article %}  
            </div>
            <h3 class="title text-center">Post your comment</h3>
            <div class="media media-post">
                {% render_comment_form for article %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}
