{% extends 'base.html' %}

{% load static %}

{% block title %}{{ article.title}}{% endblock title %}

{% block bodyclass %}blog-post{% endblock bodyclass %}

{% block pageheader %}
    <div class="page-header header-filter" style="background-image: {% if article.image %} url('{{ article.image.url }}');{% endif %}">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <h1 class="title">{{ article.title|title }}</h1>
                    <h4>{{ article.description|striptags }}</h4>
                    <br />
                </div>
            </div>
        </div>
    </div>
{% endblock pageheader %}

{% block content %}
<div class="container">
    <div class="section section-text" style="margin-top:25px;"">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="text-center title">
                    <span class="label label-rose main-tag">{{ article.category }}</span>
                    <h2 class="title">{{ article.title|title }}</h2>
                </div>
                {{ article.content|safe }}
            </div>                    
        </div>
    </div>
    <div class="section section-blog-info">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <hr />
                <div class="card card-profile card-plain">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="card-avatar">
                                <a href="#">
                                    {% if article.author.avatar %}
                                        <img class="img" src="{{ article.author.avatar.image }}">
                                    {% else %}
                                        <img class="img" src="{% static 'material-kit/img/placeholder.jpg' %}">
                                    {% endif %}
                                </a>
                            <div class="ripple-container"></div></div>
                        </div>
                        <div class="col-md-8">
                            <h4 class="card-title">{{ article.author.get_full_name }}</h4>
                            <p class="description">{{ article.author.bio }}</p>
                        </div>
                        {% if user.is_authenticated %}
                        <div class="col-md-2">
                            <a data-href="{% url 'blog:promote-toggle-api' article.slug %}" href="{% url 'blog:promote-toggle' article.slug %}" data-promotions="{{ article.promotions.count }}" class="btn {% if article.user_has_promoted %}btn-warning{% endif %} btn-promote pull-right" {% if article.user_has_promoted %}{% else %}data-toggle="tooltip" data-placement="top" title="Promote if you enjoyed this article"{% endif %}>
                                <i class="fal fa-thumbs-up fa-lg"></i> {{ article.promotions.count }}
                            </a>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include "comments/comment_list.html" %}
</div>

{% endblock content %}

{% block extrascript %}
<script>
    function updateText(btn, newCount, verb){
        btn.attr("data-promotions", newCount)
        icon = "<i class='fal fa-thumbs-up fa-lg'></i>"
        suffix = newCount
        btn.html(icon + " " + suffix)        
    }

    $(".btn-promote").click(function(e){
        e.preventDefault()
        var this_ = $(this)
        var promoteUrl = this_.attr("data-href")
        var promotionsCount = parseInt(this_.attr("data-promotions"))
        var addPromotion = promotionsCount + 1
        var removePromotion = promotionsCount - 1
        $.ajax({
            url: promoteUrl,
            method: "GET",
            data: {},
            success: function(data){
                console.log(data)
                var newPromotions;
                var newLabel;
                if (data.promoted){
                    updateText(this_, addPromotion, "Demote")
                    this_.addClass("btn-warning")
                } else {
                    updateText(this_, removePromotion, "Promote")
                    this_.removeClass("btn-warning")
                }            
            }, error: function(error){
                console.log(error)
                console.log("error")
            }
        })
    })

    $('[data-toggle="tooltip"]').tooltip();
</script>

{% include 'comments/comment_preview.html' %}

{% endblock extrascript %}
