{% extends 'base.html' %}

{% load static %}
{% load i18n %}

{% block title %}{{ article.title}}{% endblock title %}

{% block bodyclass %}blog-post{% endblock bodyclass %}

{% block pageheader %}
    <div class="page-header header-filter" data-parallax="false" style="background-image: url({{ article.image }});">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <h1 class="title">{{ article.title|capfirst }}</h1>
                    <h4>{{ article.description|safe }}</h4>
                    <br />
                    <h6>{% trans "credits" %}: {{ article.label }}</h6>
                </div>
            </div>
        </div>
    </div>
{% endblock pageheader %}

{% block content %}
<div class="container">
    <div class="section section-text">
        <div class="row">
            <div class="col-lg-8 col-md-12 ml-auto mr-auto">
                {{ article.content|safe }}
            </div>                    
        </div>
    </div>
    <div class="section section-blog-info">
        <div class="row">
            <div class="col-lg-8 col-md-12 ml-auto mr-auto">
                <hr>
                <div class="card card-profile card-plain">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="card-avatar">
                                <a href="#">
                                    {% if article.author.avatar %}
                                        <img class="img" src="{{ article.author.avatar.image }}">
                                    {% else %}
                                        <img class="img" src="{% static 'material-kit/img/placeholder.jpg' %}">
                                    {% endif %}
                                </a>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <h4 class="card-title"><a href="{{ article.author.get_absolute_url}}">{{ article.author.get_full_name }}</a></h4>
                            <p class="description">{{ article.author.bio }}</p>
                        </div>
                        {% if user.is_authenticated %}
                        <div class="col-md-2">
                            <a data-href="{% url 'blog:promote-toggle-api' article.slug %}" href="{% url 'blog:promote-toggle' article.slug %}" data-promotions="{{ article.promotions.count }}" class="btn {% if article.user_has_promoted %}btn-warning{% endif %} btn-round btn-promote pull-right">
                                <i class="fal fa-thumbs-up fa-lg"></i> {{ article.promotions.count }}
                            </a>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section section-comments">
        <div class="row">
            <div class="col-lg-8 col-md-12 ml-auto mr-auto">
                {% include "comments/comments.html" %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}