{% extends 'base.html' %}

{% load humanize %}

{% block title %}Blog{% endblock title %}

{% block content %}
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <h2 class="title">Latest Blogposts</h2>
                <br />
                {% if articles %}
                    {% for article in articles %}                    
                        <div class="card card-plain card-blog">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="card-image">
                                        <a href="{% url 'blog:detail' article.slug %}">
                                            {% if article.image %}
                                                <img class="img img-raised" src="{{ article.image.url }}">
                                            {% endif %}
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-8">                                            
                                    <h6 class="category">
                                        <span class="{% if article.hot %}text-danger{% else %}text-info{% endif %}"">
                                            {% if article.hot %}
                                                <i class="fal fa-fire fa-lg"></i> Hot
                                            {% else %}
                                                {{ article.category }}
                                            {% endif %}
                                        </span>
                                    </h6>                
                                    <h3 class="card-title">
                                        <a href="{% url 'blog:detail' article.slug %}">{{ article.title|title }}</a>
                                    </h3>
                                    <p class="card-description">
                                        {{ article.abstract|striptags }}                                        
                                    </p>
                                    <p class="author">
                                        <span class="text-warning">                                    
                                            <i class="fal fa-thumbs-up"></i> {{ article.promotions.count }}
                                        </span> &middot; 
                                        {{ article.publication_date|naturalday }}
                                    </p>                            
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <h3>There are no posts yet <i class="material-icons">mood_bad</i></h3>
                {% endif %}    
            </div> <!-- End grid column -->
        </div> <!-- End row -->
        {% if is_paginated %}
            <br />
          <ul class="pagination" style="justify-content: center;">
            {% if page_obj.has_previous %}
              <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
            {% else %}
              <li class="page-item disabled"><span class="page-link">Previous</span></li>
            {% endif %}
            {% for i in page_obj.paginator.page_range %}
              {% if page_obj.number == i %}
                <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
              {% else %}
                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
              {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
              <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
            {% else %}
              <li class="page-item disabled"><span class="page-link">Next</span></li>
            {% endif %}
          </ul>
        {% endif %}
    </div> <!-- End container -->
</div> <!-- End section -->
{% endblock content %}