{% load i18n %}
{% load static %}
{% load humanize %}

<div class="card card-plain card-blog">
   <div class="card-header card-header-image">
      <div class="card-header card-header-image">
         <img class="img img-raised" src="{% if article.image %}{{ article.image }}{% else %}https://i.imgur.com/5Tr70pb.gif{% endif %}">
         <div class="colored-shadow" style="background-image: url(&quot;{{ article.image }};&quot;); opacity: 1;"></div>
      </div>
   </div>
   <div class="card-body">
      <h6 class="card-category text-info">{{ article.category }}</h6>
      <h3 class="card-title">
         <a href="{% url 'blog:detail' article.slug %}">{{ article.title|capfirst }}</a>
      </h3>
      <p class="card-description">
         {{ article.description|capfirst }}
         <a href="{% url 'blog:detail' article.slug %}" class="text-warning">
         {% trans "read the story"|capfirst %}.
         </a>
      </p>
      <p class="author">
         by
         <a class="text-warning" href="{{ article.author.get_absolute_url }}">
         <b>{{ article.author.get_short_name }}</b>
         </a>, {{ article.publication_date|naturaltime }}
      </p>
   </div>
</div>