{% load comments %}
{% load mptt_tags %}
{% load comment_extras %}
{% load i18n %}

{% include 'comments/comment_preview.html' %}

<div class="tab-content tab-space">
        
    <div class="media-area">
        {% get_comment_count for object as comment_count %}
        {% if user.is_authenticated %}
            <ul class="nav nav-pills nav-pills-info" role="tablist">
                <li class="active">
                    <a href="#list-1" role="tab" data-toggle="tab" aria-expanded="true">
                        {% trans "Comment" %}
                    </a>
                </li>
                <li class="">
                    <a href="#preview-1" role="tab" data-toggle="tab" aria-expanded="false">
                        {% trans "Preview" %}
                    </a>
                </li>
            </ul>
        {% endif %}
    </div>

    <div class="tab-pane active" id="list-1">
        <a name="comments">
            <h3 class="title text-center">{% trans "Post your comment" %}</h3>
        </a>
        {% if user.is_authenticated %}
            <div class="media media-post">            
                {% get_comment_form for object as form %}
                <form id="live-preview-form" action="{% comment_form_target %}" method="POST">
                    {% csrf_token %}
                    <div class="media-body">
                        <textarea  style="padding: 10px;" name="comment" id="comment" class="form-control" placeholder="{% trans 'Write your comment' %}." rows="3" required></textarea>
                        {{ form.content_type }}
                        <span style="display:none">{{ form.honeypot }}</span>
                        {{ form.object_pk }}
                        {{ form.timestamp }}
                        {{ form.security_hash }}
                        {{ form.parent }}
                        <div class="media-footer">
                            <input class="btn btn-warning btn-wd pull-right" type="submit" value="{% trans 'Post' %}" id="id_submit" />
                        </div>
                    </div>
                </form>
            </div>
        {% else %}
            <h4 class="text-center">
                {% trans "Please sign in to leave a comment" %}
            </h4>
        {% endif %}
    </div>
    {% if user.is_authenticated %}
        <div class="tab-pane" id="preview-1">
            <h3 class="title text-center">{% trans "Comment preview" %}</h3>
            <div class="media text-left">
                <a class="pull-left author" href="">
                    <div id="lp-avatar"></div>
                </a>
                <div class="media-body">
                    <div id="live-preview-display" class="lp-block">                            
                        <div id="lp-name"></div>
                        <div id="lp-comment"></div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
</div>
            
<h3 class="title text-center">{{ comment_count }} {% trans "Comments" %}</h3>
<div class="row">
    <div class="col-md-12">

        <ul class="nav nav-pills nav-pills-info" role="tablist">
            <li class="active">
                <a href="#best-1" role="tab" data-toggle="tab" aria-expanded="true">
                    {% trans "Best" %}
                </a>
            </li>
            <li class="">
                <a href="#date-1" role="tab" data-toggle="tab" aria-expanded="false">
                    {% trans "Submit Date" %}
                </a>
            </li>
        </ul>

        {% get_comment_list for object as comments %}
        <div class="tab-content tab-space">
            <div class="tab-pane active" id="best-1">
                {% promotionorderedcursetree comments %}
                    {% include "comments/comment_detail.html" %}
                {% endrecursetree %}
            </div>
            <div class="tab-pane" id="date-1">
                {% dateorderedcursetree comments %}
                    {% include "comments/comment_detail.html" %}
                {% endrecursetree %}
            </div>
        </div>

    </div>
</div>

<script>
    function toggleDiv(divId) {
       $("."+divId).toggle();
    }

    function updateText(btn, newCount, verb){
        btn.attr("data-promotions", newCount)
        icon = "<i class='fal fa-thumbs-up fa-lg'></i>"
        suffix = newCount
        btn.html(icon + " " + suffix)        
    }

    $(".btn-promote").click(function(e){
        e.preventDefault()
        var this_ = $(this)
        var promoteUrl = this_.attr("data-href")
        var promotionsCount = parseInt(this_.attr("data-promotions"))
        var addPromotion = promotionsCount + 1
        var removePromotion = promotionsCount - 1
        $.ajax({
            url: promoteUrl,
            method: "GET",
            data: {},
            success: function(data){
                console.log(data)
                var newPromotions;
                var newLabel;
                if (data.promoted){
                    updateText(this_, addPromotion, "{% trans 'Demote' %}")
                    this_.addClass("btn-warning")
                } else {
                    updateText(this_, removePromotion, "{% trans 'Promote' %}")
                    this_.removeClass("btn-warning")
                }            
            }, error: function(error){
                console.log(error)
                console.log("error")
            }
        })
    })
</script>