
<!--  Mootolls Plugin for comment utilities   -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/mootools/1.6.0/mootools-core-compat.js" type="text/javascript"></script>

<script>
(function($){
    window.addEvent('domready',function(){
        //the build process
        var build = function() {
            //vars (fields) and blocks
            var lpcomment = $('lp-comment'), lpname = $('lp-name'), lpavatar = $('lp-avatar');
            var name = '{{ user.first_name }}', comment = $('comment');
            
            //comment
            lpcomment.set('html','<p>' + comment.value + '</p>');
            lpcomment.set('html',lpcomment.get('html').replace(/\n/g,'<br />'));
            
            //name
            lpname.set('html','<h4 class="media-heading">' + name + '</h4>');
            
            //avatar
            {% if user.avatar %}
            lpavatar.set('html','<div class="avatar"><img class="media-object" src="{{ user.avatar.image.url }}" /></div>');
            {% endif %}
            
        };
        //comment...easy
        $$('#live-preview-form input, #live-preview-form textarea').addEvents({
            keyup: build,
            blur: build
        });
    });
})(document.id);
</script>