{% load comments %}
{% load mptt_tags %}
{% load comment_extras %}
{% load i18n %}

{% get_comment_count for object as comment_count %}
{% get_comment_list for object as comments %}

<div class="media-area">
    <h6 class="mb-4"><a name="comments">{% trans "Comments" %}</a></h6>
    <ul class="nav nav-pills mb-0">
        <li class="nav-item">
            <a class="nav-link active" href="#pill1" data-toggle="tab">{% trans "Best" %}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#pill2" data-toggle="tab">{% trans "Recent" %}</a>
        </li>
    </ul>
    <hr class="my-4" />

    <div class="my-2">
        {% include "comments/comment_form.html" %}
    </div>

    <div class="tab-content tab-space">
        <div class="tab-pane active" id="pill1">
            {% promotionorderedcursetree comments %}
                {% include "comments/tree.html" with comment_order="best" %}
            {% endrecursetree %}
        </div>
        <div class="tab-pane" id="pill2">
            {% dateorderedcursetree comments %}
                {% include "comments/tree.html" with comment_order="recent" %}
            {% endrecursetree %}
        </div>
    </div>
</div>

<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
<script>
    function toggleDiv(divId) {
       $("."+divId).toggle();
    }

    function updateText(btn, newCount, verb){
        btn.attr("data-promotions", newCount)
        icon = "<svg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-thumbs-up mr-1 mb-1'><path d='M14 9V5a3 3 0 0 0-3-3l-4 9v11h11.28a2 2 0 0 0 2-1.7l1.38-9a2 2 0 0 0-2-2.3zM7 22H4a2 2 0 0 1-2-2v-7a2 2 0 0 1 2-2h3'></path></svg>"
        suffix = newCount
        btn.html(icon + " " + suffix)        
    }

    $("a.btn-promote").click(function(e){
        e.preventDefault()
        var this_ = $(this)
        var promoteUrl = this_.attr("data-href")
        var promotionsCount = parseInt(this_.attr("data-promotions"))
        var addPromotion = promotionsCount + 1
        var removePromotion = promotionsCount - 1
        $.ajax({
            url: promoteUrl,
            method: "GET",
            data: {},
            success: function(data){
                console.log(data)
                var newPromotions;
                var newLabel;
                if (data.promoted){
                    updateText(this_, addPromotion, "{% trans 'Demote' %}")
                    this_.removeClass("text-muted")
                    this_.addClass("text-primary")
                } else {
                    updateText(this_, removePromotion, "{% trans 'Promote' %}")
                    this_.removeClass("text-primary")
                    this_.addClass("text-muted")
                }            
            }, error: function(error){
                console.log(error)
                console.log("error")
            }
        })
    })
</script>