{% load humanize %}
{% load static %}

<div class="media">
    <a class="pull-left" href="#">
        <div class="avatar">
            {% if comment.user.avatar %}
                <img class="media-object" src="{{ comment.user.avatar.image }}" />
            {% else %}
                <img class="media-object" src="{% static 'material-kit/img/placeholder.jpg' %}">
            {% endif %}
        </div>
    </a>
    <div class="media-body text-left">
        <h4 class="media-heading">{{ comment.user.first_name }} <small> {{ comment.submit_date|naturaltime }}</small></h4>
        <h6 class="text-muted"></h6>
        <p>{{ comment.comment }}</p>                        
        <div class="media-footer">
            {% if user.is_authenticated %}
                <a data-href="{% url 'comments:promote-toggle-api' comment.id %}" href="{% url 'comments:promote-toggle' comment.id %}" data-promotions="{{ comment.promotions.count }}" type="submit" class="btn btn-promote btn-simple {% if comment.user_has_promoted %} btn-danger{% endif %} pull-right"><i class="fal fa-thumbs-up fa-lg"></i> 
                    {{ comment.promotions.count }}
                </a>
            {% endif %}
        </div>
    </div>
</div>