{% extends 'base.html' %}

{% load i18n %}

{% block title %}Comment posted{% endblock title %}

{% block bodyclass %}{% endblock bodyclass %}

{% block pageheader %}
<div class="page-header header-filter" style="background-image: url(''); background-size: cover; background-position: top center;">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
                <div class="card">
                    <div class="card-content">                        
                        <h4 class="card-title">
                            {% trans "Comment posted" %}!
                        </h4>
                        {% trans "You can leave the page or go back" %} <b><a class="text-warning" href="{{ request.META.HTTP_REFERER }}#comments"> {% trans "to the previous page" %}.</a></b>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock pageheader %}

{% block main %}{% endblock main %}

