{% load humanize %}
{% load static %}
{% load i18n %}
{% load comments %}

<div class="my-2 {% if node.is_root_node %}parent{% else %}child-of-{{ node.parent.id }}{% endif%}" style="{% if not node.is_root_node %}display: none;{% endif %}">
    <div class="media media-comment py-0">
        <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" data-src="{% if node.user.avatar.image %}{{ node.user.avatar.image }}{% else %}{% static 'brand/avatar-default.jpg' %}{% endif %}" alt="{{ node.user.get_full_name }}" class="rounded-circle shadow mr-4" style="width:58px">
        <div class="media-body">
            <div class="media-comment-bubble left-top">
                <a href="{{ node.user.get_absolute_url }}">
                    <h6 class="mt-0">{{ node.user.first_name }}
                        {% for a in node.user.achievements.all %}
                            {% include 'accounts/partials/achievement_badge.html' %}
                        {% endfor %}
                        <small>&middot; {{ node.submit_date|naturaltime }}</small>
                    </h6>
                </a>
                <p class="text-sm lh-160">{{ node.comment }}</p>               
                <div class="icon-actions">
                    <a data-href="{% url 'comments:promote-toggle-api' node.id %}" href="{% url 'comments:promote-toggle' node.id %}" data-promotions="{{ node.promotions.count }}" class="btn-promote text-{% if node.user_has_promoted %}primary{% endif %} {% if not user.is_authenticated %}disabled{% endif %}">
                            <i data-feather="thumbs-up" class="mr-1"></i><span class="text-muted">{{ node.promotions.count }}</span>
                    </a>
                    {% if not node.is_leaf_node %}
                        <a href="javascript:toggleDiv('child-of-{{ node.id }}');" data-toggle="tooltip" data-placement="bottom" rel="tooltip" data-original-title="{% trans 'Show replies' %}">
                            <i data-feather="edit-3" class="mr-1"></i><span class="text-muted">{{ node.get_descendant_count }}</span>
                        </a>
                    {% endif %}
                    {% if user.is_authenticated %}
                        <a href="javascript:toggleDiv('{{ node.id }}-reply-form');">
                            <i data-feather="corner-up-right" class="mr-1"></i>
                        </a>                    
                        {% get_comment_form for object as form %}
                        <form class="{{ node.id }}-reply-form" action="{% comment_form_target %}" method="POST" style="display: none;" class="rounded-lg border">
                             {% csrf_token %}
                             <div class="input-group input-group-lg input-group-merge mt-2">
                                <div class="input-group-prepend">
                                   <span class="input-group-text border-0 pr-2">
                                      <i data-feather="edit-3"></i>
                                   </span>
                                </div>
                                <input type="text" name="comment" class="form-control border-0 px-1" id="comment-{{ node.id }}-{{ comment_order }}" placeholder="{% trans 'Write your comment' %}." required>
                                <input type="hidden" name="content_type" value="{{ form.content_type.value }}" id="id_content_type-{{ node.id }}-{{ comment_order }}" />
                                <input type="text" name="honeypot" class="form-control honeypot" id="id_honeypot-{{ node.id }}-{{ comment_order }}" />
                                <input type="hidden" name="object_pk" value="{{ form.object_pk.value }}" id="id_object_pk-{{ node.id }}-{{ comment_order }}" />
                                <input type="hidden" name="timestamp" value="{{ form.timestamp.value }}" id="id_timestamp-{{ node.id }}-{{ comment_order }}" />
                                <input type="hidden" name="security_hash" value="{{ form.security_hash.value }}" id="id_security_hash-{{ node.id }}-{{ comment_order }}" />
                                {% if node.id %}    
                                    <input type="hidden" name="parent" value="{{ node.id }}" />
                                {% endif %}
                                <div class="input-group-append">
                                    <span class="input-group-text border-0 py-0 pl-2 pr-2">
                                        <button type="submit" class="btn btn-sm btn-primary">{% trans 'Post' %}</button>
                                    </span>
                                </div>
                             </div>
                        </form>
                    {% endif %}                      
                </div>           
            </div>
        </div>
    </div>
    {% if not node.is_leaf_node %}
        <ul class="children my-0">
            {{ children }}
        </ul>
    {% endif %}
</div>