{% load humanize %}
{% load static %}
{% load i18n %}
{% load comments %}

<div {% if node.is_root_node %}class="parent"{% else %}class="child-of-{{ node.parent.id }}" style="display: none;"{% endif %}>
    <div class="media">
        <a class="float-left" href="#">
            <div class="avatar">
                <a href="{{ node.user.get_absolute_url }}">
                    {% if node.user.avatar %}
                        <img class="media-object" src="{{ node.user.avatar.image }}" />
                    {% else %}
                        <img class="media-object" src="{% static 'material-kit/img/placeholder.jpg' %}">
                    {% endif %}
                </a>
            </div>
        </a>
        <div class="media-body">
            <h4 class="media-heading text-left">
                <a href="{{ node.user.get_absolute_url }}">
                    {{ node.user.first_name }} 
                    {% for a in node.user.achievements.all %}
                        <span class="text-{{ a.color }}" data-toggle="tooltip" data-placement="top" data-html="true" title="<h6>{{ a.title }}</h6>{{ a.description }}">
                            <i class="fas fa-lg fa-{{ a.icon }}" data-fa-transform="shrink-10 up-.5" data-fa-mask="fas fa-bookmark"></i>
                        </span>
                    {% endfor %}
                    <small> &middot; {{ node.submit_date|naturaltime }}</small>
                </a>
            </h4>
            <p class="text-left">{{ node.comment }}</p>               
            <div class="media-footer">
                
                {% if not node.is_leaf_node %}
                    <a href="javascript:toggleDiv('child-of-{{ node.id }}');" class="btn btn-link float-right" data-toggle="tooltip" data-placement="bottom" rel="tooltip" data-original-title="{% trans 'Show replies' %}">
                        <i class="fal fa-comments fa-lg comment-icon"></i> {{ node.get_descendant_count }}
                    </a>
                {% endif %}

                {% if user.is_authenticated %}
                
                    <a href="javascript:toggleDiv('{{ node.id }}-reply-form');" class="btn btn-link float-right">
                        <i class="fal fa-reply fa-lg comment-icon"></i>
                    </a>                    

                    {% get_comment_form for object as form %}
                    <form class="{{ node.id }}-reply-form" action="{% comment_form_target %}" method="POST" style="display: none;">
                        {% csrf_token %}
                        <div class="media-body">
                            <div class="form-group has-warning">
                                <textarea style="padding: 10px;" name="comment" id="comment-{{ node.id }}-{{ comment_order }}" class="form-control" placeholder="{% trans 'Write your comment' %}." rows="3" required></textarea>
                            </div>                                                        

                            <input type="hidden" name="content_type" value="{{ form.content_type.value }}" id="id_content_type-{{ node.id }}-{{ comment_order }}" />
                            <input type="text" name="honeypot" class="form-control honeypot" id="id_honeypot-{{ node.id }}-{{ comment_order }}" />
                            <input type="hidden" name="object_pk" value="{{ form.object_pk.value }}" id="id_object_pk-{{ node.id }}-{{ comment_order }}" />
                            <input type="hidden" name="timestamp" value="{{ form.timestamp.value }}" id="id_timestamp-{{ node.id }}-{{ comment_order }}" />
                            <input type="hidden" name="security_hash" value="{{ form.security_hash.value }}" id="id_security_hash-{{ node.id }}-{{ comment_order }}" />
                                
                            {% if node.id %}    
                                <input type="hidden" name="parent" value="{{ node.id }}" />
                            {% endif %}

                            <div class="media-footer">
                                <input class="btn btn-warning btn-round btn-wd float-right" type="submit" value="Post" id="id_submit-{{ node.id }}-{{ comment_order }}" />
                            </div>
                        </div>
                    </form>
                
                {% endif %}

                <a data-href="{% url 'comments:promote-toggle-api' node.id %}" href="{% url 'comments:promote-toggle' node.id %}" data-promotions="{{ node.promotions.count }}" class="btn btn-link btn-promote float-right {% if node.user_has_promoted %}btn-warning{% endif %} {% if not user.is_authenticated %}disabled{% endif %}">
                        <i class="fal fa-thumbs-up fa-lg comment-icon"></i> {{ node.promotions.count }}
                </a>

            </div>
            {% if not node.is_leaf_node %}
                <ul class="children">
                    {{ children }}
                </ul>
            {% endif %}
        </div>
    </div>
</div>